{% extends "core/object.html" %}
{% block contents %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ object.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Correspondence</div>
        <div class="col-sm dots">{{ object.correspondence|dots }}</div>
        <div class="col-sm">Life</div>
        <div class="col-sm dots">{{ object.life|dots }}</div>
        <div class="col-sm">Prime</div>
        <div class="col-sm dots">{{ object.prime|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Entropy</div>
        <div class="col-sm dots">{{ object.entropy|dots }}</div>
        <div class="col-sm">Matter</div>
        <div class="col-sm dots">{{ object.matter|dots }}</div>
        <div class="col-sm">Spirit</div>
        <div class="col-sm dots">{{ object.spirit|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Forces</div>
        <div class="col-sm dots">{{ object.forces|dots }}</div>
        <div class="col-sm">Mind</div>
        <div class="col-sm dots">{{ object.mind|dots }}</div>
        <div class="col-sm">Time</div>
        <div class="col-sm dots">{{ object.time|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Cost</div>
        <div class="col-sm">{{ object.rote_cost }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ object.description }}</div>
    </div>
{% endblock contents %}
