{% extends "core/form.html" %}
{% block creation_title %}
    Create Effect
{% endblock creation_title %}
{% block contents %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
    </div>
    {% include "characters/mage/spheres/form.html" %}
    <div class="row">
        <div class="col-sm">Cost</div>
        <div class="col-sm">{{ form.rote_cost }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ form.description }}</div>
    </div>
{% endblock contents %}
