{% extends "characters/werewolf/wtahuman/detail.html" %}
{% load dots %}
{% load sanitize_text %}
{% block basics %}
    {% include "characters/werewolf/garou/basics_display_include.html" %}
{% endblock basics %}
{% block advantages %}
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Advantages</h2>
    </div>
    <div class="row">
        <div class="col-sm">Willpower</div>
        <div class="col-sm dots">{{ object.willpower|dots:10 }}</div>
        <div class="col-sm">Gnosis</div>
        <div class="col-sm dots">{{ object.gnosis|dots:10 }}</div>
        <div class="col-sm">Rage</div>
        <div class="col-sm dots">{{ object.rage|dots:10 }}</div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm dots">{{ object.temporary_willpower|boxes:10 }}</div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Renown</h2>
    </div>
    <div class="row">
        <div class="col-sm">Glory</div>
        <div class="col-sm dots">{{ object.glory|dots:10 }}</div>
        <div class="col-sm">Honor</div>
        <div class="col-sm dots">{{ object.honor|dots:10 }}</div>
        <div class="col-sm">Wisdom</div>
        <div class="col-sm dots">{{ object.wisdom|dots:10 }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Temporary Glory</div>
        <div class="col-sm dots">{{ object.temporary_glory|dots:10 }}</div>
        <div class="col-sm">Temporary Honor</div>
        <div class="col-sm dots">{{ object.temporary_honor|dots:10 }}</div>
        <div class="col-sm">Temporary Wisdom</div>
        <div class="col-sm dots">{{ object.temporary_wisdom|dots:10 }}</div>
    </div>
{% endblock advantages %}
{% block backgrounds %}
    {% include "characters/core/background_block/detail.html" %}
{% endblock backgrounds %}
{% block powers %}
    {% block gifts %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Gifts</h2>
        </div>
        <div class="row">
            {% for gift in object.gifts.all %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <div class="mt-2">
                                <a href={{ gift.get_absolute_url }}>{{ gift }}</a>
                            </div>
                            <div class="d-inline-flex align-items-center">
                                <div class="dots ml-2">Rank {{ gift.rank }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">No Gifts.</div>
            {% endfor %}
        </div>
    {% endblock gifts %}
    {% block rites %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Rites</h2>
        </div>
        {% for row in rites %}
            <div class="row">
                {% for rite in row %}<a class="col-sm" href="{{ rite.get_absolute_url }}">{{ rite.name }}</a>{% endfor %}
            </div>
        {% endfor %}
    {% endblock rites %}
    {% block fetishes %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Fetishes</h2>
        </div>
        {% for fetish in object.fetishes_owned.all %}
            <div class="row">
                <a class="col-sm" href="{{ fetish.get_absolute_url }}">{{ fetish.name }}</a>
            </div>
        {% endfor %}
    {% endblock fetishes %}
{% endblock powers %}
{% block appearance %}
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Appearance</h2>
    </div>
    <div class="row">
        <div class="col-sm">Date of Birth</div>
        <div class="col-sm">{{ object.date_of_birth }}</div>
        <div class="col-sm">Age of First Change</div>
        <div class="col-sm">{{ object.age_of_first_change }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Apparent Age</div>
        <div class="col-sm">{{ object.apparent_age }}</div>
        <div class="col-sm">Age</div>
        <div class="col-sm">{{ object.age }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ object.description|sanitize_html|linebreaks }}</div>
    </div>
{% endblock appearance %}
{% block history %}
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">History</h2>
    </div>
    <div class="row">
        <div class="col-sm">Childhood</div>
        <div class="col-sm">{{ object.childhood|sanitize_html|linebreaks }}</div>
    </div>
    <div class="row">
        <div class="col-sm">History</div>
        <div class="col-sm">{{ object.history|sanitize_html|linebreaks }}</div>
    </div>
    <div class="row">
        <div class="col-sm">First Change</div>
        <div class="col-sm">{{ object.first_change|sanitize_html|linebreaks }}</div>
        <div class="col-sm">Battle Scars</div>
        <div class="col-sm">
            {% for scar in object.battle_scars.all %}<a href="{{ scar.get_absolute_url }}">{{ scar.name }},</a>{% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">Goals</div>
        <div class="col-sm">{{ object.goals|sanitize_html|linebreaks }}</div>
        <div class="col-sm">Notes</div>
        <div class="col-sm">{{ object.notes|sanitize_html|linebreaks }}</div>
    </div>
{% endblock history %}
{% block xp %}
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Experience</h2>
    </div>
    <div class="row">
        <div class="col-sm">Experience Points</div>
        <div class="col-sm">{{ object.xp }}</div>
        <div class="col-sm">Spent XP</div>
        <div class="col-sm">{{ object.spent_xp }}</div>
    </div>
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Renown Incidents</h2>
    </div>
    {% for incident in object.renown_incidents %}
        <div class="row">
            <div class="col-sm"></div>
            <a class="col-sm" href="{{ incident.get_absolute_url }}">{{ incident }}</a>
            <div class="col-sm"></div>
        </div>
    {% endfor %}
{% endblock xp %}
