{% extends "core/base.html" %}
{% block title %}
    {{ object.name }}
{% endblock title %}
{% block content %}
    {% load sanitize_text %}
    {% load location_tags %}
    <div class="container centertext">
        <div class="row">
            <h2 class="col-sm {{ object.headings }} centertext">{{ object.name }}</h2>
        </div>
        <div class="row centertext">
            <div class="col-sm">Storytellers</div>
            <div class="col-sm">
                {% for st in object.storytellers.distinct %}
                    {% if not forloop.last %}
                        <a href="{{ st.profile.get_absolute_url }}">{{ st }}</a>,
                    {% else %}
                        <a href="{{ st.profile.get_absolute_url }}">{{ st }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row centertext">
            <div class="col-sm">Theme</div>
            <div class="col-sm">{{ object.theme }}</div>
        </div>
        <div class="row centertext">
            <div class="col-sm">Mood</div>
            <div class="col-sm">{{ object.mood }}</div>
        </div>
        <div class="row centertext">
            <div class="col-sm">Year</div>
            <div class="col-sm">{{ object.year }}</div>
        </div>
        <div class="row centertext">
            <div class="col-sm">Common Knowledge</div>
            <div class="col-sm">
                {% for se in object.common_knowledge_elements.all %}
                    <b>{{ se.name }}</b>
                    <br>
                    {{ se.description }}
                    <br>
                {% endfor %}
            </div>
        </div>
        {% include "characters/charlist_include.html" with object_list=character_list %}
        <div class="row">
            <h3 class="col-sm {{ object.headings }} centertext">Locations</h3>
        </div>
        {% for loc in top_locations %}
            {% show_location loc indent_level=0 %}
        {% endfor %}
        <div class="row centertext">
            <h3 class="col-sm {{ object.headings }}">Items</h3>
        </div>
        {% for item in items %}
            <div class="row border centertext">
                <a class="col-sm border" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                <div class="col-sm border">{{ item.type.title }}</div>
            </div>
        {% endfor %}
        <div class="row centertext">
            <h3 class="col-sm {{ object.headings }}">
                <a href="{{ object.get_scenes_url }}">Scene List</a>
            </h3>
        </div>
        <div class="row border">
            <h3 class="col-sm border {{ chronicle.headings }} pointer"
                data-toggle="collapse"
                data-target="#scenes-Section"
                aria-expanded="true"
                aria-controls="scenes-Section">Active Scenes</h3>
        </div>
        <div id="scenes-Section" class="collapse show">
            <div class="row border">
                <div class="col-sm border">
                    <b>Title</b>
                </div>
                <div class="col-sm border">
                    <b>Date Played</b>
                </div>
                <div class="col-sm border">
                    <b>Date of Scene</b>
                </div>
                <div class="col-sm border">
                    <b>Last Post Character</b>
                </div>
                <div class="col-sm border">
                    <b>Last Post Date</b>
                </div>
            </div>
            {% for scene in active_scenes %}
                <div class="row border">
                    <a class="col-sm border" href="{{ scene.get_absolute_url }}">{{ scene.name }}
                        {% if not scene.finished %}- <b>Ongoing</b>{% endif %}
                    </a>
                    <a class="col-sm border" href="{{ scene.location.get_absolute_url }}">{{ scene.location }}</a>
                    <div class="col-sm border">{{ scene.date_of_scene|date:"F d, Y" }}</div>
                    <div class="col-sm border">{{ scene.most_recent_post.display_name }}</div>
                    <div class="col-sm border">{{ scene.most_recent_post.datetime_created }}</div>
                </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
            <div class="row centertext">
                <h4 class="col-sm {{ object.headings }}">
                    <div>New Scene</div>
                </h4>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm">{{ form.name }}</div>
                    <div class="col-sm">{{ form.location }}</div>
                    <div class="col-sm">{{ form.date_of_scene }}</div>
                    <div class="col-sm">
                        <input type="submit" name="create_scene" value="Create Scene" />
                    </div>
                </div>
            </form>
            {% if request.user.profile.is_st %}
                <form method="post" action="">
                    {% csrf_token %}
                    <h4 class="col-sm {{ object.headings }}">
                        <div>New Story</div>
                    </h4>
                    <div class="row">
                        <div class="col-sm">{{ story_form.name }}</div>
                        <div class="col-sm">
                            <input type="submit" name="create_story" value="Create Story" />
                        </div>
                    </div>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
