{% extends "core/base.html" %}
{% block title %}
    {{ gameline }} Locations
{% endblock title %}
{% block content %}
    {% load field %}
    {% load sanitize_text %}
    {% load location_tags %}
    <div class="container">
        <div class="row border">
            <h2 class="col-sm border centertext {{ header }}">Location</h2>
        </div>
        {% for chron in chrondict.keys %}
            <div class="row border">
                {% if chron == None %}
                    <h3 class="col-sm border centertext {{ header }}">No Chronicle</h3>
                {% else %}
                    <h3 class="col-sm border centertext {{ header }}">
                        <a href={{ chron.get_absolute_url }}>{{ chron.name }}</a>
                    </h3>
                {% endif %}
            </div>
            {% for loc in chrondict|field:chron %}
                {% show_location loc indent_level=0 %}
            {% endfor %}
        {% endfor %}
    </div>
    <form id="locForm" class="centertext container" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm">
                {{ form.loc_type }}
                <button type="submit" name="action" value="create">Create</button>
            </div>
        </div>
    </form>
{% endblock content %}
