{% extends "core/base.html" %}
{% block title %}
    {{ gameline }} Locations
{% endblock title %}
{% block content %}
    {% load field %}
    <div class="container">
        <div class="row border">
            <h2 class="col-sm border centertext">Location</h2>
        </div>
        {% for chron in chrondict.keys %}
            <div class="row border">
                {% if chron == None %}
                    <h3 class="col-sm border centertext">No Chronicle</h3>
                {% else %}
                    <h3 class="col-sm border centertext">
                        <a href={{ chron.get_absolute_url }}>{{ chron.name }}</a>
                    </h3>
                {% endif %}
            </div>
            {% for name, loc in chrondict|field:chron %}
                <div class="row border">
                    <a class="col-sm border" href="{{ loc.get_absolute_url }}">{{ name|safe }}</a>
                    <div class="col-sm border">{{ loc.owner.username }}</div>
                    <div class="col-sm border">{{ loc.type.title }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <form id="locForm" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">{{ form.loc_type }}</div>
            <div class="col-sm">{{ form.name }}</div>
            <div class="col-sm">{{ form.rank }}</div>
            <div class="col-sm">
                <button type="submit" name="action" value="create">Create</button>
                <button type="submit" name="action" value="random">Random</button>
            </div>
        </div>
    </form>
{% endblock content %}
