{% load sanitize_text %}
{% load location_tags %}
<div class="row border pointer"
     data-toggle="collapse"
     data-target="#loc-{{ location.id }}-Section"
     aria-expanded="true"
     aria-controls="loc-{{ location.id }}-Section">
    <div class="col-sm border lefttext">
        <a href="{{ location.get_absolute_url }}"
           style="padding-left: {{ indent_level }}px">{{ location.name|sanitize_html }}</a>
    </div>
    <div class="col-sm border centertext">{{ location.owner.username }}</div>
    <div class="col-sm border centertext">{{ location.type.title }}</div>
</div>
{% if location.children.all %}
    <div id="loc-{{ location.id }}-Section" class="collapse show">
        {% for child in location.children.all %}
            {% show_location child indent_level=indent_level|add:"20" %}
        {% endfor %}
    </div>
{% endif %}
