{% extends "core/base.html" %}
{% block title %}
    {{ object.name }}
{% endblock title %}
{% block content %}
    {% load sanitize_text %}
    <div class="container">
        <div class="centertext">
            <div class="row">
                <h2 class="col-sm {{ object.chronicle.headings }}">{{ object.name }}</h2>
            </div>
            <div class="row">
                <h4 class="col-sm {{ object.chronicle.headings }}">{{ object.date_of_scene }}</h4>
            </div>
            <div class="row">
                <h3 class="col-sm {{ object.chronicle.headings }}">
                    <a href="{{ object.location.get_absolute_url }}">{{ object.location.name }}</a>
                </h3>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="col-sm">{{ object.location.description|sanitize_html }}</div>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
        </div>
        {% block errors %}
            {% if post_form.non_field_errors %}
                {% for error in post_form.non_field_errors %}<p class="alert centertext">{{ error }}</p>{% endfor %}
            {% endif %}
        {% endblock errors %}
        {% for post in object.post_set.all %}
            <div class="row">
                <div class="col-sm">
                    <p class="post">
                        <b {% if post.character.owner.profile.is_st %}class="st"{% elif post.character.owner == request.user %}class="highlight"{% endif %}><a class="text-link" href="{{ post.character.get_absolute_url }}">{{ post.display_name }}</a></b>:
                        {{ post.message|quote_tag|sanitize_html }}
                    </p>
                </div>
            </div>
        {% endfor %}
        {% if not object.finished %}
            {% if request.user.is_authenticated %}
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm">
                            {% if num_logged_in_chars == 1 %}
                                {{ first_char }}
                            {% else %}
                                {{ post_form.character }}
                            {% endif %}
                            {{ post_form.display_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">{{ post_form.message }}</div>
                    </div>
                    <input type="submit" value="Post" />
                </form>
                {% if num_chars != 0 %}
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ add_char_form.character_to_add }}
                        <input type="submit" value="Add" />
                    </form>
                {% endif %}
                <form class="inlineforms" method="post" action="">
                    {% csrf_token %}
                    <input type="submit" value="Close Scene" name="close_scene" />
                </form>
                <div class="row">
                    <a class="col-sm" href="{% url 'game:commands' %}">List of Commands</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
