{% extends "core/base.html" %}
{% block title %}
{{ object.name }}
{% endblock title %}
{% block content %}
{% load sanitize_text %}
<div class="container">
    <div class="centertext">
        <div class="row">
            <h2 class="col-sm {{ object.chronicle.headings }}">{{ object.name }}</h2>
        </div>
        <div class="row">
            <h3 class="col-sm {{ object.chronicle.headings }}">
                <a href="{{ object.location.get_absolute_url }}">{{ object.location.name }}</a>
            </h3>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="col-sm">{{ object.location.description|sanitize_html }}</div>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
    </div>
    {% block errors %}
    {% if post_form.non_field_errors %}
    {% for error in post_form.non_field_errors %}<p class="alert centertext">{{ error }}</p>{% endfor %}
    {% endif %}
    {% endblock errors %}
    {% for post in object.post_set.all %}
    <div class="row">
        <div class="col-sm">
            <p>
                <b {% if post.character.owner.profile.is_st %}class="st" {% endif %}>{{ post.display_name }}</b>:
                {{ post.message|quote_tag|sanitize_html }}
            </p>
        </div>
    </div>
    {% endfor %}
    {% if not object.finished %}
    {% if request.user.is_authenticated %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm">
                {% if num_logged_in_chars == 1 %}
                {{ first_char }}
                {% else %}
                {{ post_form.character }}
                {% endif %}
                {{ post_form.display_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">{{ post_form.message }}</div>
        </div>
        <input type="submit" value="Post" />
    </form>
    <button onClick="location.href = window.location.href;">Refresh</button>
    {% if num_chars != 0 %}
    <form method="post" action="">
        {% csrf_token %}
        {{ add_char_form.character_to_add }}
        <input type="submit" value="Add" />
    </form>
    {% endif %}
    <form class="inlineforms" method="post" action="">
        {% csrf_token %}
        <input type="submit" value="Close Scene" name="close_scene" />
    </form>
    {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-inline-flex align-items-center">
                        <div>
                            <b>Roll</b>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="dots ml-2">/roll &ltnum_dice&gt difficulty &ltdiff&gt &ltspecialty&gt</div>
                    </div>
                    <div class="mt-2">Example: /roll 5 difficulty 6 specialty True</div>
                    <ul class="mt-2">
                        &ltnum_dice&gt the number of dice to roll
                    </ul>
                    <ul class="mt-2">
                        &ltdiff&gt the difficulty
                    </ul>
                    <ul class="mt-2">
                        &ltspecialty&gt True or False depending on if you have a relevant specialty
                    </ul>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-inline-flex align-items-center">
                    <div>
                        <b>Multiple Rolls</b>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="dots ml-2">/rolls &ltnum_rolls&gt @ &ltnum_dice&gt difficulty &ltdiff&gt &ltspecialty&gt
                    </div>
                </div>
                <div class="mt-2">Example: /rolls 5 rolls @ 5 difficulty 6 True</div>
                <div class="mt-2">Warning: This will roll until botch and increase difficulty on failures</div>
                <ul class="mt-2">
                    &ltnum_rolls&gt the number of times to roll
                </ul>
                <ul class="mt-2">
                    &ltnum_dice&gt the number of dice to roll
                </ul>
                <ul class="mt-2">
                    &ltdiff&gt the difficulty
                </ul>
                <ul class="mt-2">
                    &ltspecialty&gt True or False depending on if you have a relevant specialty
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}