{% extends "core/base.html" %}
{% block title %}
    {{ gameline }} House Rules
{% endblock title %}
{% block content %}
    {% load sanitize_text %}
    {% load field %}
    <div class="centertext container">
        <div class="row border">
            <h3 class="col-sm border {{ header }}">House Rules</h3>
        </div>
        {% for hr in object_list %}
            <div class="row border">
                <div class="col-sm border"">{{ hr.name }}
                </div>
                <div class="col-sm border">{{ hr.display_sources|sanitize_html }}</div>
                <div class="col-sm border">{{ hr.description }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
