{% extends "core/base.html" %}
{% block title %}
    {{ gameline }} Items
{% endblock title %}
{% block content %}
    {% load field %}
    <div class="centertext container">
        <div class="row border">
            <h2 class="col-sm border">Items</h2>
        </div>
        {% for chron in chron_dict.keys %}
            <div class="row border">
                {% if chron == None %}
                    <h3 class="col-sm border centertext">No Chronicle</h3>
                {% else %}
                    <h3 class="col-sm border centertext">
                        <a href={{ chron.get_absolute_url }}>{{ chron.name }}</a>
                    </h3>
                {% endif %}
            </div>
            {% for item in chron_dict|field:chron %}
                {% if item.display %}
                    <div class="row border">
                        <a class="col-sm border" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                        <div class="col-sm border">{{ item.owner.username }}</div>
                        <div class="col-sm border">{{ item.type.title }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <form id="itemForm" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">{{ form.item_type }}</div>
            <div class="col-sm">{{ form.name }}</div>
            <div class="col-sm">{{ form.rank }}</div>
            <div class="col-sm">
                <button type="submit" name="action" value="create">Create</button>
                <button type="submit" name="action" value="index">Index</button>
                <button type="submit" name="action" value="random">Random</button>
            </div>
        </div>
    </form>
{% endblock content %}
