{% extends "core/object.html" %}
{% block contents %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ object.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Tribe</div>
        <a class="col-sm" href="{{ object.tribe.get_absolute_url }}">{{ object.tribe }}</a>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ object.description }}</div>
    </div>
{% endblock contents %}
