{% load dots %}
{% load get_specialty %}
<div class="row">
    <h2 class="col-sm {{ object.get_heading }} pointer"
        data-toggle="collapse"
        data-target="#attributesSection"
        aria-expanded="true"
        aria-controls="attributesSection">Attributes</h2>
</div>
<div id="attributesSection" class="collapse show multi-collapse">
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Physical</h3>
        <h3 class="col-sm {{ object.get_heading }}">Social</h3>
        <h3 class="col-sm {{ object.get_heading }}">Mental</h3>
    </div>
    <div class="row">
        <div class="col-sm">
            Strength
            {% if object|get_specialty:'strength' %}({{ object|get_specialty:'strength' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.strength|dots }}</div>
        <div class="col-sm">
            Charisma
            {% if object|get_specialty:'charisma' %}({{ object|get_specialty:'charisma' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.charisma|dots }}</div>
        <div class="col-sm">
            Perception
            {% if object|get_specialty:'perception' %}({{ object|get_specialty:'perception' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.perception|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Dexterity
            {% if object|get_specialty:'dexterity' %}({{ object|get_specialty:'dexterity' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.dexterity|dots }}</div>
        <div class="col-sm">
            Manipulation
            {% if object|get_specialty:'manipulation' %}({{ object|get_specialty:'manipulation' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.manipulation|dots }}</div>
        <div class="col-sm">
            Intelligence
            {% if object|get_specialty:'intelligence' %}({{ object|get_specialty:'intelligence' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.intelligence|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Stamina
            {% if object|get_specialty:'stamina' %}({{ object|get_specialty:'stamina' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.stamina|dots }}</div>
        <div class="col-sm">
            Appearance
            {% if object|get_specialty:'appearance' %}({{ object|get_specialty:'appearance' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.appearance|dots }}</div>
        <div class="col-sm">
            Wits
            {% if object|get_specialty:'wits' %}({{ object|get_specialty:'wits' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.wits|dots }}</div>
    </div>
</div>
