{% extends "locations/core/location/form.html" %}
{% block creation_title %}
    Create Chantry
{% endblock creation_title %}
{% block other %}
    <div class="row">
        <div class="col-sm">Faction</div>
        <div class="col-sm">{{ form.faction }}</div>
        <div class="col-sm">Season</div>
        <div class="col-sm">{{ form.season }}</div>
        <div class="col-sm">Type</div>
        <div class="col-sm">{{ form.chantry_type }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Chronicle</div>
        <div class="col-sm">{{ form.chronicle }}</div>
        <div class="col-sm">Leadership Type</div>
        <div class="col-sm">{{ form.leadership_type }}</div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    </div>
    <h3 class="row {{ object.get_heading }}">
        <div class="col-sm">Points</div>
        <div class="col-sm">{{ form.total_points }}</div>
    </h3>
{% endblock other %}
