{% extends "locations/core/location/detail.html" %}
{% block prominents %}
<div class="row">
    <div class="col-sm">Faction</div>
    <div class="col-sm">{{ factions|safe }}</div>
    <div class="col-sm">Season</div>
    <div class="col-sm">{{ object.get_season_display }}</div>
    <div class="col-sm">Type</div>
    <div class="col-sm">{{ object.get_chantry_type_display }}</div>
</div>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">Leadership Type</div>
    <div class="col-sm">{{ object.get_leadership_type_display }}</div>
    <div class="col-sm">Rank</div>
    <div class="col-sm">{{ object.rank }}</div>
    <div class="col-sm"></div>
</div>
<div class="row">
    <h3 class="col-sm {{ object.get_heading }}">Leaders</h3>
</div>
{% for leader in object.leaders.all %}
<div class="row">
    <a class="col-sm" href="{{ leader.get_absolute_url }}">{{ leader.name }}</a>
</div>
{% endfor %}
<div class="row">
    {% if object.ambassador %}
    <div class="col-sm">Ambassador</div>
    <a class="col-sm" href="{{ object.ambassador.get_absolute_url }}">{{ object.ambassador.name }}</a>
    {% endif %}
    {% if object.node_tender %}
    <div class="col-sm">Node Tender</div>
    <a class="col-sm" href="{{ object.node_tender.get_absolute_url }}">{{ object.node_tender.name }}</a>
    {% endif %}
</div>
{% if object.investigator.count != 0 %}
<div class="row">
    <div class="col-sm">Investigators</div>
</div>
{% for character in object.investigator.all %}
<div class="row">
    <a class="col-sm" href={{ character.get_absolute_url }}>{{ character.name }}</a>
</div>
{% endfor %}
{% endif %}
{% if object.guardian.count != 0 %}
<div class="row">
    <div class="col-sm">Guardians</div>
</div>
{% for character in object.guardian.all %}
<div class="row">
    <a class="col-sm" href={{ character.get_absolute_url }}>{{ character.name }}</a>
</div>
{% endfor %}
{% endif %}
{% if object.teacher.count != 0 %}
<div class="row">
    <div class="col-sm">Teachers</div>
</div>
{% for character in object.teacher.all %}
<div class="row">
    <a class="col-sm" href={{ character.get_absolute_url }}>{{ character.name }}</a>
</div>
{% endfor %}
{% endif %}
{% endblock prominents %}
{% block other %}
<div class="row">
    <div class="col-sm">Integrated Effects</div>
    <div class="col-sm">{{ object.integrated_effects }}</div>
</div>
<h3 class="row {{ object.get_heading }}">
    <div class="col-sm">Points</div>
    <div class="col-sm">{{ object.points }}/{{ object.total_points }}</div>
</h3>
{% include "characters/core/background_block/detail.html" %}
<h2 class="row {{ object.get_heading }}">
    <div class="col-sm">Cabals</div>
</h2>
{% for cabal in object.cabals.all %}
<div class="row">
    <div class="col-sm">
        <h3 class="{{ object.get_heading }} pointer" data-toggle="collapse" data-target="#cabal-{{ cabal.id }}Section"
            aria-expanded="true" aria-controls="cabal-{{ cabal.id }}Section">
            <a href="{{ cabal.get_absolute_url }}">{{ cabal.name }}</a>
        </h3>
    </div>
</div>
<div id="cabal-{{ cabal.id }}Section" class="collapse show">
    {% for member in cabal.members.all %}
    <div class="row">
        <div class="col-sm">
            <a class="col-sm" href={{ member.get_absolute_url }}>{{ member.name }}</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock other %}