{% block integrated_effects %}
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }} pointer"
            data-toggle="collapse"
            data-target="#integrated_effectsSection"
            aria-expanded="true"
            aria-controls="integrated_effectsSection">Integrated Effects</h2>
    </div>
    <div id="integrated_effectsSection" class="collapse show multi-collapse">
        <h3 class="row {{ object.get_heading }}">
            <div class="col-sm">Integrated Effects</div>
            <div class="col-sm">{{ object.current_ie_points }}/{{ object.integrated_effects_number }}</div>
        </h3>
        <div class="row">
            {% for effect in object.integrated_effects.all %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="{{ effect.get_absolute_url }}">{{ effect.name }}</a>
                            <div class="dots">{{ effect.spheres }}</div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">No effects available.</div>
            {% endfor %}
        </div>
    </div>
{% endblock integrated_effects %}
