<div class="row">
    <h3 class="col-sm {{ object.get_heading }}">Leaders</h3>
</div>
{% for leader in object.leaders.all %}
    <div class="row">
        <a class="col-sm" href="{{ leader.get_absolute_url }}">{{ leader.name }}</a>
    </div>
{% endfor %}
<div class="row">
    {% if object.ambassador %}
        <div class="col-sm">Ambassador</div>
        <a class="col-sm" href="{{ object.ambassador.get_absolute_url }}">{{ object.ambassador.name }}</a>
    {% endif %}
    {% if object.node_tender %}
        <div class="col-sm">Node Tender</div>
        <a class="col-sm" href="{{ object.node_tender.get_absolute_url }}">{{ object.node_tender.name }}</a>
    {% endif %}
</div>
{% if object.investigator.count != 0 %}
    <div class="row">
        <div class="col-sm">Investigators</div>
    </div>
    {% for character in object.investigator.all %}
        <div class="row">
            <a class="col-sm" href={{ character.get_absolute_url }}>{{ character.name }}</a>
        </div>
    {% endfor %}
{% endif %}
{% if object.guardian.count != 0 %}
    <div class="row">
        <div class="col-sm">Guardians</div>
    </div>
    {% for character in object.guardian.all %}
        <div class="row">
            <a class="col-sm" href={{ character.get_absolute_url }}>{{ character.name }}</a>
        </div>
    {% endfor %}
{% endif %}
{% if object.teacher.count != 0 %}
    <div class="row">
        <div class="col-sm">Teachers</div>
    </div>
    {% for character in object.teacher.all %}
        <div class="row">
            <a class="col-sm" href={{ character.get_absolute_url }}>{{ character.name }}</a>
        </div>
    {% endfor %}
{% endif %}
<h2 class="row {{ object.get_heading }}">
    <div class="col-sm">Cabals</div>
</h2>
{% for cabal in object.cabals.all %}
    <div class="row">
        <div class="col-sm">
            <h3 class="{{ object.get_heading }} pointer"
                data-toggle="collapse"
                data-target="#cabal-{{ cabal.id }}Section"
                aria-expanded="true"
                aria-controls="cabal-{{ cabal.id }}Section">
                <a href="{{ cabal.get_absolute_url }}">{{ cabal.name }}</a>
            </h3>
        </div>
    </div>
    <div id="cabal-{{ cabal.id }}Section" class="collapse show">
        {% for member in cabal.members.all %}
            <div class="row">
                <div class="col-sm">
                    <a class="col-sm" href={{ member.get_absolute_url }}>{{ member.name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
