{% load dots %}
<div class="row">
    <h2 class="col-sm {{ object.get_heading }}">Advantages</h2>
</div>
<div class="row">
    <div class="col-sm">Willpower</div>
    <div class="col-sm dots">{{ object.willpower|dots:10 }}</div>
    {% if object.gnosis %}
        <div class="col-sm">Gnosis</div>
        <div class="col-sm dots">{{ object.gnosis|dots:10 }}</div>
    {% endif %}
</div>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm dots">{{ object.temporary_willpower|boxes:10 }}</div>
    {% if object.gnosis %}
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    {% endif %}
</div>
{% if object.glory or object.honor or object.wisdom or object.temporary_glory or object.temporary_honor or object.temporary_wisdom %}
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Renown</h2>
    </div>
    <div class="row">
        <div class="col-sm">Glory</div>
        <div class="col-sm dots">{{ object.glory|dots:10 }}</div>
        <div class="col-sm">Honor</div>
        <div class="col-sm dots">{{ object.honor|dots:10 }}</div>
        <div class="col-sm">Wisdom</div>
        <div class="col-sm dots">{{ object.wisdom|dots:10 }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Temporary Glory</div>
        <div class="col-sm dots">{{ object.temporary_glory|dots:10 }}</div>
        <div class="col-sm">Temporary Honor</div>
        <div class="col-sm dots">{{ object.temporary_honor|dots:10 }}</div>
        <div class="col-sm">Temporary Wisdom</div>
        <div class="col-sm dots">{{ object.temporary_wisdom|dots:10 }}</div>
    </div>
{% endif %}
