{% extends "characters/werewolf/wtahuman/detail.html" %}
{% load dots %}
{% block title %}
    Kinfolk
{% endblock title %}
{% block basics %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">Basics</h2>
    </div>
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
        <div class="col-sm">Nature</div>
        <a class="col-sm" href="{{ form.nature.get_absolute_url }}">{{ form.nature }}</a>
        <div class="col-sm">Tribe</div>
        <a class="col-sm" href="{{ form.tribe.get_absolute_url }}">{{ form.tribe.name }}</a>
    </div>
    <div class="row">
        <div class="col-sm">Player</div>
        <div class="col-sm">{{ form.player }}</div>
        <div class="col-sm">Demeanor</div>
        <a class="col-sm" href="{{ form.demeanor.get_absolute_url }}">{{ form.demeanor }}</a>
        <div class="col-sm">Relation</div>
        <div class="col-sm">{{ form.relation }}</div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">Concept</div>
        <div class="col-sm">{{ form.concept }}</div>
        <div class="col-sm">Breed</div>
        <div class="col-sm">{{ form.get_breed_display }}</div>
    </div>
{% endblock basics %}
{% block advantages %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">Advantages</h2>
    </div>
    <div class="row">
        <div class="col-sm">Willpower</div>
        <div class="col-sm dots">{{ form.willpower|dots:10 }}</div>
        <div class="col-sm">Gnosis</div>
        <div class="col-sm dots">{{ form.gnosis|dots:10 }}</div>
    </div>
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">Renown</h2>
    </div>
    <div class="row">
        <div class="col-sm">Glory</div>
        <div class="col-sm dots">
            {{ form.glory|dots:10 }}
        </div>
        <div class="col-sm">
            Honor
        </div>
        <div class="col-sm dots">
            {{ form.honor|dots:10 }}
        </div>
        <div class="col-sm">
            Wisdom
        </div>
        <div class="col-sm dots">
            {{ form.wisdom|dots:10 }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Temporary Glory
        </div>
        <div class="col-sm dots">
            {{ form.temporary_glory|dots:10 }}
        </div>
        <div class="col-sm">
            Temporary Honor
        </div>
        <div class="col-sm dots">
            {{ form.temporary_honor|dots:10 }}
        </div>
        <div class="col-sm">
            Temporary Wisdom
        </div>
        <div class="col-sm dots">
            {{ form.temporary_wisdom|dots:10 }}
        </div>
    </div>
{% endblock advantages %}
{% block backgrounds %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">
            Backgrounds
        </h2>
    </div>
    <div class="row">
        <div class="col-sm">
            Allies
        </div>
        <div class="col-sm dots">
            {{ form.allies|dots }}
        </div>
        <div class="col-sm">
            Contacts
        </div>
        <div class="col-sm dots">
            {{ form.contacts|dots }}
        </div>
        <div class="col-sm">
            Mentor
        </div>
        <div class="col-sm dots">
            {{ form.mentor|dots }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            Pure Breed
        </div>
        <div class="col-sm dots">
            {{ form.pure_breed|dots }}
        </div>
        <div class="col-sm">
            Resources
        </div>
        <div class="col-sm dots">
            {{ form.resources|dots }}
        </div>
        <div class="col-sm">
        </div>
    </div>
{% endblock backgrounds %}
{% block powers %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">
            Gifts
        </h2>
    </div>
    {% for row in gifts %}
        <div class="row">
            {% for gift in row %}
                <a class="col-sm" href="{{ gift.get_absolute_url }}">
                    {{ gift.name }}
                </a>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">
            Fetishes
        </h2>
    </div>
    {% for fetish in form.fetishes_owned.all %}
        <div class="row">
            <a class="col-sm" href="{{ fetish.get_absolute_url }}">{{ fetish.name }}</a>
        </div>
    {% endfor %}
{% endblock powers %}
