@font-face {
    font-family: 'Abbess';
    src: url('../static/fonts/abbess-regular.ttf') format("truetype");
}

@font-face {
    font-family: 'MatrixTall';
    src: url('../static/fonts/MatrixTall.ttf') format("truetype");
}

@font-face {
    font-family: 'Caslon Antique';
    src: url('../static/fonts/cas_antn.ttf') format("truetype");
}

@font-face {
    font-family: 'Futura PT';
    src: url('../static/fonts/FuturaT-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Optima';
    src: url('../static/fonts/Optima-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Balthazar';
    src: url('../static/fonts/balthazarregular.ttf') format("truetype");
}

@font-face {
    font-family: 'Delavan';
    src: url('../static/fonts/delavan.TTF') format("truetype");
}

@font-face {
    font-family: 'Kells';
    src: url('../static/fonts/KellsFLF.ttf') format("truetype");
}

@font-face {
    font-family: 'OPTIProtea';
    src: url('../static/fonts/OPTIProtea.otf') format("opentype");
}

@font-face {
    font-family: 'EnvisionRoman';
    src: url('../static/fonts/Envision roman_0.ttf') format("truetype");
}

.vtm_heading {
    font-family: "Delavan", serif;
}

.wta_heading {
    font-family: "Balthazar", serif;
}

.mta_heading {
    font-family: "Abbess", serif;
}

.ctd_heading {
    font-family: "Kells", serif;
}

.wto_heading {
    font-family: "MatrixTall", serif;
}

.wod_heading {
    font-family: "OPTIProtea", serif;
}

.inlineforms {
    display: inline;
}

.headerimg {
    height: 30px;
    width: auto;
}

.margin {
    margin: 30px;
}

.dots {
    font-family: "Arial", sans-serif;
}

.centertext {
    text-align: center;
}

.lefttext {
    text-align: left;
}

.border {
    border: 1px solid gray;
}

.hidden {
    visibility: hidden;
}

.pointer {
    cursor: pointer;
}

.health-box {
    width: 24px;
    height: 24px;
    border: 2px solid currentColor;
    display: inline-block;
    position: relative;
    margin: 2px;
}

.bashing::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -13px;
    width: 28px;
    height: 28px;
    border-top: 2px solid currentColor;
    transform: rotate(45deg);
}

.lethal::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 28px;
    height: 28px;
    border-top: 2px solid currentColor;
    transform: rotate(-45deg);
}

.lethal::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -13px;
    width: 28px;
    height: 28px;
    border-top: 2px solid currentColor;
    transform: rotate(45deg);
}

.aggravated {
    background-image:
        /* Horizontal Line */
        linear-gradient(0deg,
            transparent 35%,
            currentColor 54%,
            currentColor 54%,
            transparent 35%),
        /* Diagonal Line from Top Left to Bottom Right */
        linear-gradient(45deg,
            transparent 45%,
            currentColor 46%,
            currentColor 54%,
            transparent 55%),
        /* Diagonal Line from Top Right to Bottom Left */
        linear-gradient(-45deg,
            transparent 45%,
            currentColor 46%,
            currentColor 54%,
            transparent 55%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

a.text-link {
    color: inherit !important;
    /* Force inheritance of body color */
    text-decoration: none !important;
    /* Remove underline */
}

.highlight {
    color: #9b59b6;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}

@media (max-width: 992px) {
    .dropdown-menu {
        width: 50%;
    }

    .dropdown-menu .dropdown-submenu {
        width: auto;
    }
}