{% extends "core/form.html" %}
{% block creation_title %}
    Create Pack
{% endblock creation_title %}
{% block contents %}
    <div class="row">
        <div class="col-sm {{ form.get_heading }}">
            <h1>{{ form.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Totem</div>
        <div class="col-sm">{{ form.totem }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Leader</div>
        <a class="col-sm" href={{ form.leader.get_absolute_url }}>{{ form.leader }}</a>
    </div>
    {% for member in form.members.all %}
        <div class="row">
            <div class="col-sm"></div>
            <a class="col-sm" href={{ member.get_absolute_url }}>{{ member }}</a>
            <div class="col-sm"></div>
        </div>
    {% endfor %}
{% endblock contents %}
