{% extends "core/base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    {% load field %}
    <div class="centertext container">
        {% include "characters/charlist_include.html" %}
        <div class="row centertext">
            <h4 class="col-sm {{ header }}">
                <a href="{% url 'characters:index' %}">Active</a>
            </h4>
            <h4 class="col-sm {{ header }}">
                <a href="{% url 'characters:retired' %}">Retired</a>
            </h4>
            <h4 class="col-sm {{ header }}">
                <a href="{% url 'characters:deceased' %}">Deceased</a>
            </h4>
            <h4 class="col-sm {{ header }}  ">
                <a href="{% url 'characters:npc' %}">NPC</a>
            </h4>
        </div>
        {% if button_include %}
            <form id="charForm" class="centertext container" method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm">
                        {{ form.char_type }}
                        <button type="submit" name="action" value="create">Create</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}
