{% regroup object_list by chronicle as newlist %}
{% for chron in newlist %}
    {% if not hide_chronicle %}
        <div class="row border">
            <h2 class="col-sm border centertext {{ chron.grouper.headings }} pointer"
                data-toggle="collapse"
                data-target="#chron-{{ chron.grouper.id }}Section"
                aria-expanded="true"
                aria-controls="chron-{{ chron.grouper.id }}Section">
                {% if chron.grouper %}
                    <a href="{{ chron.grouper.get_absolute_url }}">{{ chron.grouper }}</a>
                {% else %}
                    No Chronicle
                {% endif %}
            </h2>
        </div>
    {% endif %}
    <div id="chron-{{ chron.grouper.id }}Section" class="collapse show">
        {% regroup chron.list by group_set.first as grouplist %}
        {% for g in grouplist %}
            <div class="row border pointer"
                 data-toggle="collapse"
                 data-target="#group-{{ chron.grouper.id }}-{{ g.grouper.id }}Section"
                 aria-expanded="true"
                 aria-controls="group-{{ chron.grouper.id }}-{{ g.grouper.id }}Section">
                <h3 class="col-sm border centertext {{ chron.grouper.headings }}">
                    {% if g.grouper %}
                        <a href="{{ g.grouper.get_absolute_url }}">{{ g.grouper }}</a>
                    {% else %}
                        Solo Characters
                    {% endif %}
                </h3>
            </div>
            <div id="group-{{ chron.grouper.id }}-{{ g.grouper.id }}Section"
                 class="collapse show">
                {% for char in g.list %}
                    <div class="row border">
                        <a class="col-sm border" href="{{ char.get_absolute_url }}">{{ char.name }}</a>
                        <a class="col-sm border"
                           href="{{ char.owner.profile.get_absolute_url }}">{{ char.owner.username }}</a>
                        <div class="col-sm border">{{ char.get_type }}</div>
                        <div class="col-sm border">{{ char.get_status_display }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
