{% extends "core/object.html" %}
{% block contents %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ object.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Court</div>
        <div class="col-sm">{{ object.get_court_display }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Boon</div>
        <div class="col-sm">{{ object.boon }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Flaw</div>
        <div class="col-sm">{{ object.flaw }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Factions</div>
        <div class="col-sm">{{ object.factions }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ object.description }}</div>
    </div>
{% endblock contents %}
