{% extends "core/form.html" %}
{% block contents %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Court</div>
        <div class="col-sm">{{ form.get_court_display }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Boon</div>
        <div class="col-sm">{{ form.boon }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Flaw</div>
        <div class="col-sm">{{ form.flaw }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Factions</div>
        <div class="col-sm">{{ form.factions }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ form.description }}</div>
    </div>
{% endblock contents %}
