{% extends "items/core/item/form.html" %}
{% block creation_title %}
    Create Weapon
{% endblock creation_title %}
{% block additional_stats %}
    <div class="row">
        <div class="col-sm-1">Damage</div>
        <div class="col-sm-4">{{ form.damage }}/{{ form.damage_type }}</div>
        <div class="col-sm-1">Difficulty</div>
        <div class="col-sm-2">{{ form.difficulty }}</div>
        <div class="col-sm-2">Conceal</div>
        <div class="col-sm-2">{{ form.conceal }}</div>
    </div>
    {% block ranged_details %}
    {% endblock ranged_details %}
{% endblock additional_stats %}
