{% extends "core/object.html" %}
{% block contents %}
    {% load dots %}
    {% load sanitize_text %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ object.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Starting Willpower</div>
        <div class="col-sm">{{ object.willpower }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Camps</div>
        <div class="col-sm">
            {% for camp in object.get_camps %}
                {% if forloop.last %}
                    <a href="{{ camp.get_absolute_url }}">{{ camp.name }}</a>
                {% else %}
                    <a href="{{ camp.get_absolute_url }}">{{ camp.name }}, </a>
                {% endif %}
            {% endfor % %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ object.description }}</div>
    </div>
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Gifts</h2>
    </div>
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Level 1</h3>
    </div>
    <div class="row">
        {% for gift in object.gifts_1 %}
            <a class="col-sm" href="{{ gift.get_absolute_url }}">{{ gift.name|sanitize_html|linebreaks }}</a>
        {% endfor %}
    </div>
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Level 2</h3>
    </div>
    <div class="row">
        {% for gift in object.gifts_2 %}
            <a class="col-sm" href="{{ gift.get_absolute_url }}">{{ gift.name|sanitize_html|linebreaks }}</a>
        {% endfor %}
    </div>
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Level 3</h3>
    </div>
    <div class="row">
        {% for gift in object.gifts_3 %}
            <a class="col-sm" href="{{ gift.get_absolute_url }}">{{ gift.name|sanitize_html|linebreaks }}</a>
        {% endfor %}
    </div>
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Level 4</h3>
    </div>
    <div class="row">
        {% for gift in object.gifts_4 %}
            <a class="col-sm" href="{{ gift.get_absolute_url }}">{{ gift.name|sanitize_html|linebreaks }}</a>
        {% endfor %}
    </div>
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Level 5</h3>
    </div>
    <div class="row">
        {% for gift in object.gifts_5 %}
            <a class="col-sm" href="{{ gift.get_absolute_url }}">{{ gift.name|sanitize_html|linebreaks }}</a>
        {% endfor %}
    </div>
    {% if object.gift_6 %}
        <div class="row">
            <h3 class="col-sm {{ object.get_heading }}">Level 6</h3>
        </div>
        <div class="row">
            {% for gift in object.gifts_6 %}
                <a class="col-sm" href="{{ gift.get_absolute_url }}">{{ gift.name|sanitize_html|linebreaks }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock contents %}
