{% extends "core/object.html" %}
{% block contents %}
    <div class="row">
        <div class="col-sm">
            <h1>{{ object.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ object.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Leader</div>
        <a class="col-sm" href={{ object.leader.get_absolute_url }}>{{ object.leader }}</a>
    </div>
    {% for member in object.members.all %}
        <div class="row">
            <div class="col-sm"></div>
            <a class="col-sm" href={{ member.get_absolute_url }}>{{ member }}</a>
            <div class="col-sm"></div>
        </div>
    {% endfor %}
{% endblock contents %}
