{% extends "core/form.html" %}
{% block creation_title %}
    Create Group
{% endblock creation_title %}
{% block contents %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Chronicle</div>
        <div class="col-sm">{{ form.chronicle }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Leader</div>
        <div class="col-sm">{{ form.leader }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ form.description }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Public Info</div>
        <div class="col-sm">{{ form.public_info }}</div>
    </div>
    {% if object %}
        <div class="row">
            <div class="col-sm">Add Character</div>
            <div class="col-sm">{{ form.new_character }}</div>
        </div>
    {% endif %}
{% endblock contents %}
