{% extends "core/base.html" %}
{% block title %}
    {{ object.user.username }}
{% endblock title %}
{% block content %}
    {% load field %}
    <div class="centertext container">
        <div class="row">
            <h1 class="col-sm {{ object.preferred_heading }}">{{ object.user.username }}</h1>
        </div>
        {% include "accounts/includes/settings.html" %}
        {% include "accounts/includes/active_scenes.html" %}
        {% if object.is_st %}
            {% include "accounts/includes/chronicles.html" %}
            {% include "accounts/includes/attention.html" %}
            {% include "accounts/includes/journals.html" %}
            {% include "accounts/includes/xp_spend_requests.html" %}
        {% endif %}
        {% include "accounts/includes/characters.html" %}
        {% include "accounts/includes/locations.html" %}
        {% include "accounts/includes/items.html" %}
        {% comment %} {% include "accounts/includes/xp_story.html" %} {% endcomment %}
        {% include "accounts/includes/xp_weekly.html" %}
        {% if object.is_st %}
            {% if user == object.user %}
                {% include "accounts/includes/xp_scene_st.html" %}
                {% comment %} {% include "accounts/includes/xp_story_st.html" %} {% endcomment %}
                {% include "accounts/includes/xp_weekly_st.html" %}
                {% include "accounts/includes/freebies.html" %}
                {% include "accounts/includes/character_approval.html" %}
                {% include "accounts/includes/location_approval.html" %}
                {% include "accounts/includes/item_approval.html" %}
                {% include "accounts/includes/rote_approval.html" %}
                {% include "accounts/includes/image_approval.html" %}
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
