{% extends "core/form.html" %}
{% block title %}
    {{ object.user.username }}
{% endblock title %}
{% block contents %}
    <div class="row">
        <div class="col-sm">Heading</div>
        <div class="col-sm">{{ form.preferred_heading }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Theme</div>
        <div class="col-sm">{{ form.theme }}</div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">Visible?</div>
    </div>
    <div class="row">
        <div class="col-sm">Discord</div>
        <div class="col-sm">{{ form.discord_id }}</div>
        <div class="col-sm">{{ form.discord_toggle }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Veils (Prefer not to have on screen)</div>
        <div class="col-sm">{{ form.veils }}</div>
        <div class="col-sm">{{ form.veils_toggle }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Lines (Prefer not to interact with at all)</div>
        <div class="col-sm">{{ form.lines }}</div>
        <div class="col-sm">{{ form.lines_toggle }}</div>
    </div>
{% endblock contents %}
