{% extends "core/base.html" %}
{% block title %}
    {{ user.username }}
{% endblock title %}
{% block content %}
    <div class="centertext container">
        <div class="row">
            <h2 class="col-sm">My Characters</h2>
        </div>
        {% for char in characters %}
        <div class="row border">
            <a class="col-sm border" href="{{ char.get_absolute_url }}">{{ char.name }}</a>
            <div class="col-sm border">{{ char.get_gameline }}</div>
            <div class="col-sm border">{{ char.type.title }}</div>
            <div class="col-sm border">{{ char.get_status_display }}</div>
        </div>
        {% endfor %}

    </div>
{% endblock content %}    