{% extends "core/form.html" %}
{% block creation_title %}
    Create Companion
{% endblock creation_title %}
{% block contents %}
    {% if is_approved_user %}
        {% block name %}
            <div class="row">
                <div class="col-sm {{ object.get_heading }}">
                    <h1>{{ object.name }}</h1>
                </div>
            </div>
        {% endblock name %}
        {% block basics %}
            {% include "characters/mage/companion/companion_basics_block_display.html" %}
        {% endblock basics %}
        {% block attributes %}
            {% if object.creation_status == 1 %}
                {% include "characters/core/attribute_block/form.html" %}
            {% elif object.creation_status > 1 %}
                {% include "characters/core/attribute_block/detail.html" %}
            {% endif %}
        {% endblock attributes %}
        {% block abilities %}
            {% if object.creation_status == 2 %}
                {% include "characters/mage/mtahuman/ability_block_form.html" %}
            {% elif object.creation_status > 2 %}
                {% include "characters/mage/mtahuman/ability_block_display.html" %}
            {% endif %}
        {% endblock abilities %}
        {% block backgrounds %}
            {% if object.creation_status == 3 %}
                {% include "characters/core/background_block/form.html" %}
            {% elif object.creation_status > 3 %}
                {% include "characters/core/background_block/detail.html" %}
            {% endif %}
        {% endblock backgrounds %}
        {% block mfs %}
            {% if object.creation_status >= 5 %}
                {% include "characters/core/human/mf_display_block.html" %}
            {% endif %}
        {% endblock mfs %}
        {% block advantages %}
            {% if object.creation_status >= 5 %}
                {% include "characters/mage/companion/advantages_display_block.html" %}
            {% endif %}
        {% endblock advantages %}
        {% block charms %}
            {% if object.creation_status >= 5 %}
                {% include "characters/mage/companion/charms_display_block.html" %}
            {% endif %}
        {% endblock charms %}
        {% block languages %}
            {% if object.creation_status > 6 %}
                {% include "characters/core/human/language_display_block.html" %}
            {% elif object.creation_status == 6 %}
                {% include "characters/core/human/human_language_block_form.html" %}
            {% endif %}
        {% endblock languages %}
        {% block appearance %}
            {% if object.creation_status == 4 %}
                {% include "characters/mage/companion/companion_appearance_block_form.html" %}
            {% elif object.creation_status > 4 %}
                {% include "characters/mage/companion/companion_appearance_block_display.html" %}
            {% endif %}
        {% endblock appearance %}
        {% block history %}
            {% if object.creation_status == 4 %}
                {% include "characters/mage/companion/companion_history_block_form.html" %}
            {% elif object.creation_status > 4 %}
                {% include "characters/mage/companion/companion_history_block_display.html" %}
            {% endif %}
        {% endblock history %}
        {% block freebies %}
            {% if object.creation_status == 5 and object.freebies_approved %}
                {% include "characters/mage/companion/companion_freebies_form.html" %}
            {% elif object.creation_status == 5 %}
                <div class="row">
                    <h2 class="col-sm {{ object.get_heading }}">Waiting on ST to Assign Freebie Total</h2>
                </div>
            {% endif %}
        {% endblock freebies %}
        {% block node %}
            {% if object.creation_status == 7 %}
                {% include "locations/mage/node/form_include.html" %}
            {% endif %}
        {% endblock node %}
        {% block library %}
            {% if object.creation_status == 8 %}
                {% include "locations/mage/library/form_include.html" %}
            {% endif %}
        {% endblock library %}
        {% block wonder %}
            {% if object.creation_status == 9 %}
                {% include "characters/mage/mage/mage_wonder_block_form.html" %}
            {% elif object.creation_status > 9 %}
                {% include "characters/core/human/equipment_block.html" %}
            {% endif %}
        {% endblock wonder %}
        {% block enhancements %}
            {% if object.creation_status == 10 %}
                {% include "characters/mage/mage/mage_enhancements_form.html" %}
            {% endif %}
        {% endblock enhancements %}
        {% block sanctum %}
            {% if object.creation_status == 11 %}
                {% include "locations/mage/sanctum/form_include.html" %}
            {% endif %}
        {% endblock sanctum %}
        {% block ally %}
            {% if object.creation_status == 12 %}
                {% include "characters/mage/ally/form_include.html" %}
            {% endif %}
        {% endblock ally %}
        {% block specialties_form %}
            {% if object.creation_status == 13 %}
                {% include "characters/mage/mage/mage_specialties_block_form.html" %}
            {% endif %}
        {% endblock specialties_form %}
    {% else %}
        {% include "characters/core/character/not_owner.html" %}
    {% endif %}
{% endblock contents %}
{% block buttons %}
    {% if object.creation_status == 5 and not object.freebies_approved %}
    {% elif not is_approved_user %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock buttons %}
