{% extends "core/form.html" %}
{% block contents %}
    {% csrf_token %}
    <div class="row">
        <div class="col-sm">
            Decide identity and motivation; choose concept, Fellowship, Sorcerer Type, Casting Attribute, and Affinity Path, and Archetypes.
        </div>
    </div>
    <div class="centertext container">
        <div class="row">
            <div class="col-sm">{{ form.image }}</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Name</div>
            <div class="col-sm-2">{{ form.name }}</div>
            <div class="col-sm-2">Nature</div>
            <div class="col-sm-2">{{ form.nature }}</div>
            <div class="col-sm-2">Fellowship</div>
            <div class="col-sm-2">{{ form.fellowship }}</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Chronicle</div>
            <div class="col-sm-2">{{ form.chronicle }}</div>
            <div class="col-sm-2">Demeanor</div>
            <div class="col-sm-2">{{ form.demeanor }}</div>
            <div class="col-sm-2">Casting Attribute</div>
            <div class="col-sm-2">{{ form.casting_attribute }}</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Sorcerer Type</div>
            <div class="col-sm-2">{{ form.sorcerer_type }}</div>
            <div class="col-sm-2">Concept</div>
            <div class="col-sm-2">{{ form.concept }}</div>
            <div class="col-sm-2">Affinity Path</div>
            <div class="col-sm-2">{{ form.affinity_path }}</div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const fellowshipSelectMenu = document.getElementById("id_fellowship");

            fellowshipSelectMenu.addEventListener("change", function() {
                $.ajax({                       // initialize an AJAX request
                    url: '{% url 'characters:mage:ajax:load_attributes' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-character-type/)
                    data: {
                    'fellowship': this.value,       // add the gameline id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_character_type` view function
                    $("#id_casting_attribute").html(data);  // replace the contents of the character_type input with the data that came from the server
                    }
                });

                $.ajax({                       // initialize an AJAX request
                    url: '{% url 'characters:mage:ajax:load_affinities' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-character-type/)
                    data: {
                    'fellowship': this.value,       // add the gameline id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_character_type` view function
                    $("#id_affinity_path").html(data);  // replace the contents of the character_type input with the data that came from the server
                    }
                });
            });
        });

    </script>
{% endblock contents %}
{% block buttons %}
    <input name="Save" type="submit" value="Save" />
{% endblock buttons %}
