<!DOCTYPE html>
<html lang="en">
    <head>
        {% block styling %}
            {% load static %}
            <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'boot/css/bootstrap.css' %}" />
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'boot/css/bootstrap-reboot.css' %}" />
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'boot/css/bootstrap-grid.css' %}" />
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="{% static 'boot/js/bootstrap.js' %}"></script>
            <meta name="description"
                  content="Welcome to the Tellurium Games site! Here you will find various projects related to RPGs including links to community content products, generators, and more." />
            <meta name="keywords"
                  content="world of darkness, rpgs, role-playing games, community content" />
            {% if user.is_authenticated %}
            {% with ''|add:user.profile.theme as theme_css %}
            <link rel="stylesheet"
            type="text/css"
            href="{% static theme_css %}" />
            {% endwith %}
            {% else %}
            <link rel="stylesheet"
                      type="text/css"
                      href="{% static 'themes/default.css' %}" />
            {% endif %}
        {% endblock styling %}
        <title>
            {% block title %}
                Tellurium Games
            {% endblock title %}
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            {% comment %} <a class="navbar-brand" href="{% url 'home' %}">Tellurium Games</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> {% endcomment %}
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-brand"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        href="{% url 'home' %}"">Tellurium Games</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'home' %}">Home</a>
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'user' %}">Account</a>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button class="dropdown-item" type="submit">Log Out</button>
                                </form>
                                {% if user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                                {% endif %}
                            {% else %}
                                <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                                <a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-tiem dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">Chronicles</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for chronicle in chronicles %}
                                <a class="dropdown-item" href="{{ chronicle.get_absolute_url }}">{{ chronicle }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">World of Darkness</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="{% url 'characters:index' gameline='wod' %}">Characters</a>
                            <a class="dropdown-item"
                               href="{% url 'locations:index' gameline='wod' %}">Locations</a>
                            <a class="dropdown-item" href="{% url 'items:index' gameline='wod' %}">Items</a>
                            <a class="dropdown-item" href="{% url 'houserules' gameline='wod' %}">House Rules</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">Vampire</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="{% url 'characters:index' gameline='vtm' %}">Characters</a>
                            <a class="dropdown-item"
                               href="{% url 'locations:index' gameline='vtm' %}">Locations</a>
                            <a class="dropdown-item" href="{% url 'items:index' gameline='vtm' %}">Items</a>
                            <a class="dropdown-item" href="{% url 'houserules' gameline='vtm' %}">House Rules</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">Werewolf</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="{% url 'characters:index' gameline='wta' %}">Characters</a>
                            <a class="dropdown-item"
                               href="{% url 'locations:index' gameline='wta' %}">Locations</a>
                            <a class="dropdown-item" href="{% url 'items:index' gameline='wta' %}">Items</a>
                            <a class="dropdown-item" href="{% url 'houserules' gameline='wta' %}">House Rules</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">Mage</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="{% url 'characters:index' gameline='mta' %}">Characters</a>
                            <a class="dropdown-item"
                               href="{% url 'locations:index' gameline='mta' %}">Locations</a>
                            <a class="dropdown-item" href="{% url 'items:index' gameline='mta' %}">Items</a>
                            <a class="dropdown-item" href="{% url 'houserules' gameline='mta' %}">House Rules</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">Wraith</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="{% url 'characters:index' gameline='wto' %}">Characters</a>
                            <a class="dropdown-item"
                               href="{% url 'locations:index' gameline='wto' %}">Locations</a>
                            <a class="dropdown-item" href="{% url 'items:index' gameline='wto' %}">Items</a>
                            <a class="dropdown-item" href="{% url 'houserules' gameline='wto' %}">House Rules</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">Changeling</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="{% url 'characters:index' gameline='ctd' %}">Characters</a>
                            <a class="dropdown-item"
                               href="{% url 'locations:index' gameline='ctd' %}">Locations</a>
                            <a class="dropdown-item" href="{% url 'items:index' gameline='ctd' %}">Items</a>
                            <a class="dropdown-item" href="{% url 'houserules' gameline='ctd' %}">House Rules</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {% if messages %}
            <u1 class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}<a href="#" class="close">x</a>
                </li>
            {% endfor %}
            </u1>
        {% endif %}
        {% block content %}
        {% endblock content %}
        {% block footer %}
        {% endblock footer %}
        {% block extrascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
            <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
                  rel="stylesheet"
                  type="text/css" />
        {% endblock extrascripts %}
    </body>
</html>
