<!DOCTYPE html>
<html lang="en">
    <head>
        {% block styling %}
            {% load static %}
            <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'boot/css/bootstrap.css' %}" />
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'boot/css/bootstrap-reboot.css' %}" />
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'boot/css/bootstrap-grid.css' %}" />
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="{% static 'boot/js/bootstrap.js' %}"></script>
            <meta name="description"
                  content="Welcome to the Tellurium Games site! Here you will find various projects related to RPGs including links to community content products, generators, and more." />
            <meta name="keywords"
                  content="world of darkness, rpgs, role-playing games, community content" />
            {% if user.is_authenticated %}
                {% with ""|add:user.profile.theme as theme_css %}
                    <link rel="stylesheet" type="text/css" href="{% static theme_css %}" />
                {% endwith %}
            {% else %}
                <link rel="stylesheet"
                      type="text/css"
                      href="{% static 'themes/default.css' %}" />
            {% endif %}
        {% endblock styling %}
        <title>
            {% block title %}
                Tellurium Games
            {% endblock title %}
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarsExample05"
                    aria-controls="navbarsExample05"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% comment %} <a class="navbar-brand" href="{% url 'home' %}">Tellurium Games</a>
            {% endcomment %}
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-brand"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        href="{% url 'home' %}"">Tellurium Games</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'home' %}">Home</a>
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{{ user.profile.get_absolute_url }}">Account</a>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button class="dropdown-item" type="submit">Log Out</button>
                                </form>
                                {% if user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                                {% endif %}
                            {% else %}
                                <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                                <a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">Chronicles</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for chronicle in chronicles %}
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle"
                                       href="{{ chronicle.get_absolute_url }}">{{ chronicle }}</a>
                                    <ul class="dropdown-menu">
                                        {% for scene in chronicle.get_active_scenes %}
                                            <a class="dropdown-item" href="{{ scene.get_absolute_url }}">{{ scene }}</a>
                                        {% endfor %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ chronicle.get_scenes_url }}">All Scenes</a>
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'characters:index' %}" role="button">Characters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'locations:index' %}" role="button">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'items:index' %}" role="button">Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'houserules' %}" role="button">House Rules</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
        {% block footer %}
            {% load sanitize_text %}
            {% if messages %}{% endif %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|sanitize_html }}<a href="#" class="close">x</a>
                    </li>
                {% endfor %}
            </ul>
        {% endblock footer %}
        {% block extrascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
            <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
                  rel="stylesheet"
                  type="text/css" />
        {% endblock extrascripts %}
    </body>
</html>
