{% extends "core/base.html" %}
{% block title %}
    {{ object.name| safe }}
{% endblock title %}
{% block content %}
    <form {% block formdetails %}
          action=""
          method="post"
          {% endblock formdetails %}>
        {% csrf_token %}
        <div class="centertext container">
            {% block image %}
                {% if object.image and object.image_status == "app" %}
                    <img src="{{ object.image.url }}"
                         width="300"
                         height="{{ image.height }}"
                         alt="image of {{ object.name }}" />
                {% elif object.image %}
                    Image pending approval
                {% endif %}
            {% endblock image %}
            {% block contents %}
            {% endblock contents %}
            {% block buttons %}
                <input type="submit" value="Save" />
            {% endblock buttons %}
        </div>
    </form>
    {% block errors %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}<p class="alert centertext">{{ error }}</p>{% endfor %}
        {% endif %}
    {% endblock errors %}
{% endblock content %}
