{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="container centertext">
        <div class="row">
            <div class="col-sm">
                Welcome to the Tellurium Games site! Here you will find World of Darkness games, starting with a Mage Chronicle I'm running, as well as links to other World of Darkness related projects of mine.
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Warning! This site is currently in beta. It may change significantly. I will do everything I can to keep the database stable in the meantime, but data loss is possible.
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                A heads up: I reserve the right to use all content here in Storyteller's Vault products. Particularly, locations, items, plots, and some aspects of characters may appear in Storyteller's Vault products, particularly an eventual city book.
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="https://github.com/charlesmsiegel/tg">Check out our codebase here</a> and <a href="https://github.com/charlesmsiegel/tg/issues">report bugs or feature requests here!</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <a class="col-sm"
               href="https://www.patreon.com/bePatron?u=62722820"
               data-patreon-widget-type="become-patron-button">Become a Patron!</a>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <a class="col-sm"
               href="https://www.storytellersvault.com/browse.php?author=Charles%20Siegel">
                <img src="{% static 'images/stv.png' %}"
                     alt="Storyteller's Vault"
                     height="100px"
                     width="auto"/>
            </a>
            <a class="col-sm" href="https://discord.gg/T2cmqf2yYY"><img src="{% static 'images/discord.png' %}", alt="Discrod Server", height="100px", width="auto"></a>
            <a class="col-sm" href="https://www.worldofdarkness.com/dark-pack">
                <img src="{% static 'images/dark_pack.png' %}"
                     alt="Dark Pack"
                     height="100px"
                     width="auto"/>
            </a>
        </div>
    </div>
    <div class="container centertext">
        <div class="row">
            <h2 class="col-sm">Updates</h2>
        </div>
    {% for item in news %}
    <div class="row mb-2">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">{{ item.title }}</a>
                    </h3>
                    <div class="mb-1 text-muted">{{ item.date }}</div>
                    <p class="card-text mb-auto">
                        {{ item.content }}
                    </p>
                </div>
            </div>
    </div>
    {% endfor %}</div>
{% endblock content %}
{% block extrascripts %}
    <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
{% endblock extrascripts %}
