{% extends "core/base.html" %}
{% load static %}
{% block title %}
    {% load sanitize_text %}
    {{ object.name|sanitize_html }}
{% endblock title %}
{% block content %}
    {% csrf_token %}
    <div class="centertext container">
        {% block references %}
            {% for reference in object.sources.all %}
                <div class="row">
                    <a class="col-sm" href="{{ reference.book.get_absolute_url }}">{{ reference|sanitize_html }}</a>
                </div>
            {% endfor %}
        {% endblock references %}
        {% block contents %}
            {% block image %}
                {% if object.image and object.image_status == "app" %}
                    <img src="{{ object.image.url }}"
                         width="300"
                         height="{{ image.height }}"
                         alt="image of {{ object.name }}" />
                {% elif object.image %}
                    Image pending approval
                {% endif %}
            {% endblock image %}
        {% endblock contents %}
        <form method="post">
            {% block update %}
            {% endblock update %}
        </form>
    </div>
{% endblock content %}
