{% extends "core/object.html" %}
{% block contents %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ object.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Correspondence</div>
        <div class="col-sm">{{ object.correspondence }}</div>
        <div class="col-sm">Life</div>
        <div class="col-sm">{{ object.life }}</div>
        <div class="col-sm">Prime</div>
        <div class="col-sm">{{ object.prime }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Entropy</div>
        <div class="col-sm">{{ object.entropy }}</div>
        <div class="col-sm">Matter</div>
        <div class="col-sm">{{ object.matter }}</div>
        <div class="col-sm">Spirit</div>
        <div class="col-sm">{{ object.spirit }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Forces</div>
        <div class="col-sm">{{ object.forces }}</div>
        <div class="col-sm">Mind</div>
        <div class="col-sm">{{ object.mind }}</div>
        <div class="col-sm">Time</div>
        <div class="col-sm">{{ object.time }}</div>
    </div>
{% endblock contents %}
