body {
    color: #f8f9fa;
    /* Light gray text */
    background-color: #212529;
    /* Dark background */
}

a {
    color: #1e7e34;
    /* Green links */
}

a:hover {
    color: #155724;
    /* Darker green on hover */
}

a:visited {
    color: #82c091;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f8f9fa;
    /* Light gray headings */
}

/* Buttons */
button {
    background-color: #343a40;
    /* Dark gray button background */
    color: #ffffff;
    /* White button text */
}

button:hover {
    background-color: #495057;
    /* Lighter gray button on hover */
}

/* Input Fields */
input,
textarea {
    background-color: #495057;
    /* Dark gray input background */
    color: #f8f9fa;
    /* Light gray input text */
    border: 1px solid #6c757d;
    /* Gray border */
}

/* Cards */
.card {
    background-color: #343a40;
    /* Dark gray card background */
    color: #f8f9fa;
    /* Light gray card text */
    border: 1px solid #495057;
    /* Darker gray card border */
}

/* Footer */
footer {
    background-color: #343a40;
    /* Dark gray footer background */
    color: #f8f9fa;
    /* Light gray footer text */
}


.st {
    color: #b8860b;
}