{% extends "core/form.html" %}
{% block creation_title %}
    Create Rote
{% endblock creation_title %}
{% block contents %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Effect</div>
        <a class="col-sm" href={{ form.effect.get_absolute_url }}>{{ form.effect }}</a>
    </div>
    <div class="row">
        <div class="col-sm">Practice</div>
        <div class="col-sm">{{ form.practice }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Dicepool</div>
        <div class="col-sm">{{ form.attribute }} + {{ form.ability }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ form.description }}</div>
    </div>
{% endblock contents %}
