{% extends "core/form.html" %}
{% block contents %}
    {{ form.non_field_errors }}
    {% block name %}
        <div class="row">
            <div class="col-sm {{ object.get_heading }}">
                <h1>{{ object.name }}</h1>
            </div>
        </div>
    {% endblock name %}
    {% block basics %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Basics</h2>
        </div>
        <div class="row">
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ object.name }}</div>
            <div class="col-sm">Nature</div>
            <a class="col-sm" href="{{ object.nature.get_absolute_url }}">{{ object.nature }}</a>
        </div>
        <div class="row">
            <div class="col-sm">Player</div>
            <div class="col-sm">{{ object.player }}</div>
            <div class="col-sm">Demeanor</div>
            <a class="col-sm" href="{{ object.demeanor.get_absolute_url }}">{{ object.demeanor }}</a>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Concept</div>
            <div class="col-sm">{{ object.concept }}</div>
            <div class="col-sm"></div>
        </div>
    {% endblock basics %}
    {% block attributes %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Attributes</h2>
        </div>
        <div class="row">
            <h3 class="col-sm {{ object.get_heading }}">Physical</h3>
            <h3 class="col-sm {{ object.get_heading }}">Social</h3>
            <h3 class="col-sm {{ object.get_heading }}">Mental</h3>
        </div>
        <div class="row">
            <div class="col-sm">
                Strength
                {% if object|get_specialty:'strength' %}({{ object|get_specialty:'strength' }}){% endif %}
            </div>
            <div class="col-sm dots">{{ object.strength|dots }}</div>
            <div class="col-sm">
                Charisma
                {% if object|get_specialty:'charisma' %}({{ object|get_specialty:'charisma' }}){% endif %}
            </div>
            <div class="col-sm dots">{{ object.charisma|dots }}</div>
            <div class="col-sm">
                Perception
                {% if object|get_specialty:'perception' %}({{ object|get_specialty:'perception' }}){% endif %}
            </div>
            <div class="col-sm dots">{{ object.perception|dots }}</div>
        </div>
        <div class="row">
            <div class="col-sm">
                Dexterity
                {% if object|get_specialty:'dexterity' %}({{ object|get_specialty:'dexterity' }}){% endif %}
            </div>
            <div class="col-sm dots">{{ object.dexterity|dots }}</div>
            <div class="col-sm">
                Manipulation
                {% if object|get_specialty:'manipulation' %}({{ object|get_specialty:'manipulation' }}){% endif %}
            </div>
            <div class="col-sm dots">{{ object.manipulation|dots }}</div>
            <div class="col-sm">
                Intelligence
                {% if object|get_specialty:'intelligence' %}({{ object|get_specialty:'intelligence' }}){% endif %}
            </div>
            <div class="col-sm dots">{{ object.intelligence|dots }}</div>
        </div>
        <div class="row">
            <div class="col-sm">
                Stamina
                {% if object|get_specialty:'stamina' %}({{ object|get_specialty:'stamina' }}){% endif %}
            </div>
            <div class="col-sm dots">{{ object.stamina|dots }}</div>
            <div class="col-sm">
                Appearance
                {% if object|get_specialty:'appearance' %}({{ object|get_specialty:'appearance' }}){% endif %}
            </div>
            <div class="col-sm dots">{{ object.appearance|dots }}</div>
            <div class="col-sm">
                Wits
                {% if object|get_specialty:'wits' %}({{ object|get_specialty:'wits' }}){% endif %}
            </div>
            <div class="col-sm dots">{{ object.wits|dots }}</div>
        </div>
    {% endblock attributes %}
    {% block abilities %}
        <div class="row">
            <h2 class="col-sm {{ form.get_heading }}">Abilities</h2>
        </div>
        <div class="row">
            <h3 class="col-sm {{ form.get_heading }}">Talents</h3>
            <h3 class="col-sm {{ form.get_heading }}">Skills</h3>
            <h3 class="col-sm {{ form.get_heading }}">Knowledges</h3>
        </div>
        <div class="row">
            <div class="col-sm">Alertness</div>
            <div class="col-sm dots">{{ form.alertness }}</div>
            <div class="col-sm">Crafts</div>
            <div class="col-sm dots">{{ form.crafts }}</div>
            <div class="col-sm">Academics</div>
            <div class="col-sm dots">{{ form.academics }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Art</div>
            <div class="col-sm dots">{{ form.art }}</div>
            <div class="col-sm">Drive</div>
            <div class="col-sm dots">{{ form.drive }}</div>
            <div class="col-sm">Computer</div>
            <div class="col-sm dots">{{ form.computer }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Athletics</div>
            <div class="col-sm dots">{{ form.athletics }}</div>
            <div class="col-sm">Etiquette</div>
            <div class="col-sm dots">{{ form.etiquette }}</div>
            <div class="col-sm">Cosmology</div>
            <div class="col-sm dots">{{ form.cosmology }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Awareness</div>
            <div class="col-sm dots">{{ form.awareness }}</div>
            <div class="col-sm">Firearms</div>
            <div class="col-sm dots">{{ form.firearms }}</div>
            <div class="col-sm">Enigmas</div>
            <div class="col-sm dots">{{ form.enigmas }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Brawl</div>
            <div class="col-sm dots">{{ form.brawl }}</div>
            <div class="col-sm">Martial Arts</div>
            <div class="col-sm dots">{{ form.martial_arts }}</div>
            <div class="col-sm">Esoterica</div>
            <div class="col-sm dots">{{ form.esoterica }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Empathy</div>
            <div class="col-sm dots">{{ form.empathy }}</div>
            <div class="col-sm">Meditation</div>
            <div class="col-sm dots">{{ form.meditation }}</div>
            <div class="col-sm">Investigation</div>
            <div class="col-sm dots">{{ form.investigation }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Expression</div>
            <div class="col-sm dots">{{ form.expression }}</div>
            <div class="col-sm">Melee</div>
            <div class="col-sm dots">{{ form.melee }}</div>
            <div class="col-sm">Law</div>
            <div class="col-sm dots">{{ form.law }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Intimidation</div>
            <div class="col-sm dots">{{ form.intimidation }}</div>
            <div class="col-sm">Research</div>
            <div class="col-sm dots">{{ form.research }}</div>
            <div class="col-sm">Medicine</div>
            <div class="col-sm dots">{{ form.medicine }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Leadership</div>
            <div class="col-sm dots">{{ form.leadership }}</div>
            <div class="col-sm">Stealth</div>
            <div class="col-sm dots">{{ form.stealth }}</div>
            <div class="col-sm">Occult</div>
            <div class="col-sm dots">{{ form.occult }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Streetwise</div>
            <div class="col-sm dots">{{ form.streetwise }}</div>
            <div class="col-sm">Survival</div>
            <div class="col-sm dots">{{ form.survival }}</div>
            <div class="col-sm">Politics</div>
            <div class="col-sm dots">{{ form.politics }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Subterfuge</div>
            <div class="col-sm dots">{{ form.subterfuge }}</div>
            <div class="col-sm">Technology</div>
            <div class="col-sm dots">{{ form.technology }}</div>
            <div class="col-sm">Science</div>
            <div class="col-sm dots">{{ form.science }}</div>
        </div>
    {% endblock abilities %}
{% endblock contents %}
