{% extends "core/form.html" %}
{% block contents %}
    {% block name %}
        <div class="row">
            <div class="col-sm {{ object.get_heading }}">
                <h1>{{ object.name }}</h1>
            </div>
        </div>
    {% endblock name %}
    {% block basics %}
        {% include "characters/core/human/basics_block_display" %}
    {% endblock basics %}
    {% block attributes %}
        {% include "characters/core/attribute_block/detail.html" %}
    {% endblock attributes %}
    {% block abilities %}
        <div class="row">
            <h2 class="col-sm {{ form.get_heading }}">Abilities</h2>
        </div>
        <div class="row">
            <h3 class="col-sm {{ form.get_heading }}">Talents</h3>
            <h3 class="col-sm {{ form.get_heading }}">Skills</h3>
            <h3 class="col-sm {{ form.get_heading }}">Knowledges</h3>
        </div>
        <div class="row">
            <div class="col-sm">Alertness</div>
            <div class="col-sm dots">{{ form.alertness }}</div>
            <div class="col-sm">Crafts</div>
            <div class="col-sm dots">{{ form.crafts }}</div>
            <div class="col-sm">Academics</div>
            <div class="col-sm dots">{{ form.academics }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Art</div>
            <div class="col-sm dots">{{ form.art }}</div>
            <div class="col-sm">Drive</div>
            <div class="col-sm dots">{{ form.drive }}</div>
            <div class="col-sm">Computer</div>
            <div class="col-sm dots">{{ form.computer }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Athletics</div>
            <div class="col-sm dots">{{ form.athletics }}</div>
            <div class="col-sm">Etiquette</div>
            <div class="col-sm dots">{{ form.etiquette }}</div>
            <div class="col-sm">Cosmology</div>
            <div class="col-sm dots">{{ form.cosmology }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Awareness</div>
            <div class="col-sm dots">{{ form.awareness }}</div>
            <div class="col-sm">Firearms</div>
            <div class="col-sm dots">{{ form.firearms }}</div>
            <div class="col-sm">Enigmas</div>
            <div class="col-sm dots">{{ form.enigmas }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Brawl</div>
            <div class="col-sm dots">{{ form.brawl }}</div>
            <div class="col-sm">Larceny</div>
            <div class="col-sm dots">{{ form.larceny }}</div>
            <div class="col-sm">Finance</div>
            <div class="col-sm dots">{{ form.finance }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Empathy</div>
            <div class="col-sm dots">{{ form.empathy }}</div>
            <div class="col-sm">Meditation</div>
            <div class="col-sm dots">{{ form.meditation }}</div>
            <div class="col-sm">Investigation</div>
            <div class="col-sm dots">{{ form.investigation }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Expression</div>
            <div class="col-sm dots">{{ form.expression }}</div>
            <div class="col-sm">Melee</div>
            <div class="col-sm dots">{{ form.melee }}</div>
            <div class="col-sm">Law</div>
            <div class="col-sm dots">{{ form.law }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Intimidation</div>
            <div class="col-sm dots">{{ form.intimidation }}</div>
            <div class="col-sm">Research</div>
            <div class="col-sm dots">{{ form.research }}</div>
            <div class="col-sm">Medicine</div>
            <div class="col-sm dots">{{ form.medicine }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Leadership</div>
            <div class="col-sm dots">{{ form.leadership }}</div>
            <div class="col-sm">Stealth</div>
            <div class="col-sm dots">{{ form.stealth }}</div>
            <div class="col-sm">Occult</div>
            <div class="col-sm dots">{{ form.occult }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Streetwise</div>
            <div class="col-sm dots">{{ form.streetwise }}</div>
            <div class="col-sm">Survival</div>
            <div class="col-sm dots">{{ form.survival }}</div>
            <div class="col-sm">Politics</div>
            <div class="col-sm dots">{{ form.politics }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Subterfuge</div>
            <div class="col-sm dots">{{ form.subterfuge }}</div>
            <div class="col-sm">Technology</div>
            <div class="col-sm dots">{{ form.technology }}</div>
            <div class="col-sm">Science</div>
            <div class="col-sm dots">{{ form.science }}</div>
        </div>
    {% endblock abilities %}
{% endblock contents %}
