<div class="row">
    <h2 class="col-sm {{ object.get_heading }} pointer"
        data-toggle="collapse"
        data-target="#allySection"
        aria-expanded="true"
        aria-controls="allySection">Allies</h2>
</div>
<div id="allySection" class="collapse show multi-collapse">
    <div class="row">
        {% for c in object.allied_characters.all %}
            {% if forloop.counter0|divisibleby:6 %}
            </div>
            <div class="row">
            {% endif %}
            <a class="col-sm-2" href="{{ c.get_absolute_url }}">{{ c }}</a>
            {% if forloop.last %}</div>{% endif %}
    {% empty %}
    </div>
{% endfor %}
</div>
