{% extends "core/form.html" %}
{% block contents %}
    {% block name %}
        <div class="row">
            <div class="col-sm {{ object.get_heading }}">
                <h1>{{ object.name }}</h1>
            </div>
        </div>
    {% endblock name %}
    {% block basics %}
        {% include "characters/core/human/basics_block_display.html" %}
    {% endblock basics %}
    {% block attributes %}
        {% include "characters/core/attribute_block/form.html" %}
    {% endblock attributes %}
{% endblock contents %}
