2{% extends "core/form.html" %}
{% block contents %}
    {% block statistics %}
        {% load dots %}
        {% load get_specialty %}
        {% block name %}
            <div class="row">
                <div class="col-sm {{ object.get_heading }}">
                    <h1>{{ object.name }}</h1>
                </div>
            </div>
        {% endblock name %}
        {% block basics %}
            <div class="row">
                <h2 class="col-sm {{ object.get_heading }}">Basics</h2>
            </div>
            <div class="row">
                <div class="col-sm">Name</div>
                <div class="col-sm">{{ object.name }}</div>
                <div class="col-sm">Nature</div>
                <a class="col-sm" href="{{ object.nature.get_absolute_url }}">{{ object.nature }}</a>
            </div>
            <div class="row">
                <div class="col-sm">Player</div>
                <div class="col-sm">{{ object.player }}</div>
                <div class="col-sm">Demeanor</div>
                <a class="col-sm" href="{{ object.demeanor.get_absolute_url }}">{{ object.demeanor }}</a>
            </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">Concept</div>
                <div class="col-sm">{{ object.concept }}</div>
                <div class="col-sm"></div>
            </div>
        {% endblock basics %}
        {% block attributes %}
            <div class="row">
                <h2 class="col-sm {{ object.get_heading }}">Attributes</h2>
            </div>
            <div class="row">
                <h3 class="col-sm {{ object.get_heading }}">Physical</h3>
                <h3 class="col-sm {{ object.get_heading }}">Social</h3>
                <h3 class="col-sm {{ object.get_heading }}">Mental</h3>
            </div>
            <div class="row">
                <div class="col-sm">
                    Strength
                    {% if object|get_specialty:'strength' %}({{ object|get_specialty:'strength' }}){% endif %}
                </div>
                <div class="col-sm dots">{{ object.strength|dots }}</div>
                <div class="col-sm">
                    Charisma
                    {% if object|get_specialty:'charisma' %}({{ object|get_specialty:'charisma' }}){% endif %}
                </div>
                <div class="col-sm dots">{{ object.charisma|dots }}</div>
                <div class="col-sm">
                    Perception
                    {% if object|get_specialty:'perception' %}({{ object|get_specialty:'perception' }}){% endif %}
                </div>
                <div class="col-sm dots">{{ object.perception|dots }}</div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Dexterity
                    {% if object|get_specialty:'dexterity' %}({{ object|get_specialty:'dexterity' }}){% endif %}
                </div>
                <div class="col-sm dots">{{ object.dexterity|dots }}</div>
                <div class="col-sm">
                    Manipulation
                    {% if object|get_specialty:'manipulation' %}({{ object|get_specialty:'manipulation' }}){% endif %}
                </div>
                <div class="col-sm dots">{{ object.manipulation|dots }}</div>
                <div class="col-sm">
                    Intelligence
                    {% if object|get_specialty:'intelligence' %}({{ object|get_specialty:'intelligence' }}){% endif %}
                </div>
                <div class="col-sm dots">{{ object.intelligence|dots }}</div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Stamina
                    {% if object|get_specialty:'stamina' %}({{ object|get_specialty:'stamina' }}){% endif %}
                </div>
                <div class="col-sm dots">{{ object.stamina|dots }}</div>
                <div class="col-sm">
                    Appearance
                    {% if object|get_specialty:'appearance' %}({{ object|get_specialty:'appearance' }}){% endif %}
                </div>
                <div class="col-sm dots">{{ object.appearance|dots }}</div>
                <div class="col-sm">
                    Wits
                    {% if object|get_specialty:'wits' %}({{ object|get_specialty:'wits' }}){% endif %}
                </div>
                <div class="col-sm dots">{{ object.wits|dots }}</div>
            </div>
        {% endblock attributes %}
        {% block abilities %}
        {% endblock abilities %}
        {% block advantages %}
            <div class="row">
                <h2 class="col-sm {{ object.get_heading }}">Advantages</h2>
            </div>
            <div class="row">
                <div class="col-sm">Willpower</div>
                <div class="col-sm dots">{{ object.willpower|dots:10 }}</div>
            </div>
        {% endblock advantages %}
        {% block backgrounds %}
        {% endblock backgrounds %}
        {% block powers %}
        {% endblock powers %}
        {% block mfs %}
            <div class="row">
                <h2 class="col-sm {{ object.get_heading }}">Merits and Flaws</h2>
            </div>
            <div class="row">
                {% for mf, rating in object.get_mf_and_rating_list %}
                    <a class="col-sm" href="{{ mf.get_absolute_url }}">{{ mf }}: {{ rating }}</a>
                {% endfor %}
            </div>
        {% endblock mfs %}
        {% block languages %}
            <div class="row">
                <h2 class="col-sm {{ object.get_heading }}">Languages</h2>
            </div>
            <div class="row">
                {% for lang in object.languages.all %}<div class="col-sm">{{ lang }}</div>{% endfor %}
            </div>
        {% endblock languages %}
    {% endblock statistics %}
    <div class="row">
        <div class="col-sm">Date of Birth</div>
        <div class="col-sm">{{ form.date_of_birth }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Apparent Age</div>
        <div class="col-sm">{{ form.apparent_age }}</div>
        <div class="col-sm">Age</div>
        <div class="col-sm">{{ form.age }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ form.description }}</div>
    </div>
    <div class="row">
        <div class="col-sm">History</div>
        <div class="col-sm">{{ form.history }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Goals</div>
        <div class="col-sm">{{ form.goals }}</div>
        <div class="col-sm">Notes</div>
        <div class="col-sm">{{ form.notes }}</div>
    </div>
{% endblock contents %}
