{% extends "characters/core/character/detail.html" %}
{% block statistics %}
    {% load dots %}
    {% load get_specialty %}
    {% block name %}
        <div class="row">
            <div class="col-sm {{ object.get_heading }}">
                <h1 class="pointer" data-toggle="collapse" data-target=".multi-collapse">{{ object.name }}</h1>
            </div>
        </div>
    {% endblock name %}
    {% block basics %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Basics</h2>
        </div>
        <div class="row">
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ object.name }}</div>
            <div class="col-sm">Nature</div>
            <a class="col-sm" href="{{ object.nature.get_absolute_url }}">{{ object.nature }}</a>
        </div>
        <div class="row">
            <div class="col-sm">Player</div>
            <div class="col-sm">{{ object.owner }}</div>
            <div class="col-sm">Demeanor</div>
            <a class="col-sm" href="{{ object.demeanor.get_absolute_url }}">{{ object.demeanor }}</a>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Concept</div>
            <div class="col-sm">{{ object.concept }}</div>
            <div class="col-sm"></div>
        </div>
    {% endblock basics %}
    {% block attributes %}
        {% include "characters/core/attribute_block/detail.html" %}
    {% endblock attributes %}
    {% block abilities %}
    {% endblock abilities %}
    {% block advantages %}
        {% include "characters/core/human/advantages_display.html" %}
    {% endblock advantages %}
    {% block backgrounds %}
        {% include "characters/core/background_block/detail.html" %}
    {% endblock backgrounds %}
    {% block powers %}
    {% endblock powers %}
    {% block mfs %}
        {% include "characters/core/human/mf_display_block.html" %}
    {% endblock mfs %}
    {% block languages %}
        {% include "characters/core/human/language_display_block.html" %}
    {% endblock languages %}
    {% block equipment %}
    {% endblock equipment %}
    {% block allies %}
    {% endblock allies %}
{% endblock statistics %}
{% block flavor %}
    {% block appearance %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Appearance</h2>
        </div>
        <div class="row">
            <div class="col-sm">Date of Birth</div>
            <div class="col-sm">{{ object.date_of_birth }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Apparent Age</div>
            <div class="col-sm">{{ object.apparent_age }}</div>
            <div class="col-sm">Age</div>
            <div class="col-sm">{{ object.age }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Description</div>
            <div class="col-sm">{{ object.description }}</div>
        </div>
    {% endblock appearance %}
    {% block history %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">History</h2>
        </div>
        <div class="row">
            <div class="col-sm">History</div>
            <div class="col-sm">{{ object.history }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Goals</div>
            <div class="col-sm">{{ object.goals }}</div>
            <div class="col-sm">Notes</div>
            <div class="col-sm">{{ object.notes }}</div>
        </div>
    {% endblock history %}
    {% block health %}
    {% endblock health %}
    {% block freebies %}
    {% endblock freebies %}
    {% block xp %}
    {% endblock xp %}
    {% block journal %}
        <div class="row">
            <h3 class="col-sm {{ object.get_heading }}">
                <a href="{{ object.journal.get_absolute_url }}">{{ object.name }} Journal</a>
            </h3>
        </div>
    {% endblock journal %}
{% endblock flavor %}
