<div class="row">
    <h2 class="col-sm {{ object.get_heading }} pointer"
        data-toggle="collapse"
        data-target="#healthSection"
        aria-expanded="true"
        aria-controls="healthSection">Health</h2>
</div>
<div id="healthSection" class="collapse show">
    {% for nm, pen, hl in object.get_health_table %}
        <div class="row">
            <div class="col-sm">{{ nm }}</div>
            <div class="col-sm">{{ pen }}</div>
            <div class="col-sm">
                {% if hl == "-" %}
                    <div class="health-box"></div>
                {% elif hl == "B" %}
                    <div class="health-box bashing"></div>
                {% elif hl == "L" %}
                    <div class="health-box lethal"></div>
                {% elif hl == "A" %}
                    <div class="health-box aggravated"></div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
