<div class="row">
    <h2 class="col-sm {{ object.get_heading }}  pointer"
        data-toggle="collapse"
        data-target="#languageSection"
        aria-expanded="true"
        aria-controls="languageSection">Languages</h2>
</div>
<div id="languageSection" class="collapse show multi-collapse">
    <div class="row">
        {% for lang in object.languages.all %}
            {% if forloop.counter0|divisibleby:6 %}
            </div>
            <div class="row">
            {% endif %}
            <div class="col-sm-2">{{ lang }}</div>
            {% if forloop.last %}</div>{% endif %}
    {% empty %}
    </div>
{% endfor %}
</div>
