{% extends "core/base.html" %}
{% block title %}
    {{ object }}
{% endblock title %}
{% block content %}
    {% load sanitize_text %}
    {% if is_approved_user %}
        <div class="container centertext">
            <div class="row">
                <h2 class="col-sm {{ object.character.get_heading }}">{{ object }}</h2>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm">{{ new_entry_form.date }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">{{ new_entry_form.message }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <button type="submit" name="submit_entry" value="Submit Entry">Submit Entry</button>
                    </div>
                </div>
            </form>
            {% regroup st_response_forms by entry.date.date as date_groups %}
            {% for date_group in date_groups %}
                <div class="row">
                    <h4 class="col-sm {{ object.character.get_heading }}">{{ date_group.grouper }}</h4>
                </div>
                {% for form in date_group.list %}
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm">{{ form.entry.message|quote_tag|sanitize_html }}</div>
                        </div>
                        {% if form.entry.st_message %}
                            {% if form.entry.st_message != 'Read' %}
                                <div class="row">
                                    <div class="col-sm st">{{ form.entry.st_message|quote_tag|sanitize_html }}</div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if request.user.profile.is_st %}
                                <div class="row">
                                    <div class="col-sm st">{{ form.st_message }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <button type="submit" name="submit_response" value="{{ form.entry.pk }}">Submit ST Response</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </form>
                {% endfor %}
            {% endfor %}
            <div class="row">
                <a class="col-sm" href="{% url 'game:commands' %}">List of Commands</a>
            </div>
        </div>
    {% endif %}
{% endblock content %}
