{% extends "core/object.html" %}
{% block contents %}
    {% load dots %}
    {% load sanitize_text %}
    <div class="row">
        <h1 class="col-sm {{ object.get_heading }}">{{ object.name }}</h1>
    </div>
    <div class="row">
        <div class="col-sm">Favored Attributes</div>
    </div>
    <div class="row">
        {% for attribute in object.favored_attributes.all %}
            <div class="col-sm-12 col-md-6 col-lg-4">{{ attribute }}</div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm">Favored Paths</div>
    </div>
    <div class="row">
        {% for path in object.favored_paths.all %}
            <a class="col-sm-12 col-md-6 col-lg-4"
               href="{{ path.get_absolute_url }}">{{ path }}</a>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ object.description }}</div>
    </div>
{% endblock contents %}
