{% load dots %}
<div class="row">
    <h2 class="col-sm {{ object.get_heading }} pointer"
        data-toggle="collapse"
        data-target="#backgroundsSection"
        aria-expanded="true"
        aria-controls="backgroundsSection">Backgrounds</h2>
</div>
<div id="backgroundsSection" class="collapse show multi-collapse">
    <div class="row">
        {% for bg in object.backgrounds.all %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    <!-- Center the content inside the card -->
                    <div class="card-body text-center">
                        <!-- Flex container to align bg.bg and bg.rating|dots horizontally -->
                        <div class="d-inline-flex align-items-center">
                            <div>
                                {% if bg.display_alt_name %}
                                    {{ bg.bg.alternate_name }}
                                {% else %}
                                    {{ bg.bg }}
                                {% endif %}
                            </div>
                            <div class="dots ml-2">{{ bg.rating|dots }}</div>
                        </div>
                        <!-- Ensure bg.note is on a new line with some top margin -->
                        <div class="mt-2">
                            {% if bg.note %}
                                {% if bg.url %}
                                    <!-- Display bg.note as a link if bg.url exists -->
                                    <a href="{{ bg.url }}">{{ bg.note }}</a>
                                {% else %}
                                    <!-- Display bg.note as plain text -->
                                    <div>{{ bg.note }}</div>
                                {% endif %}
                            {% else %}
                                <!-- Insert an empty div to maintain spacing -->
                                <div class="hidden">&nbsp;</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">No backgrounds available.</div>
        {% endfor %}
    </div>
</div>
