{% extends "core/form.html" %}
{% block contents %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Level</div>
        <div class="col-sm">{{ form.level }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Type</div>
        <div class="col-sm">{{ form.rite_type }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ form.description }}</div>
    </div>
{% endblock contents %}
