{% extends "locations/core/location/detail.html" %}
{% block other %}
    <div class="row">
        <div class="col-sm">Population</div>
        <div class="col-sm">{{ object.population }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Mood</div>
        <div class="col-sm">{{ object.mood }}</div>
        <div class="col-sm">Theme</div>
        <div class="col-sm">{{ object.theme }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Media</div>
        <div class="col-sm">{{ object.media }}</div>
        <div class="col-sm">Politicians</div>
        <div class="col-sm">{{ object.politicians }}</div>
    </div>
{% endblock other %}
{% block post_description %}
    <div class="row">
        <h2 class="col-sm">Characters</h2>
    </div>
    {% for character in object.characters.all %}
        <div class="row">
            <a class="col-sm" href="{{ character.get_absolute_url }}">{{ character }}</a>
        </div>
    {% endfor %}
{% endblock post_description %}
