{% extends "core/form.html" %}
{% block contents %}
    <div class="row">
        <h2 class="col-sm mtas_heading">{{ form.name }}</h2>
    </div>
    {% block basics %}
        <div class="row">
            <div class="col-sm">Rank</div>
            <div class="col-sm">{{ form.rank }}</div>
            <div class="col-sm">Background Cost</div>
            <div class="col-sm">{{ form.background_cost }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Maximum Quintessence</div>
            <div class="col-sm">{{ form.quintessence_max }}</div>
        </div>
    {% endblock basics %}
    {% block resonance %}
        <div class="col-sm mtas_heading">
            <h2>Resonance</h2>
        </div>
        <div class="row">
            {% for res in resonance %}
                <a class="col-sm" href={{ res.resonance.get_absolute_url }}>{{ res.resonance }}: {{ res.rating }}</a>
            {% endfor %}
        </div>
    {% endblock resonance %}
    {% block powers %}
    {% endblock powers %}
    {% block description %}
        <div class="row">
            <div class="col-sm">Description</div>
            <div class="col-sm">{{ form.description }}</div>
        </div>
    {% endblock description %}
{% endblock contents %}
