<div class="row">
    <h3 class="col-sm {{ object.get_heading }} pointer"
        data-toggle="collapse"
        data-target="#sceneSection"
        aria-expanded="true"
        aria-controls="sceneSection">Scenes</h3>
</div>
<div id="sceneSection" class="collapse show multi-collapse">
    <div class="row border">
        <div class="col-sm border">
            <b>Title</b>
        </div>
        <div class="col-sm border">
            <b>Date of Scene</b>
        </div>
    </div>
    {% for scene in scenes %}
        <div class="row border">
            <a class="col-sm border" href="{{ scene.get_absolute_url }}">{{ scene.name }}
                {% if not scene.finished %}- <b>Ongoing</b>{% endif %}
            </a>
            <div class="col-sm">{{ scene.date_of_scene }}</div>
        </div>
    {% endfor %}
</div>
