{% extends "core/object.html" %}
{% block contents %}
    {% if is_approved_user %}
        {% block statistics %}
            {% block name %}
                <div class="row">
                    <div class="col-sm {{ object.get_heading }}">
                        <h1>{{ object.name }}</h1>
                    </div>
                </div>
            {% endblock name %}
            {% block basics %}
                <div class="row">
                    <h2 class="col-sm {{ object.get_heading }}">Basics</h2>
                </div>
                <div class="row">
                    <div class="col-sm">Name</div>
                    <div class="col-sm">{{ object.name }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">Player</div>
                    <a class="col-sm" href="{{ object.owner.profile.get_absolute_url }}">{{ object.owner }}</a>
                </div>
                <div class="row">
                    <div class="col-sm">Concept</div>
                    <div class="col-sm">{{ object.concept }}</div>
                </div>
            {% endblock basics %}
        {% endblock statistics %}
        {% block flavor %}
        {% endblock flavor %}
        {% block scenes %}
            {% include "characters/core/character/char_scene_display.html" %}
        {% endblock scenes %}
    {% else %}
        {% include "characters/core/character/not_owner.html" %}
    {% endif %}
    {% block status_change %}
        {% if is_approved_user %}
                <form {% block formdetails %}
                      action=""
                      method="post"
                      {% endblock formdetails %}>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm">
                            <input type="submit" name="retire" value="Mark Retired" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <input type="submit" name="decease" value="Mark Deceased" />
                        </div>
                    </div>
                </form>
        {% endif %}
    {% endblock status_change %}
{% endblock contents %}
