{% extends "core/form.html" %}
{% block creation_title %}
    Create Character
{% endblock creation_title %}
{% block contents %}
    <div class="row">
        <h1 class="col-sm">{{ form.name }}</h1>
    </div>
    <div class="row">
        <div class="col-sm">Player</div>
        <div class="col-sm">{{ form.owner }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Concept</div>
        <div class="col-sm">{{ form.concept }}</div>
    </div>
    {% block statistics %}
    {% endblock statistics %}
    {% block flavor %}
    {% endblock flavor %}
{% endblock contents %}
