{% extends "core/base.html" %}
{% block title %}
    Languages
{% endblock title %}
{% block content %}
    {% load field %}
    <div class="centertext container">
        <div class="row border">
            <h3 class="col-sm border">Languages</h3>
        </div>
        {% for language in object_list %}
            <div class="row border">
                <a class="col-sm border" href="{{ language.get_absolute_url }}">{{ language.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
