<div class="row">
    <h2 class="col-sm">{{ form.name }}</h2>
</div>
<div class="row">
    <div class="col-sm">{{ form.parent }}</div>
</div>
<div class="row">
    <div class="col-sm">Gauntlet</div>
    <div class="col-sm">{{ form.gauntlet }}</div>
    <div class="col-sm">Shroud</div>
    <div class="col-sm">{{ form.shroud }}</div>
    <div class="col-sm">Dimension Barrier</div>
    <div class="col-sm">{{ form.dimension_barrier }}</div>
</div>
<div class="row">
    <div class="col-sm">Rank</div>
    <div class="col-sm">{{ form.rank }}</div>
    <div class="col-sm">Size</div>
    <div class="col-sm">{{ form.size }}</div>
    <div class="col-sm">Ratio</div>
    <div class="col-sm">{{ form.ratio }}</div>
</div>
<div class="row">
    <div class="col-sm">Quintessence Form</div>
    <div class="col-sm">{{ form.quintessence_form }}</div>
    <div class="col-sm">Tass Form</div>
    <div class="col-sm">{{ form.tass_form }}</div>
</div>
{% if merits_and_flaws.count != 0 %}
    <div class="col-sm {{ form.get_heading }}">
        <h2>Merits and Flaws</h2>
    </div>
    {{ form.merit_flaw_formset.management_form }}
    <div id="merit_flaw_formset">
        {% for subform in form.merit_flaw_formset.forms %}
            <div class="row">
                <div class="col-sm">{{ subform.mf }}</div>
                <div class="col-sm">{{ subform.rating }}</div>
            </div>
        {% endfor %}
    </div>
    <div id="empty_merit_flaw_form" class="invisible">
        <div class="row">
            <div class="col-sm">{{ form.merit_flaw_formset.empty_form.mf }}</div>
            <div class="col-sm">{{ form.merit_flaw_formset.empty_form.rating }}</div>
        </div>
    </div>
    <button type="button" id="add-merit-flaw">Add Merit/Flaw</button>
{% endif %}
<div class="col-sm {{ form.get_heading }}">
    <h2>Resonance</h2>
</div>
{{ form.resonance_formset.management_form }}
<div id="resonance_formset">
    {% for subform in form.resonance_formset.forms %}
        <div class="row">
            <div class="col-sm">{{ subform.resonance }}</div>
            <div class="col-sm">{{ subform.rating }}</div>
        </div>
    {% endfor %}
</div>
<div id="empty_resonance_form" class="invisible">
    <div class="row">
        <div class="col-sm">{{ form.resonance_formset.empty_form.resonance }}</div>
        <div class="col-sm">{{ form.resonance_formset.empty_form.rating }}</div>
    </div>
</div>
<button type="button" id="add-resonance">Add Resonance</button>
<div class="col-sm {{ form.get_heading }}">
    <h2>Reality Zone</h2>
</div>
{{ form.reality_zone_formset.management_form }}
<div id="reality_zone_formset">
    {% for subform in form.reality_zone_formset.forms %}
        <div class="row">
            <div class="col-sm">{{ subform.practice }}</div>
            <div class="col-sm">{{ subform.rating }}</div>
        </div>
    {% endfor %}
</div>
<div id="empty_reality_zone_form" class="invisible">
    <div class="row">
        <div class="col-sm">{{ form.reality_zone_formset.empty_form.practice }}</div>
        <div class="col-sm">{{ form.reality_zone_formset.empty_form.rating }}</div>
    </div>
</div>
<button type="button" id="add-reality-zone">Add Reality Zone Rating</button>
<div class="row">
    <div class="col-sm">{{ form.description }}</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function addForm(btnId, formsetPrefix) {
        const totalForms = $(`#id_${formsetPrefix}-TOTAL_FORMS`);
        const currentFormCount = parseInt(totalForms.val());
        const formHtml = $(`#empty_${formsetPrefix}_form`).html().replace(/__prefix__/g, currentFormCount);
        totalForms.val(currentFormCount + 1);
        $(`#${formsetPrefix}_formset`).append(formHtml);
    }

    $('#add-resonance').click(function() {
        addForm('add-resonance', 'resonance');
    });

    $('#add-merit-flaw').click(function() {
        addForm('add-merit-flaw', 'merit_flaw');
    });

    $('#add-reality-zone').click(function() {
        addForm('add-reality-zone', 'reality_zone');
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Listen for changes in any dropdowns of the formset
        $(document).on('change', '[id^=id_merit_flaw-][id$=-mf]', function() {
            const id = this.id;  // get the id of the changed field
            const match = id.match(/id_merit_flaw-(\d+)-mf/);  // extract the integer from the id
    
            if (match) {
                const formIndex = match[1];  // get the extracted integer
    
                // Build the ID of the corresponding analogue field
                const ratingFieldId = `#id_merit_flaw-${formIndex}-rating`;
    
                const selectedValue = this.value;
                
                // Assuming "MeritFlaw" is a category for example purposes
                    $.ajax({
                        url: '{% url 'characters:ajax:load_values' %}',  // Update with your actual URL
                        data: {
                            'example': selectedValue
                        },
                        success: function (data) {
                            // Update the corresponding rating field with the AJAX response
                            $(ratingFieldId).html(data);
                        }
                    });
            }
        });
    });
</script>
