{% extends "wod/characters/human/human/detail.html" %}
{% load dots %}
{% load get_specialty %}
{% block abilities %}
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Abilities</h2>
    </div>
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Talents</h3>
        <h3 class="col-sm {{ object.get_heading }}">Skills</h3>
        <h3 class="col-sm {{ object.get_heading }}">Knowledges</h3>
    </div>
    <div class="row">
        <div class="col-sm">
            Alertness
            {% if alertness_spec %}({{ alertness_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.alertness|dots }}</div>
        <div class="col-sm">
            Crafts
            {% if crafts_spec %}({{ crafts_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.crafts|dots }}</div>
        <div class="col-sm">
            Academics
            {% if academics_spec %}({{ academics_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.academics|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Art
            {% if art_spec %}({{ art_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.art|dots }}</div>
        <div class="col-sm">
            Drive
            {% if drive_spec %}({{ drive_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.drive|dots }}</div>
        <div class="col-sm">
            Computer
            {% if computer_spec %}({{ computer_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.computer|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Athletics
            {% if athletics_spec %}({{ athletics_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.athletics|dots }}</div>
        <div class="col-sm">
            Etiquette
            {% if etiquette_spec %}({{ etiquette_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.etiquette|dots }}</div>
        <div class="col-sm">
            Cosmology
            {% if cosmology_spec %}({{ cosmology_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.cosmology|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Awareness
            {% if awareness_spec %}({{ awareness_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.awareness|dots }}</div>
        <div class="col-sm">
            Firearms
            {% if firearms_spec %}({{ firearms_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.firearms|dots }}</div>
        <div class="col-sm">
            Enigmas
            {% if enigmas_spec %}({{ enigmas_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.enigmas|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Brawl
            {% if brawl_spec %}({{ brawl_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.brawl|dots }}</div>
        <div class="col-sm">
            Martial Arts
            {% if martial_arts_spec %}({{ martial_arts_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.martial_arts|dots }}</div>
        <div class="col-sm">
            Esoterica
            {% if esoterica_spec %}({{ esoterica_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.esoterica|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Empathy
            {% if empathy_spec %}({{ empathy_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.empathy|dots }}</div>
        <div class="col-sm">
            Meditation
            {% if meditation_spec %}({{ meditation_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.meditation|dots }}</div>
        <div class="col-sm">
            Investigation
            {% if investigation_spec %}({{ investigation_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.investigation|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Expression
            {% if expression_spec %}({{ expression_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.expression|dots }}</div>
        <div class="col-sm">
            Melee
            {% if melee_spec %}({{ melee_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.melee|dots }}</div>
        <div class="col-sm">
            Law
            {% if law_spec %}({{ law_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.law|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Intimidation
            {% if intimidation_spec %}({{ intimidation_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.intimidation|dots }}</div>
        <div class="col-sm">
            Research
            {% if research_spec %}({{ research_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.research|dots }}
        </div>
        <div class="col-sm">
            Medicine
            {% if medicine_spec %}({{ medicine_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.medicine|dots }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Leadership
            {% if leadership_spec %}({{ leadership_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.leadership|dots }}
        </div>
        <div class="col-sm">
            Stealth
            {% if stealth_spec %}({{ stealth_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.stealth|dots }}
        </div>
        <div class="col-sm">
            Occult
            {% if occult_spec %}({{ occult_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.occult|dots }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Streetwise
            {% if streetwise_spec %}({{ streetwise_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.streetwise|dots }}
        </div>
        <div class="col-sm">
            Survival
            {% if survival_spec %}({{ survival_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.survival|dots }}
        </div>
        <div class="col-sm">
            Politics
            {% if politics_spec %}({{ politics_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.politics|dots }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Subterfuge
            {% if subterfuge_spec %}({{ subterfuge_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.subterfuge|dots }}
        </div>
        <div class="col-sm">
            Technology
            {% if technology_spec %}({{ technology_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.technology|dots }}
        </div>
        <div class="col-sm">
            Science
            {% if science_spec %}({{ science_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.science|dots }}
        </div>
    </div>
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">
            Secondary Abilities
        </h2>
    </div>
    {% for tal, ski, kno in object.get_secondaries_for_display %}
        <div class="row">
            <div class="col-sm">
                {{ tal|first }}
                {% with talname=tal|last %}
                {% if object|get_specialty:talname %}({{ object|get_specialty:talname }}){% endif %}
                {% endwith %}
            </div>
            {% if tal|slice:"1:"|first != 0 %}
                <div class="col-sm dots">
                    {{ tal|slice:"1:"|first|dots }}
                </div>
            {% else %}
                <div class="col-sm dots">
                </div>
            {% endif %}
            <div class="col-sm">
                {{ ski|first }}
                {% with skiname=ski|last %}
                {% if object|get_specialty:skiname %}({{ object|get_specialty:skiname }}){% endif %}
                {% endwith %}
            </div>
            {% if ski|slice:"1:"|first != 0 %}
                <div class="col-sm dots">
                    {{ ski|slice:"1:"|first|dots }}
                </div>
            {% else %}
                <div class="col-sm dots">
                </div>
            {% endif %}
            <div class="col-sm">
                {{ kno|first }}
                {% with knoname=kno|last %}
                {% if object|get_specialty:knoname %}({{ object|get_specialty:knoname }}){% endif %}
                {% endwith %}
            </div>
            {% if kno|slice:"1:"|first != 0 %}
                <div class="col-sm dots">
                    {{ kno|slice:"1:"|first|dots }}
                </div>
            {% else %}
                <div class="col-sm dots">
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if object.faction.name == "Akashayana" %}
        <div class="row">
            <div class="col-sm">
                Do
                {% if do_spec %}({{ do_spec }}){% endif %}
            </div>
            <div class="col-sm dots">
                {{ object.do|dots }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
    {% endif %}
{% endblock abilities %}
