{% extends "characters/core/human/form.html" %}
{% load dots %}
{% load get_specialty %}
{% block abilities %}
    {% include "characters/mage/mtahuman/ability_block_form.html" %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">Secondary Abilities</h2>
    </div>
    {% for tal, ski, kno in form.get_secondaries_for_display %}
        <div class="row">
            <div class="col-sm">
                {{ tal|first }}
                {% with talname=tal|last %}
                    {% if form|get_specialty:talname %}({{ form|get_specialty:talname }}){% endif %}
                {% endwith %}
            </div>
            {% if tal|slice:"1:"|first != 0 %}
                <div class="col-sm dots">{{ tal|slice:"1:"|first|dots }}</div>
            {% else %}
                <div class="col-sm dots"></div>
            {% endif %}
            <div class="col-sm">
                {{ ski|first }}
                {% with skiname=ski|last %}
                    {% if form|get_specialty:skiname %}({{ form|get_specialty:skiname }}){% endif %}
                {% endwith %}
            </div>
            {% if ski|slice:"1:"|first != 0 %}
                <div class="col-sm dots">{{ ski|slice:"1:"|first|dots }}</div>
            {% else %}
                <div class="col-sm dots"></div>
            {% endif %}
            <div class="col-sm">
                {{ kno|first }}
                {% with knoname=kno|last %}
                    {% if form|get_specialty:knoname %}({{ form|get_specialty:knoname }}){% endif %}
                {% endwith %}
            </div>
            {% if kno|slice:"1:"|first != 0 %}
                <div class="col-sm dots">{{ kno|slice:"1:"|first|dots }}</div>
            {% else %}
                <div class="col-sm dots"></div>
            {% endif %}
        </div>
    {% endfor %}
    {% if form.faction.name == "Akashayana" %}
        <div class="row">
            <div class="col-sm">
                Do
                {% if do_spec %}({{ do_spec }}){% endif %}
            </div>
            <div class="col-sm dots">{{ form.do|dots }}</div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        </div>
    {% endif %}
{% endblock abilities %}
