{% extends "characters/core/human/detail.html" %}
{% load dots %}
{% block abilities %}
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Abilities</h2>
    </div>
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Talents</h3>
        <h3 class="col-sm {{ object.get_heading }}">Skills</h3>
        <h3 class="col-sm {{ object.get_heading }}">Knowledges</h3>
    </div>
    <div class="row">
        <div class="col-sm">
            Alertness
            {% if alertness_spec %}({{ alertness_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.alertness|dots }}</div>
        <div class="col-sm">
            Animal Ken
            {% if animal_ken_spec %}({{ animal_ken_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.animal_ken|dots }}</div>
        <div class="col-sm">
            Academics
            {% if academics_spec %}({{ academics_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.academics|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Athletics
            {% if athletics_spec %}({{ athletics_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.athletics|dots }}</div>
        <div class="col-sm">
            Crafts
            {% if crafts_spec %}({{ crafts_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.crafts|dots }}</div>
        <div class="col-sm">
            Computer
            {% if computer_spec %}({{ computer_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.computer|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Brawl
            {% if brawl_spec %}({{ brawl_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.brawl|dots }}</div>
        <div class="col-sm">
            Drive
            {% if drive_spec %}({{ drive_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.drive|dots }}</div>
        <div class="col-sm">
            Enigmas
            {% if enigmas_spec %}({{ enigmas_spec }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.enigmas|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Empathy
            {% if empathy_spec %}({{ empathy_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.empathy|dots }}
        </div>
        <div class="col-sm">
            Etiquette
            {% if etiquette_spec %}({{ etiquette_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.etiquette|dots }}
        </div>
        <div class="col-sm">
            Investigation
            {% if investigation_spec %}({{ investigation_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.investigation|dots }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Expression
            {% if expression_spec %}({{ expression_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.expression|dots }}
        </div>
        <div class="col-sm">
            Firearms
            {% if firearms_spec %}({{ firearms_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.firearms|dots }}
        </div>
        <div class="col-sm">
            Law
            {% if law_spec %}({{ law_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.law|dots }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Intimidation
            {% if intimidation_spec %}({{ intimidation_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.intimidation|dots }}
        </div>
        <div class="col-sm">
            Larceny
            {% if larceny_spec %}({{ larceny_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.larceny|dots }}
        </div>
        <div class="col-sm">
            Medicine
            {% if medicine_spec %}({{ medicine_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.medicine|dots }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Leadership
            {% if leadership_spec %}({{ leadership_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.leadership|dots }}
        </div>
        <div class="col-sm">
            Melee
            {% if melee_spec %}({{ melee_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.melee|dots }}
        </div>
        <div class="col-sm">
            Occult
            {% if occult_spec %}({{ occult_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.occult|dots }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Primal-Urge
            {% if primal_urge_spec %}({{ primal_urge_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.primal_urge|dots }}
        </div>
        <div class="col-sm">
            Performance
            {% if performance_spec %}({{ performance_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.performance|dots }}
        </div>
        <div class="col-sm">
            Rituals
            {% if rituals_spec %}({{ rituals_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.rituals|dots }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Streetwise
            {% if streetwise_spec %}({{ streetwise_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.streetwise|dots }}
        </div>
        <div class="col-sm">
            Stealth
            {% if stealth_spec %}({{ stealth_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.stealth|dots }}
        </div>
        <div class="col-sm">
            Science
            {% if science_spec %}({{ science_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.science|dots }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            Subterfuge
            {% if subterfuge_spec %}({{ subterfuge_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.subterfuge|dots }}
        </div>
        <div class="col-sm">
            Survival
            {% if survival_spec %}({{ survival_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.survival|dots }}
        </div>
        <div class="col-sm">
            Technology
            {% if technology_spec %}({{ technology_spec }}){% endif %}
        </div>
        <div class="col-sm dots">
            {{ object.technology|dots }}
        </div>
    </div>
{% endblock abilities %}
{% block backgrounds %}
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">
            Backgrounds
        </h2>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            Allies
        </div>
        <div class="col-sm dots">
            {{ object.allies|dots }}
        </div>
        <div class="col-sm">
            Contacts
        </div>
        <div class="col-sm dots">
            {{ object.contacts|dots }}
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            Mentor
        </div>
        <div class="col-sm dots">
            {{ object.mentor|dots }}
        </div>
        <div class="col-sm">
            Resources
        </div>
        <div class="col-sm dots">
            {{ object.resources|dots }}
        </div>
        <div class="col-sm">
        </div>
    </div>
{% endblock backgrounds %}
