{% extends "core/base.html" %}
{% block title %}
    Charms
{% endblock title %}
{% block content %}
    {% load field %}
    <div class="centertext container">
        <div class="row border">
            <h3 class="col-sm border">Charms</h3>
        </div>
        {% for obj in object_list %}
            <div class="row border">
                <a class="col-sm border" href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
