{% if object.unread_scenes %}
    <div class="row">
        <h2 class="col-sm {{ object.preferred_heading }}">Unread Scenes</h2>
    </div>
    <div class="row">
        {% for scene in object.unread_scenes %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <div>
                            <a href="{{ scene.get_absolute_url }}">{{ scene.name }}</a>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button type="submit" name="mark_scene_read" value="{{ scene.pk }}">Mark Read</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
