{% load field %}
<div class="row">
    <h2 class="col-sm {{ object.preferred_heading }}">Chronicles STed</h2>
</div>
<div class="row">
    {% for chronicle in object.st_relations %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <div>
                        <a href="{{ chronicle.get_absolute_url }}">{{ chronicle.name }}</a>
                    </div>
                    {% for str in object.st_relations|field:chronicle %}
                        <div class="text-center">
                            <div>{{ str.gameline }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
