{% if object.character_images_to_approve or object.location_images_to_approve or object.item_images_to_approve %}
    <h2 class="col-sm {{ user.profile.preferred_heading }}">Images To Approve</h2>
    {% for char in object.character_images_to_approve %}
        <div class="row border">
            <a class="col-sm border d-flex justify-content-center align-items-center"
               href="{{ char.get_absolute_url }}">{{ char.name }}</a>
            <div class="col-sm border d-flex justify-content-center align-items-center">
                {% if char.owner is not None %}{{ char.owner }}{% endif %}
            </div>
            <div class="cols-sm border">
                <img src="{{ char.image.url }}"
                     width="300"
                     height="{{ image.height }}"
                     alt="image of {{ char.name }}" />
            </div>
            <div class="col-sm border d-flex justify-content-center align-items-center">
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit"
                            name="approve_character_image"
                            value="character-{{ char.pk }}">Approve</button>
                </form>
            </div>
        </div>
    {% endfor %}
    {% for char in object.location_images_to_approve %}
        <div class="row border">
            <a class="col-sm-3 border d-flex justify-content-center align-items-center"
               href="{{ char.get_absolute_url }}">{{ char.name }}</a>
            <div class="col-sm-3 border d-flex justify-content-center align-items-center">
                {% if char.owner is not None %}{{ char.owner }}{% endif %}
            </div>
            <div class="cols-sm-3 border">
                <img src="{{ char.image.url }}"
                     width="300"
                     height="{{ image.height }}"
                     alt="image of {{ char.name }}" />
            </div>
            <div class="col-sm border d-flex justify-content-center align-items-center">
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit"
                            name="approve_location_image"
                            value="location-{{ char.pk }}">Approve</button>
                </form>
            </div>
        </div>
    {% endfor %}
    {% for char in object.item_images_to_approve %}
        <div class="row border">
            <a class="col-sm-3 border d-flex justify-content-center align-items-center"
               href="{{ char.get_absolute_url }}">{{ char.name }}</a>
            <div class="col-sm-3 border d-flex justify-content-center align-items-center">
                {% if char.owner is not None %}{{ char.owner }}{% endif %}
            </div>
            <div class="cols-sm-3 border">
                <img src="{{ char.image.url }}"
                     width="300"
                     height="{{ image.height }}"
                     alt="image of {{ char.name }}" />
            </div>
            <div class="col-sm border d-flex justify-content-center align-items-center">
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" name="approve_item_image" value="item-{{ char.pk }}">Approve</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
