{% if object.get_updated_journals %}
    <div class="row">
        <h2 class="col-sm {{ object.preferred_heading }}">Updated Journals</h2>
    </div>
    <div class="row">
        {% for journal in object.get_updated_journals %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <div>
                            <a href="{{ journal.get_absolute_url }}">{{ journal.character.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
