{% load field %}
{% if object.rotes_to_approve %}
    <div class="row">
        <h2 class="col-sm {{ object.preferred_heading }}">Rotes To Approve</h2>
    </div>
    <div class="row">
        {% for obj in object.rotes_to_approve %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <div>
                            <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
                        </div>
                        <div>
                            <div>{{ obj.get_status_display }}</div>
                        </div>
                        <div>
                            <div>
                                {% for c in object.rotes_to_approve|field:obj %}
                                    <div class="text-center">
                                        <a href="{{ c.get_absolute_url }}">{{ c }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button type="submit" name="approve_rote" value="{{ obj.pk }}">Approve</button>
                        </form>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">No Items.</div>
        {% endfor %}
    </div>
{% endif %}
