{% extends "wod/characters/mage/mage/detail.html" %}
{% block attributes %}
    <form method="post">
        {% csrf_token %}
        <div class="centertext container">
            <div class="row">
                <h2 class="col-sm mtas_heading">Attributes</h2>
            </div>
            <div class="row">
                <div class="col-sm">Strength</div>
                <div class="col-sm">{{ form.strength }}</div>
                <div class="col-sm">Charisma</div>
                <div class="col-sm">{{ form.charisma }}</div>
                <div class="col-sm">Perception</div>
                <div class="col-sm">{{ form.perception }}</div>
            </div>
            <div class="row">
                <div class="col-sm">Dexterity</div>
                <div class="col-sm">{{ form.dexterity }}</div>
                <div class="col-sm">Manipulation</div>
                <div class="col-sm">{{ form.manipulation }}</div>
                <div class="col-sm">Intelligence</div>
                <div class="col-sm">{{ form.intelligence }}</div>
            </div>
            <div class="row">
                <div class="col-sm">Stamina</div>
                <div class="col-sm">{{ form.stamina }}</div>
                <div class="col-sm">Appearance</div>
                <div class="col-sm">{{ form.appearance }}</div>
                <div class="col-sm">Wits</div>
                <div class="col-sm">{{ form.wits }}</div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <input class="btn btn-primary" name="Random Attributes" type="submit" value="Random Attributes"/>
                    <input class="btn btn-primary" name="Assign Attributes" type="submit" value="Assign Attributes"/>
                </div>
            </div>
        </div>
    </form>
{% endblock attributes %}
{% block abilities %}
{% endblock abilities %}
{% block backgrounds %}
{% endblock backgrounds %}
{% block advantages %}
{% endblock advantages %}
{% block powers %}
{% endblock powers %}
{% block mfs %}
{% endblock mfs %}
{% block languages %}
{% endblock languages %}
{% block appearance %}
{% endblock appearance %}
{% block history %}
{% endblock history %}
{% block advancement %}
{% endblock advancement %}
{% block update %}
{% endblock update %}