{% extends "wod/characters/mage/mage/detail.html" %}
{% load dots %}
{% block backgrounds %}
    <form method="post">
        {% csrf_token %}
        <div class="centertext container">
            <div class="row">
                <h2 class="col-sm mtas_heading">Backgrounds</h2>
            </div>
            <div class="row">
                <div class="col-sm">Allies</div>
                <div class="col-sm">{{ form.allies }}</div>
                <div class="col-sm">Alternate Identity</div>
                <div class="col-sm">{{ form.alternate_identity }}</div>
                <div class="col-sm">Arcane</div>
                <div class="col-sm">{{ form.arcane }}</div>
            </div>
            <div class="row">
                <div class="col-sm">Avatar</div>
                <div class="col-sm">{{ form.avatar }}</div>
                <div class="col-sm">Backup</div>
                <div class="col-sm">{{ form.backup }}</div>
                <div class="col-sm">Blessing</div>
                <div class="col-sm">{{ form.blessing }}</div>
            </div>
            <div class="row">
                <div class="col-sm">Certification</div>
                <div class="col-sm">{{ form.certification }}</div>
                <div class="col-sm">Chantry</div>
                <div class="col-sm">{{ form.chantry }}</div>
                <div class="col-sm">Contacts</div>
                <div class="col-sm">{{ form.contacts }}</div>
            </div>
            <div class="row">
                <div class="col-sm">Cult</div>
                <div class="col-sm">{{ form.cult }}</div>
                <div class="col-sm">Demesne</div>
                <div class="col-sm">{{ form.demesne }}</div>
                <div class="col-sm">Destiny</div>
                <div class="col-sm">{{ form.destiny }}</div>
            </div>
            <div class="row">
                <div class="col-sm">Dream</div>
                <div class="col-sm">
                    {{ form.dream }}
                </div>
                <div class="col-sm">
                    Enhancement
                </div>
                <div class="col-sm">
                    {{ form.enhancement }}
                </div>
                <div class="col-sm">
                    Fame
                </div>
                <div class="col-sm">
                    {{ form.fame }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Familiar
                </div>
                <div class="col-sm">
                    {{ form.familiar }}
                </div>
                <div class="col-sm">
                    Influence
                </div>
                <div class="col-sm">
                    {{ form.influence }}
                </div>
                <div class="col-sm">
                    Legend
                </div>
                <div class="col-sm">
                    {{ form.legend }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Library
                </div>
                <div class="col-sm">
                    {{ form.library }}
                </div>
                <div class="col-sm">
                    Mentor
                </div>
                <div class="col-sm">
                    {{ form.mentor }}
                </div>
                <div class="col-sm">
                    Node
                </div>
                <div class="col-sm">
                    {{ form.node }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Past Lives
                </div>
                <div class="col-sm">
                    {{ form.past_lives }}
                </div>
                <div class="col-sm">
                    Patron
                </div>
                <div class="col-sm">
                    {{ form.patron }}
                </div>
                <div class="col-sm">
                    Rank
                </div>
                <div class="col-sm">
                    {{ form.rank }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Resources
                </div>
                <div class="col-sm">
                    {{ form.resources }}
                </div>
                <div class="col-sm">
                    Retainers
                </div>
                <div class="col-sm">
                    {{ form.retainers }}
                </div>
                <div class="col-sm">
                    Sanctum
                </div>
                <div class="col-sm">
                    {{ form.sanctum }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Spies
                </div>
                <div class="col-sm">
                    {{ form.spies }}
                </div>
                <div class="col-sm">
                    Status
                </div>
                <div class="col-sm">
                    {{ form.status_background }}
                </div>
                <div class="col-sm">
                    Totem
                </div>
                <div class="col-sm">
                    {{ form.totem }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Wonder
                </div>
                <div class="col-sm">
                    {{ form.wonder }}
                </div>
                <div class="col-sm">
                    Requisitions
                </div>
                <div class="col-sm">
                    {{ form.requisitions }}
                </div>
                <div class="col-sm">
                    Secret Weapons
                </div>
                <div class="col-sm">
                    {{ form.secret_weapons }}
                </div>
            </div>
            <div class="row">
                <h2 class="col-sm mtas_heading">
                    Advantages
                </h2>
            </div>
            <div class="row">
                <div class="col-sm">
                    Willpower
                </div>
                <div class="col-sm dots">
                    {{ 5|dots:10 }}
                </div>
                <div class="col-sm">
                    Arete
                </div>
                <div class="col-sm">
                    {{ form.arete }}
                </div>
                <div class="col-sm">
                    Affinity Sphere
                </div>
                <div class="col-sm">
                    {{ form.affinity_sphere }}
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">
                Focus
            </h2>
        </div>
        <div class="row">
            <div class="col-sm">
                Paradigm
            </div>
            <div class="col-sm">
                {{ form.paradigms }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Practices
            </div>
            <div class="col-sm">
                {{ form.practices }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Instruments
            </div>
            <div class="col-sm">
                {{ form.instruments }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                <input class="btn btn-primary"
                       name="Random Advantages"
                       type="submit"
                       value="Random Advantages"/>
                <input class="btn btn-primary"
                       name="Assign Advantages"
                       type="submit"
                       value="Assign Advantages"/>
            </div>
        </div>
    </form>
{% endblock backgrounds %}
{% block advantages %}
{% endblock advantages %}
{% block spheres %}
{% endblock spheres %}
{% block rotes %}
{% endblock rotes %}
{% block resonance %}
{% endblock resonance %}
{% block focus %}
{% endblock focus %}
{% block mfs %}
{% endblock mfs %}
{% block languages %}
{% endblock languages %}
{% block appearance %}
{% endblock appearance %}
{% block history %}
{% endblock history %}
{% block advancement %}
{% endblock advancement %}
{% block update %}
{% endblock update %}
