{% extends "wod/characters/mage/mage/detail.html" %}
{% load %}
{% block spheres %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Spheres</h2>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ object.get_corr_name_display }}
                {% if correspondence_spec %}({{ correspondence_spec }}){% endif %}
            </div>
            <div class="col-sm">{{ form.correspondence }}</div>
            <div class="col-sm">
                Mind
                {% if mind_spec %}({{ mind_spec }}){% endif %}
            </div>
            <div class="col-sm">{{ form.mind }}</div>
            <div class="col-sm">
                {{ object.get_prime_name_display }}
                {% if prime_spec %}({{ prime_spec }}){% endif %}
            </div>
            <div class="col-sm">{{ form.prime }}</div>
        </div>
        <div class="row">
            <div class="col-sm">
                Entropy
                {% if entropy_spec %}({{ entropy_spec }}){% endif %}
            </div>
            <div class="col-sm">{{ form.entropy }}</div>
            <div class="col-sm">
                Life
                {% if life_spec %}({{ life_spec }}){% endif %}
            </div>
            <div class="col-sm">{{ form.life }}</div>
            <div class="col-sm">
                {{ object.get_spirit_name_display }}
                {% if spirit_spec %}({{ spirit_spec }}){% endif %}
            </div>
            <div class="col-sm">{{ form.spirit }}</div>
        </div>
        <div class="row">
            <div class="col-sm">
                Forces
                {% if forces_spec %}({{ forces_spec }}){% endif %}
            </div>
            <div class="col-sm">{{ form.forces }}</div>
            <div class="col-sm">
                Matter
                {% if matter_spec %}({{ matter_spec }}){% endif %}
            </div>
            <div class="col-sm">{{ form.matter }}</div>
            <div class="col-sm">
                Time
                {% if time_spec %}({{ time_spec }}){% endif %}
            </div>
            <div class="col-sm">{{ form.time }}</div>
        </div>
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Resonance</h2>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.resonance }}</div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                <input class="btn btn-primary"
                       name="Random Powers"
                       type="submit"
                       value="Random Powers"/>
                <input class="btn btn-primary"
                       name="Assign Powers"
                       type="submit"
                       value="Assign Powers"/>
            </div>
        </div>
    </form>
{% endblock spheres %}
{% block rotes %}
{% endblock rotes %}
{% block resonance %}
{% endblock resonance %}
{% block mfs %}
{% endblock mfs %}
{% block languages %}
{% endblock languages %}
{% block appearance %}
{% endblock appearance %}
{% block history %}
{% endblock history %}
{% block advancement %}
{% endblock advancement %}
{% block update %}
{% endblock update %}
