{% extends "wod/characters/mage/mage/detail.html" %}
{% load dots %}
{% load resonance %}
<form method="post">
    {% csrf_token %}
    {% block attributes %}
        <div class="centertext container">
            <div class="row">
                <h2 class="col-sm mtas_heading">Attributes</h2>
            </div>
            <div class="row">
                <div class="col-sm">Strength</div>
                <div class="col-sm">{{ form.strength }}</div>
                <div class="col-sm">Charisma</div>
                <div class="col-sm">{{ form.charisma }}</div>
                <div class="col-sm">Perception</div>
                <div class="col-sm">{{ form.perception }}</div>
            </div>
            <div class="row">
                <div class="col-sm">Dexterity</div>
                <div class="col-sm">{{ form.dexterity }}</div>
                <div class="col-sm">Manipulation</div>
                <div class="col-sm">{{ form.manipulation }}</div>
                <div class="col-sm">Intelligence</div>
                <div class="col-sm">{{ form.intelligence }}</div>
            </div>
            <div class="row">
                <div class="col-sm">Stamina</div>
                <div class="col-sm">{{ form.stamina }}</div>
                <div class="col-sm">Appearance</div>
                <div class="col-sm">{{ form.appearance }}</div>
                <div class="col-sm">Wits</div>
                <div class="col-sm">{{ form.wits }}</div>
            </div>
        </div>
    {% endblock attributes %}
    {% block abilities %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Abilities</h2>
        </div>
        <div class="row">
            <h3 class="col-sm {{ object.get_heading }}">Talents</h3>
            <h3 class="col-sm {{ object.get_heading }}">Skills</h3>
            <h3 class="col-sm {{ object.get_heading }}">Knowledges</h3>
        </div>
        <div class="row">
            <div class="col-sm">Alertness</div>
            <div class="col-sm">{{ form.alertness }}</div>
            <div class="col-sm">Crafts</div>
            <div class="col-sm">
                {{ form.crafts }}
            </div>
            <div class="col-sm">
                Academics
            </div>
            <div class="col-sm">
                {{ form.academics }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Art
            </div>
            <div class="col-sm">
                {{ form.art }}
            </div>
            <div class="col-sm">
                Drive
            </div>
            <div class="col-sm">
                {{ form.drive }}
            </div>
            <div class="col-sm">
                Computer
            </div>
            <div class="col-sm">
                {{ form.computer }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Athletics
            </div>
            <div class="col-sm">
                {{ form.athletics }}
            </div>
            <div class="col-sm">
                Etiquette
            </div>
            <div class="col-sm">
                {{ form.etiquette }}
            </div>
            <div class="col-sm">
                Cosmology
            </div>
            <div class="col-sm">
                {{ form.cosmology }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Awareness
            </div>
            <div class="col-sm">
                {{ form.awareness }}
            </div>
            <div class="col-sm">
                Firearms
            </div>
            <div class="col-sm">
                {{ form.firearms }}
            </div>
            <div class="col-sm">
                Enigmas
            </div>
            <div class="col-sm">
                {{ form.enigmas }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Brawl
            </div>
            <div class="col-sm">
                {{ form.brawl }}
            </div>
            <div class="col-sm">
                Martial Arts
            </div>
            <div class="col-sm">
                {{ form.martial_arts }}
            </div>
            <div class="col-sm">
                Esoterica
            </div>
            <div class="col-sm">
                {{ form.esoterica }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Empathy
            </div>
            <div class="col-sm">
                {{ form.empathy }}
            </div>
            <div class="col-sm">
                Meditation
            </div>
            <div class="col-sm">
                {{ form.meditation }}
            </div>
            <div class="col-sm">
                Investigation
            </div>
            <div class="col-sm">
                {{ form.investigation }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Expression
            </div>
            <div class="col-sm">
                {{ form.expression }}
            </div>
            <div class="col-sm">
                Melee
            </div>
            <div class="col-sm">
                {{ form.melee }}
            </div>
            <div class="col-sm">
                Law
            </div>
            <div class="col-sm">
                {{ form.law }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Intimidation
            </div>
            <div class="col-sm">
                {{ form.intimidation }}
            </div>
            <div class="col-sm">
                Research
            </div>
            <div class="col-sm">
                {{ form.research }}
            </div>
            <div class="col-sm">
                Medicine
            </div>
            <div class="col-sm">
                {{ form.medicine }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Leadership
            </div>
            <div class="col-sm">
                {{ form.leadership }}
            </div>
            <div class="col-sm">
                Stealth
            </div>
            <div class="col-sm">
                {{ form.stealth }}
            </div>
            <div class="col-sm">
                Occult
            </div>
            <div class="col-sm">
                {{ form.occult }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Streetwise
            </div>
            <div class="col-sm">
                {{ form.streetwise }}
            </div>
            <div class="col-sm">
                Survival
            </div>
            <div class="col-sm">
                {{ form.survival }}
            </div>
            <div class="col-sm">
                Politics
            </div>
            <div class="col-sm">
                {{ form.politics }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Subterfuge
            </div>
            <div class="col-sm">
                {{ form.subterfuge }}
            </div>
            <div class="col-sm">
                Technology
            </div>
            <div class="col-sm">
                {{ form.technology }}
            </div>
            <div class="col-sm">
                Science
            </div>
            <div class="col-sm">
                {{ form.science }}
            </div>
        </div>
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">
                Secondary Abilities
            </h2>
        </div>
        <div class="row">
            <div class="col-sm">
                Animal Kinship
            </div>
            <div class="col-sm">
                {{ form.animal_kinship }}
            </div>
            <div class="col-sm">
                Acrobatics
            </div>
            <div class="col-sm">
                {{ form.acrobatics }}
            </div>
            <div class="col-sm">
                Area Knowledge
            </div>
            <div class="col-sm">
                {{ form.area_knowledge }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Blatancy
            </div>
            <div class="col-sm">
                {{ form.blatancy }}
            </div>
            <div class="col-sm">
                Archery
            </div>
            <div class="col-sm">
                {{ form.archery }}
            </div>
            <div class="col-sm">
                Belief Systems
            </div>
            <div class="col-sm">
                {{ form.belief_systems }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Carousing
            </div>
            <div class="col-sm">
                {{ form.carousing }}
            </div>
            <div class="col-sm">
                Biotech
            </div>
            <div class="col-sm">
                {{ form.biotech }}
            </div>
            <div class="col-sm">
                Cryptography
            </div>
            <div class="col-sm">
                {{ form.cryptography }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Flying
            </div>
            <div class="col-sm">
                {{ form.flying }}
            </div>
            <div class="col-sm">
                Energy Weapons
            </div>
            <div class="col-sm">
                {{ form.energy_weapons }}
            </div>
            <div class="col-sm">
                Demolitions
            </div>
            <div class="col-sm">
                {{ form.demolitions }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                High Ritual
            </div>
            <div class="col-sm">
                {{ form.high_ritual }}
            </div>
            <div class="col-sm">
                Hypertech
            </div>
            <div class="col-sm">
                {{ form.hypertech }}
            </div>
            <div class="col-sm">
                Finance
            </div>
            <div class="col-sm">
                {{ form.finance }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Lucid Dreaming
            </div>
            <div class="col-sm">
                {{ form.lucid_dreaming }}
            </div>
            <div class="col-sm">
                Jetpack
            </div>
            <div class="col-sm">
                {{ form.jetpack }}
            </div>
            <div class="col-sm">
                Lore
            </div>
            <div class="col-sm">
                {{ form.lore }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Search
            </div>
            <div class="col-sm">
                {{ form.search }}
            </div>
            <div class="col-sm">
                Riding
            </div>
            <div class="col-sm">
                {{ form.riding }}
            </div>
            <div class="col-sm">
                Media
            </div>
            <div class="col-sm">
                {{ form.media }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Seduction
            </div>
            <div class="col-sm">
                {{ form.seduction }}
            </div>
            <div class="col-sm">
                Torture
            </div>
            <div class="col-sm">
                {{ form.torture }}
            </div>
            <div class="col-sm">
                Pharmacopeia
            </div>
            <div class="col-sm">
                {{ form.pharmacopeia }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Cooking
            </div>
            <div class="col-sm">
                {{ form.cooking }}
            </div>
            <div class="col-sm">
                Blind Fighting
            </div>
            <div class="col-sm">
                {{ form.blind_fighting }}
            </div>
            <div class="col-sm">
                Conspiracy Theory
            </div>
            <div class="col-sm">
                {{ form.conspiracy_theory }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Diplomacy
            </div>
            <div class="col-sm">
                {{ form.diplomacy }}
            </div>
            <div class="col-sm">
                Climbing
            </div>
            <div class="col-sm">
                {{ form.climbing }}
            </div>
            <div class="col-sm">
                Chantry Politics
            </div>
            <div class="col-sm">
                {{ form.chantry_politics }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Instruction
            </div>
            <div class="col-sm">
                {{ form.instruction }}
            </div>
            <div class="col-sm">
                Disguise
            </div>
            <div class="col-sm">
                {{ form.disguise }}
            </div>
            <div class="col-sm">
                Covert Culture
            </div>
            <div class="col-sm">
                {{ form.covert_culture }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Intrigue
            </div>
            <div class="col-sm">
                {{ form.intrigue }}
            </div>
            <div class="col-sm">
                Elusion
            </div>
            <div class="col-sm">
                {{ form.elusion }}
            </div>
            <div class="col-sm">
                Helmsman
            </div>
            <div class="col-sm">
                {{ form.helmsman }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Intuition
            </div>
            <div class="col-sm">
                {{ form.intuition }}
            </div>
            <div class="col-sm">
                Escapology
            </div>
            <div class="col-sm">
                {{ form.escapology }}
            </div>
            <div class="col-sm">
                History
            </div>
            <div class="col-sm">
                {{ form.history_knowledge }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Mimicry
            </div>
            <div class="col-sm">
                {{ form.mimicry }}
            </div>
            <div class="col-sm">
                Fast Draw
            </div>
            <div class="col-sm">
                {{ form.fast_draw }}
            </div>
            <div class="col-sm">
                Power Brokering
            </div>
            <div class="col-sm">
                {{ form.power_brokering }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Negotiation
            </div>
            <div class="col-sm">
                {{ form.negotiation }}
            </div>
            <div class="col-sm">
                Fast Talk
            </div>
            <div class="col-sm">
                {{ form.fast_talk }}
            </div>
            <div class="col-sm">
                Propaganda
            </div>
            <div class="col-sm">
                {{ form.propaganda }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Newspeak
            </div>
            <div class="col-sm">
                {{ form.newspeak }}
            </div>
            <div class="col-sm">
                Fencing
            </div>
            <div class="col-sm">
                {{ form.fencing }}
            </div>
            <div class="col-sm">
                Theology
            </div>
            <div class="col-sm">
                {{ form.theology }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Scan
            </div>
            <div class="col-sm">
                {{ form.scan }}
            </div>
            <div class="col-sm">
                Fortune Telling
            </div>
            <div class="col-sm">
                {{ form.fortune_telling }}
            </div>
            <div class="col-sm">
                Unconventional Warfare
            </div>
            <div class="col-sm">
                {{ form.unconventional_warface }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Scrounging
            </div>
            <div class="col-sm">
                {{ form.scrounging }}
            </div>
            <div class="col-sm">
                Gambling
            </div>
            <div class="col-sm">
                {{ form.gambling }}
            </div>
            <div class="col-sm">
                Vice
            </div>
            <div class="col-sm">
                {{ form.vice }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Style
            </div>
            <div class="col-sm">
                {{ form.style }}
            </div>
            <div class="col-sm">
                Gunsmith
            </div>
            <div class="col-sm">
                {{ form.gunsmith }}
            </div>
            <div class="col-sm">
                Cultural Savvy
            </div>
            <div class="col-sm">
                {{ form.cultural_savvy }}
            </div>
        </div>
        <div class="row">
            {% if object.faction.name == "Akashayana" %}
                <div class="col-sm">
                    Do
                </div>
                <div class="col-sm">
                    {{ form.do }}
                </div>
            {% else %}
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
            {% endif %}
            <div class="col-sm">
                Heavy Weapons
            </div>
            <div class="col-sm">
                {{ form.heavy_weapons }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Hunting
            </div>
            <div class="col-sm">
                {{ form.hunting }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Hypnotism
            </div>
            <div class="col-sm">
                {{ form.hypnotism }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Jury-Rigging
            </div>
            <div class="col-sm">
                {{ form.jury_rigging }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Microgravity Operations
            </div>
            <div class="col-sm">
                {{ form.microgravity_operations }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Misdirection
            </div>
            <div class="col-sm">
                {{ form.misdirection }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Networking
            </div>
            <div class="col-sm">
                {{ form.networking }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Pilot
            </div>
            <div class="col-sm">
                {{ form.pilot }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Psychology
            </div>
            <div class="col-sm">
                {{ form.psychology }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Security
            </div>
            <div class="col-sm">
                {{ form.security }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Speed Reading
            </div>
            <div class="col-sm">
                {{ form.speed_reading }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                Swimming
            </div>
            <div class="col-sm">
                {{ form.swimming }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
    {% endblock abilities %}
    {% block backgrounds %}
        <div class="centertext container">
            <div class="row">
                <h2 class="col-sm mtas_heading">
                    Backgrounds
                </h2>
            </div>
            <div class="row">
                <div class="col-sm">
                    Allies
                </div>
                <div class="col-sm">
                    {{ form.allies }}
                </div>
                <div class="col-sm">
                    Alternate Identity
                </div>
                <div class="col-sm">
                    {{ form.alternate_identity }}
                </div>
                <div class="col-sm">
                    Arcane
                </div>
                <div class="col-sm">
                    {{ form.arcane }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Avatar
                </div>
                <div class="col-sm">
                    {{ form.avatar }}
                </div>
                <div class="col-sm">
                    Backup
                </div>
                <div class="col-sm">
                    {{ form.backup }}
                </div>
                <div class="col-sm">
                    Blessing
                </div>
                <div class="col-sm">
                    {{ form.blessing }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Certification
                </div>
                <div class="col-sm">
                    {{ form.certification }}
                </div>
                <div class="col-sm">
                    Chantry
                </div>
                <div class="col-sm">
                    {{ form.chantry }}
                </div>
                <div class="col-sm">
                    Contacts
                </div>
                <div class="col-sm">
                    {{ form.contacts }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Cult
                </div>
                <div class="col-sm">
                    {{ form.cult }}
                </div>
                <div class="col-sm">
                    Demesne
                </div>
                <div class="col-sm">
                    {{ form.demesne }}
                </div>
                <div class="col-sm">
                    Destiny
                </div>
                <div class="col-sm">
                    {{ form.destiny }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Dream
                </div>
                <div class="col-sm">
                    {{ form.dream }}
                </div>
                <div class="col-sm">
                    Enhancement
                </div>
                <div class="col-sm">
                    {{ form.enhancement }}
                </div>
                <div class="col-sm">
                    Fame
                </div>
                <div class="col-sm">
                    {{ form.fame }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Familiar
                </div>
                <div class="col-sm">
                    {{ form.familiar }}
                </div>
                <div class="col-sm">
                    Influence
                </div>
                <div class="col-sm">
                    {{ form.influence }}
                </div>
                <div class="col-sm">
                    Legend
                </div>
                <div class="col-sm">
                    {{ form.legend }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Library
                </div>
                <div class="col-sm">
                    {{ form.library }}
                </div>
                <div class="col-sm">
                    Mentor
                </div>
                <div class="col-sm">
                    {{ form.mentor }}
                </div>
                <div class="col-sm">
                    Node
                </div>
                <div class="col-sm">
                    {{ form.node }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Past Lives
                </div>
                <div class="col-sm">
                    {{ form.past_lives }}
                </div>
                <div class="col-sm">
                    Patron
                </div>
                <div class="col-sm">
                    {{ form.patron }}
                </div>
                <div class="col-sm">
                    Rank
                </div>
                <div class="col-sm">
                    {{ form.rank }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Resources
                </div>
                <div class="col-sm">
                    {{ form.resources }}
                </div>
                <div class="col-sm">
                    Retainers
                </div>
                <div class="col-sm">
                    {{ form.retainers }}
                </div>
                <div class="col-sm">
                    Sanctum
                </div>
                <div class="col-sm">
                    {{ form.sanctum }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Spies
                </div>
                <div class="col-sm">
                    {{ form.spies }}
                </div>
                <div class="col-sm">
                    Status
                </div>
                <div class="col-sm">
                    {{ form.status_background }}
                </div>
                <div class="col-sm">
                    Totem
                </div>
                <div class="col-sm">
                    {{ form.totem }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Wonder
                </div>
                <div class="col-sm">
                    {{ form.wonder }}
                </div>
                <div class="col-sm">
                    Requisitions
                </div>
                <div class="col-sm">
                    {{ form.requisitions }}
                </div>
                <div class="col-sm">
                    Secret Weapons
                </div>
                <div class="col-sm">
                    {{ form.secret_weapons }}
                </div>
            </div>
        </div>
    {% endblock backgrounds %}
    {% block advantages %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">
                Advantages
            </h2>
        </div>
        <div class="row">
            <div class="col-sm">
                Willpower
            </div>
            <div class="col-sm dots">
                {{ form.willpower }}
            </div>
            <div class="col-sm">
                Arete
            </div>
            <div class="col-sm dots">
                {{ object.arete|dots:10 }}
            </div>
            <div class="col-sm">
                Affinity Sphere
            </div>
            <div class="col-sm">
                {{ object.get_affinity_sphere_display }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Quintessence
            </div>
            <div class="col-sm dots">
                {{ object.quintessence }}
            </div>
            <div class="col-sm">
                Paradox
            </div>
            <div class="col-sm dots">
                {{ object.paradox }}
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
    {% endblock advantages %}
    {% block spheres %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">
                Spheres
            </h2>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ object.get_corr_name_display }}
                {% if correspondence_spec %}({{ correspondence_spec }}){% endif %}
            </div>
            <div class="col-sm">
                {{ form.correspondence }}
            </div>
            <div class="col-sm">
                Mind
                {% if mind_spec %}({{ mind_spec }}){% endif %}
            </div>
            <div class="col-sm">
                {{ form.mind }}
            </div>
            <div class="col-sm">
                {{ object.get_prime_name_display }}
                {% if prime_spec %}({{ prime_spec }}){% endif %}
            </div>
            <div class="col-sm">
                {{ form.prime }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Entropy
                {% if entropy_spec %}({{ entropy_spec }}){% endif %}
            </div>
            <div class="col-sm">
                {{ form.entropy }}
            </div>
            <div class="col-sm">
                Life
                {% if life_spec %}({{ life_spec }}){% endif %}
            </div>
            <div class="col-sm">
                {{ form.life }}
            </div>
            <div class="col-sm">
                {{ object.get_spirit_name_display }}
                {% if spirit_spec %}({{ spirit_spec }}){% endif %}
            </div>
            <div class="col-sm">
                {{ form.spirit }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Forces
                {% if forces_spec %}({{ forces_spec }}){% endif %}
            </div>
            <div class="col-sm">
                {{ form.forces }}
            </div>
            <div class="col-sm">
                Matter
                {% if matter_spec %}({{ matter_spec }}){% endif %}
            </div>
            <div class="col-sm">
                {{ form.matter }}
            </div>
            <div class="col-sm">
                Time
                {% if time_spec %}({{ time_spec }}){% endif %}
            </div>
            <div class="col-sm">
                {{ form.time }}
            </div>
        </div>
    {% endblock spheres %}
    {% block mfs %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">
                Merits and Flaws
            </h2>
        </div>
        <div id="form-container">
            {{ formset.management_form }}
            {% for f in formset %}
                <div class="row meritform">
                    <div class="col-sm">
                        {{ f.mf }}
                    </div>
                    <div class="col-sm">
                        {{ f.rating }}
                    </div>
                </div>
            {% endfor %}
            <div class="row" id="add-form-top">
                <div class="col-sm">
                    <button class="btn btn-primary" type="button" id="add-form">
                        Add Merit/Flaw
                    </button>
                </div>
            </div>
        </div>
    {% endblock mfs %}
    {% block languages %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">
                Languages
            </h2>
        </div>
        <div class="row">
            <div class="col-sm">
                Native Language
            </div>
            <div class="col-sm">
                {{ form.native_language }}
            </div>
            <div class="col-sm">
                Other Languages
            </div>
            <div class="col-sm">
                {{ form.languages }}
            </div>
        </div>
    {% endblock languages %}
    {% block appearance %}
    {% endblock appearance %}
    {% block history %}
    {% endblock history %}
    {% block advancement %}
    {% endblock advancement %}
</form>
{% block update %}
    <div class="row">
        <div class="col-sm">
            <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
            <input class="btn btn-primary"
                   name="Random Freebies"
                   type="submit"
                   value="Random Freebies"/>
            <input class="btn btn-primary"
                   name="Assign Freebies"
                   type="submit"
                   value="Spend Freebies"/>
        </div>
    </div>
{% endblock update %}
{% block extrascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    let meritForm = document.querySelectorAll(".meritform")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let addButtonTop = document.querySelector("#add-form-top")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
    let formNum = meritForm.length-1 // Get the number of the last form on the page with zero-based indexing
    addButton.addEventListener('click', addForm)
    function addForm(e) {
        e.preventDefault()
    
        let newForm = meritForm[0].cloneNode(true) //Clone the merit form
        let formRegex = RegExp(`form-(\\d){1}-`,'g') //Regex to find all instances of the form number
    
        formNum++ //Increment the form number
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`) //Update the new form to have the correct form number
        container.insertBefore(newForm, addButtonTop) //Insert the new form at the end of the list of forms
    
        totalForms.setAttribute('value', `${formNum+1}`) //Increment the number of total forms in the management form
    }
    
    function addScript() {
        // Set the initial value of N and the maximum value of iterations
        let N = formNum;
      
        // Iterate N until the maximum number of iterations is reached
          // Replace the variable N in the script with the current value of N
          const scriptText = `$("#id_form-${N}-mf").change(function () {
              var url = "{% url 'wod:characters:mage:ajax_load_mf_ratings' %}"
              var mfId = $(this).val();
              $.ajax({
                  url: url,
                  data: {
                  'mf': mfId
                  },
                  success: function (data) {
                  $("#id_form-${N}-rating").html(data);
                  }
              });
          });`;
      
          // Create a new script element and set its text to the script text
          const script = document.createElement('script');
          script.textContent = scriptText;
      
          // Append the script element to the body of the page
          document.body.appendChild(script);
      }
      addButton.addEventListener('click', addScript);

    </script>
    <script>
    $("#id_form-0-mf").change(function () {
        var url = "{% url 'wod:characters:mage:ajax_load_mf_ratings' %}"
        var mfId = $(this).val();
        $.ajax({
            url: url,
            data: {
            'mf': mfId
            },
            success: function (data) {
            $("#id_form-0-rating").html(data);
            }
        });
    });
    </script>
{% endblock extrascripts %}
