{% extends "wod/characters/mage/mage/detail.html" %}
{% block appearance %}
  <form method="post">
    {% csrf_token %}
    <div class="centertext container">
      <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Appearance</h2>
      </div>
      <div class="row">
        <div class="col-sm">Date of Birth</div>
        <div class="col-sm">{{ form.date_of_birth }}</div>
        <div class="col-sm">Apparent Age</div>
        <div class="col-sm">{{ form.apparent_age }}</div>
        <div class="col-sm">Age of Awakening</div>
        <div class="col-sm">{{ form.age_of_awakening }}</div>
      </div>
      <div class="row">
        <div class="col-sm">Hair</div>
        <div class="col-sm">{{ form.hair }}</div>
        <div class="col-sm">Eyes</div>
        <div class="col-sm">{{ form.eyes }}</div>
      </div>
      <div class="row">
        <div class="col-sm">Ethnicity</div>
        <div class="col-sm">{{ form.ethnicity }}</div>
        <div class="col-sm">Nationality</div>
        <div class="col-sm">{{ form.nationality }}</div>
      </div>
      <div class="row">
        <div class="col-sm">Height</div>
        <div class="col-sm">{{ form.height }}</div>
        <div class="col-sm">Weight</div>
        <div class="col-sm">{{ form.weight }}</div>
      </div>
      <div class="row">
        <div class="col-sm">Age</div>
        <div class="col-sm">{{ form.age }}</div>
        <div class="col-sm">Sex</div>
        <div class="col-sm">{{ form.sex }}</div>
      </div>
      <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ form.description }}</div>
      </div>
      <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">History</h2>
      </div>
      <div class="row">
        <div class="col-sm">
          Childhood
        </div>
        <div class="col-sm">
          {{ form.childhood }}
        </div>
        <div class="col-sm">
          History
        </div>
        <div class="col-sm">
          {{ form.history }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          Awakening
        </div>
        <div class="col-sm">
          {{ form.awakening }}
        </div>
        <div class="col-sm">
          Seekings
        </div>
        <div class="col-sm">
          {{ form.seekings }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          Quiets
        </div>
        <div class="col-sm">
          {{ form.quiets }}
        </div>
        <div class="col-sm">
          Avatar Description
        </div>
        <div class="col-sm">
          {{ form.avatar_description }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          Goals
        </div>
        <div class="col-sm">
          {{ form.goals }}
        </div>
        <div class="col-sm">
          Notes
        </div>
        <div class="col-sm">
          {{ form.notes }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          {% comment %} <input class="btn btn-primary" name="Back" type="submit" value="Back"/> {% endcomment %}
          <input class="btn btn-primary"
                 name="Random Description"
                 type="submit"
                 value="Random Description"/>
          <input class="btn btn-primary"
                 name="Assign Description"
                 type="submit"
                 value="Assign Description"/>
        </div>
      </div>
    </div>
  </form>
{% endblock appearance %}
{% block history %}
{% endblock history %}
{% block advancement %}
{% endblock advancement %}
{% block update %}
{% endblock update %}
