{% extends "core/form.html" %}
{% load dots %}
{% block contents %}
    {{ form.non_field_errors }}
    {% block name %}
        <div class="row">
            <div class="col-sm {{ object.get_heading }}">
                <h1>{{ object.name }}</h1>
            </div>
        </div>
    {% endblock name %}
    {% block basics %}
        {% include "characters/mage/mage/mage_basics_block_display.html" %}
    {% endblock basics %}
    {% block attributes %}
        {% include "characters/core/human/attribute_block_display.html" %}
    {% endblock attributes %}
    {% block abilities %}
        {% include "characters/mage/mtahuman/ability_block_form.html" %}
    {% endblock abilities %}
{% endblock contents %}
