{% extends "core/form.html" %}
{% block contents %}
    {{ form.non_field_errors }}
    {% block name %}
        <div class="row">
            <div class="col-sm {{ object.get_heading }}">
                <h1>{{ object.name }}</h1>
            </div>
        </div>
    {% endblock name %}
    {% block basics %}
        <div class="row">
            <h2 class="col-sm {{ object.get_heading }}">Basics</h2>
        </div>
        <div class="row">
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ object.name }}</div>
            <div class="col-sm">Nature</div>
            <a class="col-sm" href="{{ object.nature.get_absolute_url }}">{{ object.nature }}</a>
            <div class="col-sm">Affiliation</div>
            <a class="col-sm" href="{{ object.affiliation.get_absolute_url }}">{{ object.affiliation }}</a>
        </div>
        <div class="row">
            <div class="col-sm">Player</div>
            <div class="col-sm">{{ object.owner }}</div>
            <div class="col-sm">Demeanor</div>
            <a class="col-sm" href="{{ object.demeanor.get_absolute_url }}">{{ object.demeanor }}</a>
            <div class="col-sm">Sect</div>
            <a class="col-sm" href="{{ object.faction.get_absolute_url }}">{{ object.faction }}</a>
        </div>
        <div class="row">
            <div class="col-sm">Essence</div>
            <div class="col-sm">{{ object.get_essence_display }}</div>
            <div class="col-sm">Concept</div>
            <div class="col-sm">{{ object.concept }}</div>
            <div class="col-sm">Subfaction</div>
            {% if object.subfaction %}
                <a class="col-sm" href="{{ object.subfaction.get_absolute_url }}">{{ object.subfaction }}</a>
            {% else %}
                <div class="col-sm">{{ object.subfaction }}</div>
            {% endif %}
        </div>
    {% endblock basics %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">Attributes</h2>
    </div>
    <div class="row">
        <h3 class="col-sm {{ form.get_heading }}">Physical</h3>
        <h3 class="col-sm {{ form.get_heading }}">Social</h3>
        <h3 class="col-sm {{ form.get_heading }}">Mental</h3>
    </div>
    <div class="row">
        <div class="col-sm">Strength</div>
        <div class="col-sm dots">{{ form.strength }}</div>
        <div class="col-sm">Charisma</div>
        <div class="col-sm dots">{{ form.charisma }}</div>
        <div class="col-sm">Perception</div>
        <div class="col-sm dots">{{ form.perception }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Dexterity</div>
        <div class="col-sm dots">{{ form.dexterity }}</div>
        <div class="col-sm">Manipulation</div>
        <div class="col-sm dots">{{ form.manipulation }}</div>
        <div class="col-sm">Intelligence</div>
        <div class="col-sm dots">{{ form.intelligence }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Stamina</div>
        <div class="col-sm dots">{{ form.stamina }}</div>
        <div class="col-sm">Appearance</div>
        <div class="col-sm dots">{{ form.appearance }}</div>
        <div class="col-sm">Wits</div>
        <div class="col-sm dots">{{ form.wits }}</div>
    </div>
{% endblock contents %}
