{% extends "core/form.html" %}
{% block contents %}
    {{ form.non_field_errors }}
    {% block name %}
        <div class="row">
            <div class="col-sm {{ object.get_heading }}">
                <h1>{{ object.name }}</h1>
            </div>
        </div>
    {% endblock name %}
    {% block basics %}
        {% include "characters/mage/mage/mage_basics_block_display.html" %}
    {% endblock basics %}
    {% block attributes %}
        {% if object.creation_status == 1 %}
            {% include "characters/core/human/attribute_block_form.html" %}
        {% elif object.creation_status > 1 %}
            {% include "characters/core/human/attribute_block_display.html" %}
        {% endif %}
    {% endblock attributes %}
    {% block abilities %}
        {% if object.creation_status == 2 %}
            {% include "characters/mage/mtahuman/ability_block_form.html" %}
        {% elif object.creation_status > 2 %}
            {% include "characters/mage/mtahuman/ability_block_display.html" %}
        {% endif %}
    {% endblock abilities %}
    {% block backgrounds %}
        {% if object.creation_status == 3 %}
            {% include "characters/mage/mage/mage_background_block_form.html" %}
        {% elif object.creation_status > 3 %}
            {% include "characters/mage/mage/mage_background_block_display.html" %}
        {% endif %}
    {% endblock backgrounds %}
    {% block advantages %}
        {% if object.creation_status > 4 %}
            {% include "characters/mage/mage/mage_advantage_display.html" %}
        {% endif %}
    {% endblock advantages %}
    {% block powers %}
        {% if object.creation_status == 4 %}
            {% include "characters/mage/mage/mage_powers_block_form.html" %}
        {% elif object.creation_status > 4 %}
            {% include "characters/mage/mage/mage_powers_block_display.html" %}
        {% endif %}
    {% endblock powers %}
    {% block focus %}
        {% if object.creation_status == 5 %}
            {% include "characters/mage/mage/mage_focus_block_form.html" %}
        {% elif object.creation_status > 5 %}
            {% include "characters/mage/mage/mage_focus_block_display.html" %}
        {% endif %}
    {% endblock focus %}
    {% block appearance %}
        {% if object.creation_status == 6 %}
            {% include "characters/mage/mage/mage_appearance_block_form.html" %}
        {% elif object.creation_status > 6 %}
            {% include "characters/mage/mage/mage_appearance_block_display.html" %}
        {% endif %}
    {% endblock appearance %}
    {% block history %}
        {% if object.creation_status == 6 %}
            {% include "characters/mage/mage/mage_history_block_form.html" %}
        {% elif object.creation_status > 6 %}
            {% include "characters/mage/mage/mage_history_block_display.html" %}
        {% endif %}
    {% endblock history %}
    {% block freebies %}
        {% if object.creation_status == 7 %}
            {% include "characters/mage/mage/mage_freebies_form.html" %}
        {% endif %}
    {% endblock freebies %}
{% endblock contents %}
