{% extends "core/form.html" %}
{% block formdetails %}
    method="post"
    id="mageForm"
    data-factions-url="{% url 'wod:characters:mage:ajax_load_factions' %}"
    data-subfactions-url="{% url 'wod:characters:mage:ajax_load_subfactions' %}"
    action=""
    novalidate
{% endblock formdetails %}
{% block contents %}
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="centertext container">
        <div class="row">
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ form.name }}</div>
            <div class="col-sm">Nature</div>
            <div class="col-sm">{{ form.nature }}</div>
            <div class="col-sm">Affiliation</div>
            <div class="col-sm">{{ form.affiliation }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Chronicle</div>
            <div class="col-sm">{{ form.chronicle }}</div>
            <div class="col-sm">Demeanor</div>
            <div class="col-sm">{{ form.demeanor }}</div>
            <div class="col-sm">Faction</div>
            <div class="col-sm">{{ form.faction }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Essence</div>
            <div class="col-sm">{{ form.essence }}</div>
            <div class="col-sm">Concept</div>
            <div class="col-sm">{{ form.concept }}</div>
            <div class="col-sm">Subfaction</div>
            <div class="col-sm">{{ form.subfaction }}</div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
 $("#id_affiliation").change(function () {
    var url = $("#mageForm").attr("data-factions-url");  // get the url of the `load_character_type` view
    var affiliationId = $(this).val();  // get the selected gameline ID from the HTML input                  
    $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-character-type/)
        data: {
        'affiliation': affiliationId       // add the gameline id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_character_type` view function
        $("#id_faction").html(data);  // replace the contents of the character_type input with the data that came from the server
        // $("#id_subfaction").html('<option value="">----</option>');
        }
    });
    });
        
// this one is for fetching subfaction data
$("#id_faction").change(function () { //django-model-form created this id
var url = $("#mageForm").attr("data-subfactions-url");  // get the url of the `load_subfactions` view
var factionId = $(this).val();  // get the selected affiliation ID from the HTML input
        
$.ajax({                       // initialize an AJAX request
    url: '{% url 'wod:characters:mage:ajax_load_subfactions' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-factions/) person_form.html template has this url var
    data: {
    'faction': factionId       // add the affiliation id to the GET parameters
    },
    success: function (data) {   // `data` is the return of the `load_factions` view function
    $("#id_subfaction").html(data);  // replace the contents of the faction input with the data that came from the server
    }
});
});
    </script>
{% endblock contents %}
{% block buttons %}
    <input class="btn btn-primary" name="Full Random" type="submit" value="Full Random" />
    <input class="btn btn-primary" name="Random Basics" type="submit" value="Random Basics" />
    <input class="btn btn-primary" name="Save" type="submit" value="Save" />
{% endblock buttons %}
