{% extends "characters/mage/mtahuman/detail.html" %}
{% load dots %}
{% load get_specialty %}
{% load resonance %}
{% block basics %}
    {% include "characters/mage/mage/mage_basics_block_display.html" %}
{% endblock basics %}
{% block advantages %}
    {% include "characters/mage/mage/mage_advantage_display.html" %}
{% endblock advantages %}
{% block backgrounds %}
    {% include "characters/mage/mage/mage_background_block_display.html" %}
{% endblock backgrounds %}
{% block powers %}
    {% include "characters/mage/mage/mage_powers_block_display.html" %}
    {% block focus %}
        {% include "characters/mage/mage/mage_focus_block_display.html" %}
    {% endblock focus %}
{% endblock powers %}
{% block equipment %}
    {% include "characters/core/human/equipment_block.html" %}
{% endblock equipment %}
{% block allies %}
    {% include "characters/core/human/ally_block_display.html" %}
{% endblock allies %}
{% block appearance %}
    {% include "characters/mage/mage/mage_appearance_block_display.html" %}
{% endblock appearance %}
{% block history %}
    {% include "characters/mage/mage/mage_history_block_display.html" %}
{% endblock history %}
{% block freebies %}
    {% if object.status == "Sub" %}
        {% include "characters/mage/mage/mage_freebies_form.html" %}
    {% endif %}
{% endblock freebies %}
{% block advancement %}
    {% include "characters/mage/mage/mage_xp_form.html" %}
{% endblock advancement %}
