<div class="row">
    <h3 class="col-sm {{ object.get_heading }}">Familiar Creation</h3>
</div>
<div class="row">
    <div class="col-sm">Decide identity and motivation; choose concept, Affiliation, Essence, and Archetypes.</div>
</div>
<div class="centertext container"
     id="mageForm"
     data-factions-url="{% url 'characters:mage:ajax:load_factions' %}"
     data-subfactions-url="{% url 'characters:mage:ajax:load_subfactions' %}">
    <div class="row">
        <div class="col-sm">{{ form.image }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Name</div>
        <div class="col-sm-2">{{ form.name }}</div>
        <div class="col-sm-2">Nature</div>
        <div class="col-sm-2">{{ form.nature }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Chronicle</div>
        <div class="col-sm-2">{{ object.chronicle }}</div>
        <div class="col-sm-2">Demeanor</div>
        <div class="col-sm-2">{{ form.demeanor }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Companion Type</div>
        <div class="col-sm-2">Familiar</div>
        <div class="col-sm-2">Concept</div>
        <div class="col-sm-2">{{ form.concept }}</div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
