{% load dots %}
<div class="row">
    <h2 class="col-sm {{ object.get_heading }} pointer"
        data-toggle="collapse"
        data-target="#backgroundsSection"
        aria-expanded="true"
        aria-controls="backgroundsSection">Backgrounds</h2>
</div>
<div id="backgroundsSection" class="collapse show">
    <div class="row">
        {% for bg in object.backgrounds.all %}
            {% if forloop.counter0|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            <div class="col-sm-2">{{ bg.bg }} {% if bg.note %}({{ bg.note|safe }}) {% endif %}</div>
            <div class="col-sm-2 dots">{{ bg.rating|dots }}</div>
            {% if forloop.last %}</div>{% endif %}
    {% empty %}
    </div>
{% endfor %}
</div>
