<div class="row">
    <h2 class="col-sm {{ object.get_heading }}">Backgrounds</h2>
</div>
<div class="row">
    <div class="col-sm">
        Mages distribute {{ points }} background dots. Keep in mind that Enhancements, Sanctum, and Totem cost 2 points per dot. Pooled backgrounds must have the exact same note field to be pooled properly.
    </div>
</div>
<div id="bg_form_container">
    {{ bg_form_context.formset.management_form }}
    {% for f in bg_form_context.formset %}
        <div class="row form-row">
            <div class="col-sm">{{ f.bg }}</div>
            <div class="col-sm">{{ f.rating }}</div>
            <div class="col-sm">{{ f.note }}</div>
            {% if object.is_group_member %}<div class="col-sm">Pooled? {{ f.pooled }}</div>{% endif %}
        </div>
    {% endfor %}
</div>
<!-- Hidden empty form to clone -->
<div id="bg_form_empty_form" class="invisible">
    <div class="row form-row">
        <div class="col-sm">{{ bg_form_context.empty_form.bg }}</div>
        <div class="col-sm">{{ bg_form_context.empty_form.rating }}</div>
        <div class="col-sm">{{ bg_form_context.empty_form.note }}</div>
        <div class="col-sm">{{ bg_form_context.empty_form.pooled }}</div>
    </div>
</div>
<button type="button" id="{{ bg_form_context.add_button_id }}">Add Background</button>
{{ bg_form_js|safe }}
