<div class="row">
    <h2 class="col-sm {{ object.get_heading }}">Experience</h2>
</div>
<div class="row">
    <div class="col-sm">XP Remaining</div>
    <div class="col-sm">{{ object.xp }}</div>
</div>
{% for item in object.spent_xp %}
    <div class="row">
        <div class="col-sm">{{ item.trait }} {{ item.value }}</div>
        <div class="col-sm">{{ item.cost }} XP</div>
    </div>
{% endfor %}
<div class="row">
    <div class="col-sm">{{ form.category }}</div>
    <div class="col-sm invisible" id="example_wrap">{{ form.example }}</div>
    <div class="col-sm invisible" id="resonance_wrap">{{ form.resonance }}</div>
    <div class="col-sm invisible" id="value_wrap">{{ form.value }}</div>
    <div class="col-sm invisible" id="note_wrap">{{ form.note }}</div>
    <div class="col-sm invisible" id="pooled_wrap">Pooled? {{ form.pooled }}</div>
    <div class="col-sm invisible" id="image_field_wrap">{{ form.image_field }}</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const categorySelectMenu = document.getElementById("id_category");
        const exampleSelectMenu = document.getElementById("id_example")
        const exampleElement = document.getElementById("example_wrap");
        const valueElement = document.getElementById("value_wrap");
        const resElement = document.getElementById("resonance_wrap");
        const noteElement = document.getElementById("note_wrap");
        const pooled_wrap = document.getElementById("pooled_wrap");
        const image_field_wrap = document.getElementById("image_field_wrap");

        var isGroupMember = {{ object.is_group_member|lower }};
    
        categorySelectMenu.addEventListener("change", function() {
            const selectedValue = this.value;
            
            // Update the class of the element
            if(["Willpower", "-----", "Rote Points", "Quintessence"].includes(this.value)){
                exampleElement.classList.add("invisible");
                valueElement.classList.add("invisible");
                noteElement.classList.add("invisible");
                resElement.classList.add("invisible");
                pooled_wrap.classList.add("invisible");
                image_field_wrap.classList.add("invisible")
            } else {
                exampleElement.classList.remove("invisible");
                valueElement.classList.add("invisible");
                noteElement.classList.add("invisible");
                resElement.classList.add("invisible");
                pooled_wrap.classList.add("invisible");
                image_field_wrap.classList.add("invisible")
            }
            if(this.value == "MeritFlaw"){
                valueElement.classList.remove("invisible");
                resElement.classList.add("invisible");
                noteElement.classList.add("invisible");
                pooled_wrap.classList.add("invisible");
                image_field_wrap.classList.add("invisible")
            }
            if(this.value == "Resonance"){
                resElement.classList.remove("invisible");
                exampleElement.classList.add("invisible");
                noteElement.classList.add("invisible");
                valueElement.classList.add("invisible");
                pooled_wrap.classList.add("invisible");
                image_field_wrap.classList.add("invisible")
            }
            if(this.value == "New Background"){
                resElement.classList.add("invisible");
                exampleElement.classList.remove("invisible");
                noteElement.classList.remove("invisible");
                valueElement.classList.add("invisible");
                if (isGroupMember) {
                    pooled_wrap.classList.remove("invisible");
                } else {
                    pooled_wrap.classList.add("invisible");
                }
                image_field_wrap.classList.add("invisible")
            }
            if(this.value == "Arete"){
                resElement.classList.add("invisible")
                exampleElement.classList.remove("invisible");;
                noteElement.classList.add("invisible");
                valueElement.classList.add("invisible");
                pooled_wrap.classList.add("invisible");
                image_field_wrap.classList.add("invisible")
            }
            if(this.value == "Image"){
                resElement.classList.add("invisible")
                exampleElement.classList.add("invisible");;
                noteElement.classList.add("invisible");
                valueElement.classList.add("invisible");
                pooled_wrap.classList.add("invisible");
                image_field_wrap.classList.remove("invisible")
            }
            
            // Make the AJAX call
            $.ajax({                       // initialize an AJAX request
                url: '{% url 'characters:mage:ajax:load_xp_examples' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-character-type/)
                data: {
                'category': this.value,       // add the gameline id to the GET parameters
                'object': {{object.id}}
                },
                success: function (data) {   // `data` is the return of the `load_character_type` view function
                $("#id_example").html(data);  // replace the contents of the character_type input with the data that came from the server
                $("#id_value").html('<option value="">---</option>');
                }
            });
        });

        exampleSelectMenu.addEventListener("change", function() {
            const selectedValue = this.value;
            if(categorySelectMenu.value == "MeritFlaw"){
                $.ajax({
                    url: '{% url 'characters:ajax:load_values' %}',
                    data: {
                        'example': this.value
                    },
                    success: function (data) {
                        $("#id_value").html(data);
                    }
                });
            }
        });
    });
    
</script>
