{% load dots %}
<div class="row">
    <h2 class="col-sm {{ object.get_heading }}">Advantages</h2>
</div>
<div class="row">
    <div class="col-sm">Arete</div>
    <div class="col-sm dots">{{ form.arete }}</div>
    <div class="col-sm">Affinity</div>
    <div class="col-sm dots">{{ form.affinity_sphere }}</div>
    <div class="col-sm">Resonance</div>
    <div class="col-sm dots">{{ form.resonance }}</div>
</div>
<div class="row">
    <h2 class="col-sm {{ object.get_heading }}">Spheres</h2>
</div>
{% include "characters/mage/spheres/form_with_names.html" %}
