{% load dots %}
<div class="row">
    <h2 class="col-sm mta_heading">Create Rote</h2>
</div>
<div class="row">
    <div class="col-sm">A rote is an effect along with a Practice, an Associated Ability of the Practice, and an Attribute. Describe how the character performs the rote, what it does, and the game mechanical impact. A rote's cost is the total number of sphere dots.</div>
</div>
<div class="row">
    <h3 class="col-sm {{ object.get_heading }}">Rote Points Remaining</h3>
    <h3 class="col-sm {{ object.get_heading }}">{{ object.rote_points }}</h3>
</div>
<div class="row">
    <div class="col-sm">Name</div>
    <div class="col-sm">{{ form.name }}</div>
</div>
<div class="row">
    <div class="col-sm">Practice</div>
    <div class="col-sm">{{ form.practice }}</div>
</div>
<div class="row">
    <div class="col-sm">Dicepool</div>
    <div class="col-sm">{{ form.attribute }} + {{ form.ability }}</div>
</div>
{% include "characters/mage/spheres/form.html" %}
<div class="row">
    <div class="col-sm">Description</div>
    <div class="col-sm">{{ form.description }}</div>
</div>
<div class="row">
    <div class="col-sm">Systems</div>
    <div class="col-sm">{{ form.systems }}</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_practice').change(function(){
            var practiceId = $(this).val();
            $.ajax({
                url: "{% url 'characters:mage:ajax:get_abilities' %}",  // Your AJAX view URL
                data: {
                    'practice_id': practiceId,
                    'object': {{ object.id }}
                },
                success: function(data) {
                    var $abilitySelect = $('#id_ability');
                    $abilitySelect.empty();
                    $.each(data, function(index, item) {
                        $abilitySelect.append($('<option>', { 
                            value: item.id,
                            text : item.name 
                        }));
                    });
                }
            });
        });
    });
</script>
