<div class="row">
    <h2 class="col-sm mta_heading">Create Node</h2>
</div>
<div class="row">
    <div class="col-sm">Nodes are created as per Sources of Magick rules. This node has {{ points }} points.</div>
</div>
<div class="row">
    <div class="col-sm">
        Points are divided between Merits and Flaws (at cost), Size and Ratio (from -2 to 2), additional Resonance (1 each after {{ object.node }} ranks of resonance) and total tass/quintessence generated. Additionally, choose the thematic form of the Quintessence and Tass.
    </div>
</div>
<div class="row">
    <div class="col-sm">
        Nodes contain reality zones equal to their rank. Choose {{ object.node }} positive levels of Practices and the same number of negative levels.
    </div>
</div>
<div class="row">
    <div class="col-sm">{{ form.name }}</div>
</div>
<div class="row">
    <div class="col-sm">Rank</div>
    <div class="col-sm">{{ object.node }}</div>
</div>
<div class="row">
    <div class="col-sm">{{ form.quintessence_form }}</div>
    <div class="col-sm">{{ form.tass_form }}</div>
</div>
<div class="row">
    <div class="col-sm">Fraction of Quintessence</div>
    <div class="col-sm">{{ form.ratio }}</div>
    <div class="col-sm">{{ form.size.label }}</div>
    <div class="col-sm">{{ form.size }}</div>
</div>
<div class="row">
    <h2 class="col-sm mta_heading">Resonance</h2>
</div>
<div id="resonance_form_container">
    {{ resonance_form_context.formset.management_form }}
    {% for f in resonance_form_context.formset %}
        <div class="row form-row">
            <div class="col-sm">{{ f.resonance }}</div>
            <div class="col-sm">{{ f.rating }}</div>
        </div>
    {% endfor %}
</div>
<!-- Hidden empty form to clone -->
<div id="resonance_form_empty_form" class="invisible">
    <div class="row form-row">
        <div class="col-sm">{{ resonance_form_context.empty_form.resonance }}</div>
        <div class="col-sm">{{ resonance_form_context.empty_form.rating }}</div>
    </div>
</div>
<button type="button" id="{{ resonance_form_context.add_button_id }}">Add Resonance</button>
<div class="row">
    <h2 class="col-sm mta_heading">Merits and Flaws</h2>
</div>
<div id="mf_form_container">
    {{ mf_form_context.formset.management_form }}
    {% for f in mf_form_context.formset %}
        <div class="row form-row">
            <div class="col-sm">{{ f.mf }}</div>
            <div class="col-sm">{{ f.rating }}</div>
        </div>
    {% endfor %}
</div>
<!-- Hidden empty form to clone -->
<div id="mf_form_empty_form" class="invisible">
    <div class="row form-row">
        <div class="col-sm">{{ mf_form_context.empty_form.mf }}</div>
        <div class="col-sm">{{ mf_form_context.empty_form.rating }}</div>
    </div>
</div>
<button type="button" id="{{ mf_form_context.add_button_id }}">Add Merit/Flaw</button>
<div class="row">
    <div class="col-sm">{{ form.description }}</div>
</div>
<div class="row">
    <h2 class="col-sm mta_heading">Node Reality Zone</h2>
</div>
<div id="rz_form_container">
    {{ rz_form_context.formset.management_form }}
    {% for f in rz_form_context.formset %}
        <div class="row form-row">
            <div class="col-sm">{{ f.practice }}</div>
            <div class="col-sm">{{ f.rating }}</div>
        </div>
    {% endfor %}
</div>
<!-- Hidden empty form to clone -->
<div id="rz_form_empty_form" class="invisible">
    <div class="row form-row">
        <div class="col-sm">{{ rz_form_context.empty_form.practice }}</div>
        <div class="col-sm">{{ rz_form_context.empty_form.rating }}</div>
    </div>
</div>
<button type="button" id="{{ rz_form_context.add_button_id }}">Add Practice</button>
{{ mf_form_js|safe }}
{{ resonance_form_js|safe }}
{{ rz_form_js|safe }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Listen for changes in any dropdowns of the formset
        $(document).on('change', '[id^=id_mf_form-][id$=-mf]', function() {
            const id = this.id;  // get the id of the changed field
            const match = id.match(/id_mf_form-(\d+)-mf/);  // extract the integer from the id
    
            if (match) {
                const formIndex = match[1];  // get the extracted integer
    
                // Build the ID of the corresponding analogue field
                const ratingFieldId = `#id_mf_form-${formIndex}-rating`;
    
                const selectedValue = this.value;
                
                // Assuming "MeritFlaw" is a category for example purposes
                    $.ajax({
                        url: '{% url 'characters:ajax:load_values' %}',  // Update with your actual URL
                        data: {
                            'example': selectedValue
                        },
                        success: function (data) {
                            // Update the corresponding rating field with the AJAX response
                            $(ratingFieldId).html(data);
                        }
                    });
            }
        });
    });
</script>
<br>
