<div class="row">
    <h2 class="col-sm {{ object.get_heading }}">Freebie Spend</h2>
</div>
{% if object.freebies > 0 %}
<div class="row">
    <div class="col-sm">Spend Freebie points. The costs are as follows:</div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border"><b>Trait</b></div>
    <div class="col-sm-3 border"><b>Cost</b></div>
    <div class="col-sm-3"></div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border">Attribute</div>
    <div class="col-sm-3 border">5</div>
    <div class="col-sm-3"></div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border">Ability</div>
    <div class="col-sm-3 border">2</div>
    <div class="col-sm-3"></div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border">Background</div>
    <div class="col-sm-3 border">1</div>
    <div class="col-sm-3"></div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border">Willpower</div>
    <div class="col-sm-3 border">1</div>
    <div class="col-sm-3"></div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border">Merits/Flaws</div>
    <div class="col-sm-3 border">Rating</div>
    <div class="col-sm-3"></div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border">Sphere</div>
    <div class="col-sm-3 border">7</div>
    <div class="col-sm-3"></div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border">Arete (Maximum 3)</div>
    <div class="col-sm-3 border">4</div>
    <div class="col-sm-3"></div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border">Four Quintessence</div>
    <div class="col-sm-3 border">1</div>
    <div class="col-sm-3"></div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border">Four Rote Points</div>
    <div class="col-sm-3 border">1</div>
    <div class="col-sm-3"></div>
</div>
<div class="row centertext">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 border">Resonance</div>
    <div class="col-sm-3 border">3</div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <h3 class="col-sm {{ object.get_heading }}">Freebies Remaining</h3>
    <h3 class="col-sm {{ object.get_heading }}">{{ object.freebies }}</h3>
</div>
{% endif %}
<div class="row">
    <div class="col-sm">{{ form.category }}</div>
    <div class="col-sm invisible" id="example_wrap">{{ form.example }}</div>
    <div class="col-sm invisible" id="resonance_wrap">{{ form.resonance }}</div>
    <div class="col-sm invisible" id="value_wrap">{{ form.value }}</div>
</div>
{% for item in object.spent_freebies %}
<div class="row">
    <div class="col-sm">{{ item.trait }} {{ item.value }}</div>
    <div class="col-sm">{{ item.cost }} freebies</div>
</div>
{% endfor %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const categorySelectMenu = document.getElementById("id_category");
        const exampleSelectMenu = document.getElementById("id_example")
        const exampleElement = document.getElementById("example_wrap");
        const valueElement = document.getElementById("value_wrap");
        const resElement = document.getElementById("resonance_wrap");
    
        categorySelectMenu.addEventListener("change", function() {
            const selectedValue = this.value;
            
            // Update the class of the element
            if(["Willpower", "-----", "Arete", "Rotes", "Quintessence"].includes(this.value)){
                exampleElement.classList.add("invisible");
                valueElement.classList.add("invisible");
                resElement.classList.add("invisible")
            } else {
                exampleElement.classList.remove("invisible");
                valueElement.classList.add("invisible");
                resElement.classList.add("invisible")
            }
            if(this.value == "MeritFlaw"){
                valueElement.classList.remove("invisible")
                resElement.classList.add("invisible")
            }
            if(this.value == "Resonance"){
                resElement.classList.remove("invisible")
                exampleElement.classList.add("invisible");
                valueElement.classList.add("invisible");
            }
            
            // Make the AJAX call
            $.ajax({                       // initialize an AJAX request
                url: '{% url 'characters:mage:ajax:load_examples' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-character-type/)
                data: {
                'category': this.value,       // add the gameline id to the GET parameters
                'object': {{object.id}}
                },
                success: function (data) {   // `data` is the return of the `load_character_type` view function
                $("#id_example").html(data);  // replace the contents of the character_type input with the data that came from the server
                $("#id_value").html('<option value="">---</option>');
                }
            });
        });

        exampleSelectMenu.addEventListener("change", function() {
            const selectedValue = this.value;
            if(categorySelectMenu.value == "MeritFlaw"){
                $.ajax({
                    url: '{% url 'characters:ajax:load_values' %}',
                    data: {
                        'example': this.value
                    },
                    success: function (data) {
                        $("#id_value").html(data);
                    }
                });
            }
        });
    });
    
</script>
