{% load startswith %}
<div class="row">
    <h2 class="col-sm {{ object.get_heading }}">Enhancements</h2>
</div>
<div class="row">
    <div class="col-sm">Enhancements Instructions Placeholder</div>
</div>
<div class="row">
    <div class="col-sm">{{ form.enhancement_style }}</div>
    <div class="col-sm">{{ form.enhancement_type }}</div>
</div>
<div class="form-group" id="attributes">
    {% for field in form %}
        {% if field.name|startswith:"attribute_" %}
            <div class="row">
                <div class="col-sm">{{ field.label_tag }}</div>
                <div class="col-sm">{{ field }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="form-group invisible" id="new_device">
    <div class="row">
        <div class="col-sm">{{ form.new_device_wonder_type }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.new_device_name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.new_device_description }}</div>
    </div>
    <div class="row">
        <h3 class="col-sm mta_heading">Resonance</h3>
    </div>
    <div>
        <div class="row form-row">
            <div class="col-sm">{{ form.new_device_resonance }}</div>
        </div>
    </div>
    <div class="row">
        <h3 class="col-sm mta_heading">Powers</h3>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.new_device_new_power_option }}</div>
    </div>
    <div class="form-group invisible" id="new_device_power_select">
        <div class="row">
            <div class="col-sm">{{ form.new_device_effect }}</div>
        </div>
    </div>
    <div class="form-group" id="new_device_new_power">
        <div>
            <div class="row form-row">
                <div class="col-sm">Name</div>
                <div class="col-sm">{{ form.new_device_new_effect_name }}</div>
            </div>
            <div class="row form-row">
                <div class="col-sm">Correspondence</div>
                <div class="col-sm dots">{{ form.new_device_new_effect_correspondence }}</div>
                <div class="col-sm">Life</div>
                <div class="col-sm dots">{{ form.new_device_new_effect_life }}</div>
                <div class="col-sm">Prime</div>
                <div class="col-sm dots">{{ form.new_device_new_effect_prime }}</div>
            </div>
            <div class="row form-row">
                <div class="col-sm">Entropy</div>
                <div class="col-sm dots">{{ form.new_device_new_effect_entropy }}</div>
                <div class="col-sm">Matter</div>
                <div class="col-sm dots">{{ form.new_device_new_effect_matter }}</div>
                <div class="col-sm">Spirit</div>
                <div class="col-sm dots">{{ form.new_device_new_effect_spirit }}</div>
            </div>
            <div class="row form-row">
                <div class="col-sm">Forces</div>
                <div class="col-sm dots">{{ form.new_device_new_effect_forces }}</div>
                <div class="col-sm">Mind</div>
                <div class="col-sm dots">{{ form.new_device_new_effect_mind }}</div>
                <div class="col-sm">Time</div>
                <div class="col-sm dots">{{ form.new_device_new_effect_time }}</div>
            </div>
            <div class="row form-row">
                <div class="col-sm">Description</div>
                <div class="col-sm">{{ form.new_device_new_effect_description }}</div>
            </div>
        </div>
    </div>
</div>
<div class="form-group invisible" id="device">
    <div class="row">
        <div class="col-sm">{{ form.device }}</div>
    </div>
</div>
<div class="form-group" id="genetic_flaw">
    <div class="row">
        <div class="col-sm">{{ form.flaw }}</div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const styleSelectMenu = document.getElementById("id_enhancement_style");
        const typeSelectMenu = document.getElementById("id_enhancement_type");
        const effectSelectMenu = document.getElementById("id_new_device_new_power_option");
        
        const attributeElements = document.getElementById("attributes");
        const deviceElements = document.getElementById("device");
        const ndeviceElements = document.getElementById("new_device");
        const powerSelectElements = document.getElementById("new_device_power_select");
        const newPowerElements = document.getElementById("new_device_new_power");
        
        
    
        typeSelectMenu.addEventListener("change", function() {
            const selectedValue = this.value;
            // Update the class of the element
            if(selectedValue == "Attributes"){
                attributeElements.classList.remove("invisible");
            }
            else {
                attributeElements.classList.add("invisible");
            }

            if(selectedValue == "Existing Device"){
                deviceElements.classList.remove("invisible");
            }
            else {
                deviceElements.classList.add("invisible");
            }

            if(selectedValue == "New Device"){
                ndeviceElements.classList.remove("invisible");
            }
            else {
                ndeviceElements.classList.add("invisible");
            }
            
        });

        effectSelectMenu.addEventListener("change", function() {
            const selectedValue = this.value;
            // Update the class of the element
            if(selectedValue == "New Effect"){
                newPowerElements.classList.remove("invisible");
                powerSelectElements.classList.add("invisible");
            }
            else {
                newPowerElements.classList.add("invisible");
                powerSelectElements.classList.remove("invisible");
            }
            
        });
    });
    
</script>
