{% extends "core/object.html" %}
{% load dots %}
<div class="row">
    <div class="col-sm">Name</div>
    <div class="col-sm">{{ object.name }}</div>
    <div class="col-sm">Description</div>
    <div class="col-sm">{{ object.description }}</div>
</div>
<div class="row">
    <h3 class="col-sm {{ object.get_heading }}">Practices</h3>
</div>
{% for pr in practices %}
    <div class="row">
        <a class="col-sm" href="{{ pr.practice.get_absolute_url }}">{{ pr.practice }}</a>
        <div class="col-sm dots">{{ pr.rating|dots }}</div>
    </div>
{% endfor %}
