{% load dots %}
{% load get_specialty %}
<div class="row">
    <h2 class="col-sm {{ object.get_heading }} pointer"
        data-toggle="collapse"
        data-target="#abilitiesSection"
        aria-expanded="true"
        aria-controls="abilitiesSection">Abilities</h2>
</div>
<div id="abilitiesSection" class="collapse show multi-collapse">
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Talents</h3>
        <h3 class="col-sm {{ object.get_heading }}">Skills</h3>
        <h3 class="col-sm {{ object.get_heading }}">Knowledges</h3>
    </div>
    <div class="row">
        <div class="col-sm">
            Alertness
            {% if object|get_specialty:'alertness' %}({{ object|get_specialty:'alertness' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.alertness|dots }}</div>
        <div class="col-sm">
            Animal Ken
            {% if object|get_specialty:'animal_ken' %}({{ object|get_specialty:'animal_ken' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.animal_ken|dots }}</div>
        <div class="col-sm">
            Academics
            {% if object|get_specialty:'academics' %}({{ object|get_specialty:'academics' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.academics|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Athletics
            {% if object|get_specialty:'athletics' %}({{ object|get_specialty:'athletics' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.athletics|dots }}</div>
        <div class="col-sm">
            Crafts
            {% if object|get_specialty:'crafts' %}({{ object|get_specialty:'crafts' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.crafts|dots }}</div>
        <div class="col-sm">
            Computer
            {% if object|get_specialty:'computer' %}({{ object|get_specialty:'computer' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.computer|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Brawl
            {% if object|get_specialty:'brawl' %}({{ object|get_specialty:'brawl' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.brawl|dots }}</div>
        <div class="col-sm">
            Drive
            {% if object|get_specialty:'drive' %}({{ object|get_specialty:'drive' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.drive|dots }}</div>
        <div class="col-sm">
            Enigmas
            {% if object|get_specialty:'enigmas' %}({{ object|get_specialty:'enigmas' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.enigmas|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Empathy
            {% if object|get_specialty:'empathy' %}({{ object|get_specialty:'empathy' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.empathy|dots }}</div>
        <div class="col-sm">
            Etiquette
            {% if object|get_specialty:'etiquette' %}({{ object|get_specialty:'etiquette' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.etiquette|dots }}</div>
        <div class="col-sm">
            Gremayre
            {% if object|get_specialty:'gremayre' %}({{ object|get_specialty:'gremayre' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.gremayre|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Expression
            {% if object|get_specialty:'expression' %}({{ object|get_specialty:'expression' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.expression|dots }}</div>
        <div class="col-sm">
            Firearms
            {% if object|get_specialty:'firearms' %}({{ object|get_specialty:'firearms' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.firearms|dots }}</div>
        <div class="col-sm">
            Investigation
            {% if object|get_specialty:'investigation' %}({{ object|get_specialty:'investigation' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.investigation|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Intimidation
            {% if object|get_specialty:'intimidation' %}({{ object|get_specialty:'intimidation' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.intimidation|dots }}</div>
        <div class="col-sm">
            Larceny
            {% if object|get_specialty:'larceny' %}({{ object|get_specialty:'larceny' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.larceny|dots }}</div>
        <div class="col-sm">
            Law
            {% if object|get_specialty:'law' %}({{ object|get_specialty:'law' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.law|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Kenning
            {% if object|get_specialty:'kenning' %}({{ object|get_specialty:'kenning' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.kenning|dots }}</div>
        <div class="col-sm">
            Melee
            {% if object|get_specialty:'melee' %}({{ object|get_specialty:'melee' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.melee|dots }}</div>
        <div class="col-sm">
            Medicine
            {% if object|get_specialty:'medicine' %}({{ object|get_specialty:'medicine' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.medicine|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Leadership
            {% if object|get_specialty:'leadership' %}({{ object|get_specialty:'leadership' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.leadership|dots }}</div>
        <div class="col-sm">
            Performance
            {% if object|get_specialty:'performance' %}({{ object|get_specialty:'performance' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.performance|dots }}</div>
        <div class="col-sm">
            Politics
            {% if object|get_specialty:'politics' %}({{ object|get_specialty:'politics' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.politics|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Streetwise
            {% if object|get_specialty:'streetwise' %}({{ object|get_specialty:'streetwise' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.streetwise|dots }}</div>
        <div class="col-sm">
            Stealth
            {% if object|get_specialty:'stealth' %}({{ object|get_specialty:'stealth' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.stealth|dots }}</div>
        <div class="col-sm">
            Science
            {% if object|get_specialty:'science' %}({{ object|get_specialty:'science' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.science|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Subterfuge
            {% if object|get_specialty:'subterfuge' %}({{ object|get_specialty:'subterfuge' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.subterfuge|dots }}</div>
        <div class="col-sm">
            Survival
            {% if object|get_specialty:'survival' %}({{ object|get_specialty:'survival' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.survival|dots }}</div>
        <div class="col-sm">
            Technology
            {% if object|get_specialty:'technology' %}({{ object|get_specialty:'technology' }}){% endif %}
        </div>
        <div class="col-sm dots">{{ object.technology|dots }}</div>
    </div>
</div>
