{% extends "characters/core/human/detail.html" %}
{% load dots %}
{% block basics %}
    {% include "characters/changeling/ctdhuman/basics_display_include.html" %}
{% endblock basics %}
{% block attributes %}
    {% include "characters/core/attribute_block/detail.html" %}
{% endblock attributes %}
{% block abilities %}
    {% include "characters/changeling/ctdhuman/ability_block_display.html" %}
{% endblock abilities %}
{% block backgrounds %}
    {% include "characters/core/background_block/detail.html" %}
{% endblock backgrounds %}
