{% extends "core/base.html" %}
{% block title %}
    {{ object.name }}
{% endblock title %}
{% block content %}
    <div class="centertext container">
        <div class="row">
            <h2 class="col-sm {{ object.chronicle.headings }}">{{ object.name }}</h2>
        </div>
        <div class="row">
            <div class="col-sm">Chronicle</div>
            <a class="col-sm" href="{{ object.chronicle.get_absolute_url }}">{{ object.chronicle }}</a>
        </div>
        <div class="row">
            <div class="col-sm">Plot Summary</div>
            <div class="col-sm">{{ object.plot_summary }}</div>
        </div>
        <div class="row">
            <h3 class="col-sm {{ object.chronicle.headings }}">Player Characters</h3>
        </div>
        {% for char in object.pcs.all %}
            <div class="row border">
                <a class="col-sm border" href="{{ char.get_absolute_url }}">{{ char.name }}</a>
                <div class="col-sm border">{{ char.type.title }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <h3 class="col-sm {{ object.chronicle.headings }}">Key NPCs</h3>
        </div>
        {% for char in object.key_npcs.all %}
            <div class="row border">
                <a class="col-sm border" href="{{ char.get_absolute_url }}">{{ char.name }}</a>
                <div class="col-sm border">{{ char.type.title }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <h3 class="col-sm {{ object.chronicle.headings }}">Key Locations</h3>
        </div>
        {% for loc in object.key_locations.all %}
            <div class="row border">
                <a class="col-sm border" href="{{ loc.get_absolute_url }}">{{ loc.name }}</a>
                <div class="col-sm border">{{ loc.type.title }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <h3 class="col-sm {{ object.chronicle.headings }}">Scenes</h3>
        </div>
        <div class="row border">
            <div class="col-sm border">
                <b>Title</b>
            </div>
            <div class="col-sm border">
                <b>Date Played</b>
            </div>
            <div class="col-sm border">
                <b>Date of Scene</b>
            </div>
        </div>
        {% for scene in scenes %}
            <div class="row border">
                <a class="col-sm border" href="{{ scene.get_absolute_url }}">{{ scene.name }}
                    {% if not scene.finished %}- <b>Ongoing</b>{% endif %}
                </a>
                <div class="col-sm">{{ scene.date_played }}</div>
                <div class="col-sm">{{ scene.date_of_scene }}</div>
            </div>
        {% endfor %}
        {% if request.user.is_authenticated %}
            <form method="post" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm">{{ form.name.label_tag }}</div>
                    <div class="col-sm">{{ form.name }}</div>
                    <div class="col-sm">{{ form.location.label_tag }}</div>
                    <div class="col-sm">{{ form.location }}</div>
                    <div class="col-sm">{{ form.date_of_scene.label_tag }}</div>
                    <div class="col-sm">{{ form.date_of_scene }}</div>
                    <div class="col-sm">
                        <input class="btn btn-primary" type="submit" value="Create Scene" />
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}
