{% extends "characters/changeling/ctdhuman/form.html" %}
{% load dots %}
{% block creation_title %}
    Create Changeling
{% endblock creation_title %}
{% block basics %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">Basics</h2>
    </div>
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
        <div class="col-sm">Seelie Legacy</div>
        <a class="col-sm" href="{{ form.seelie_legacy.get_absolute_url }}">{{ form.seelie_legacy }}</a>
        <div class="col-sm">Court</div>
        <div class="col-sm">{{ form.get_court_display }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Player</div>
        <div class="col-sm">{{ form.owner }}</div>
        <div class="col-sm">Unseelie Legacy</div>
        <a class="col-sm" href="{{ form.unseelie_legacy.get_absolute_url }}">{{ form.unseelie_legacy }}</a>
        <div class="col-sm">Kith</div>
        <a class="col-sm" href="{{ form.kith.get_absolute_url }}">{{ form.kith }}</a>
    </div>
    <div class="row">
        <div class="col-sm">Concept</div>
        <div class="col-sm">{{ form.concept }}</div>
        {% if form.house %}
            <div class="col-sm">House</div>
            <a class="col-sm" href="{{ form.house.get_absolute_url }}">{{ form.house }}</a>
        {% else %}
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        {% endif %}
        <div class="col-sm">Seeming</div>
        <div class="col-sm">{{ form.eeming_display }}</div>
    </div>
{% endblock basics %}
{% block advantages %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">Advantages</h2>
    </div>
    <div class="row">
        <div class="col-sm">Willpower</div>
        <div class="col-sm dots">{{ form.willpower|dots:10 }}</div>
        <div class="col-sm">Glamour</div>
        <div class="col-sm dots">{{ form.glamour|dots:10 }}</div>
        <div class="col-sm">Banality</div>
        <div class="col-sm dots">{{ form.banality|dots:10 }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Musing Threshold</div>
        <div class="col-sm dots">{{ form.get_musing_threshold_display }}</div>
        <div class="col-sm">Ravaging Threshold</div>
        <div class="col-sm dots">{{ form.get_ravaging_threshold_display }}</div>
        <div class="col-sm">Antithesis</div>
        <div class="col-sm">{{ form.antithesis }}</div>
    </div>
{% endblock advantages %}
{% block powers %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">Arts</h2>
    </div>
    <div class="row">
        <div class="col-sm">Autumn</div>
        <div class="col-sm dots">{{ form.autumn|dots }}</div>
        <div class="col-sm">Chicanery</div>
        <div class="col-sm dots">{{ form.chicanery|dots }}</div>
        <div class="col-sm">Chronos</div>
        <div class="col-sm dots">{{ form.chronos|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Contract</div>
        <div class="col-sm dots">{{ form.contract|dots }}</div>
        <div class="col-sm">Dragon's Ire</div>
        <div class="col-sm dots">{{ form.dragons_ire|dots }}</div>
        <div class="col-sm">Legerdemain</div>
        <div class="col-sm dots">{{ form.legerdemain|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Metamorphosis</div>
        <div class="col-sm dots">{{ form.metamorphosis|dots }}</div>
        <div class="col-sm">Naming</div>
        <div class="col-sm dots">{{ form.naming|dots }}</div>
        <div class="col-sm">Oneiromancy</div>
        <div class="col-sm dots">{{ form.oneiromancy|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Primal</div>
        <div class="col-sm dots">{{ form.primal|dots }}</div>
        <div class="col-sm">Pyretics</div>
        <div class="col-sm dots">{{ form.pyretics|dots }}</div>
        <div class="col-sm">Skycraft</div>
        <div class="col-sm dots">{{ form.skycraft|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Soothsay</div>
        <div class="col-sm dots">{{ form.soothsay|dots }}</div>
        <div class="col-sm">Sovereign</div>
        <div class="col-sm dots">{{ form.sovereign|dots }}</div>
        <div class="col-sm">Spring</div>
        <div class="col-sm dots">{{ form.spring|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Summer</div>
        <div class="col-sm dots">{{ form.summer|dots }}</div>
        <div class="col-sm">Wayfare</div>
        <div class="col-sm dots">{{ form.wayfare|dots }}</div>
        <div class="col-sm">Winter</div>
        <div class="col-sm dots">{{ form.winter|dots }}</div>
    </div>
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">Realms</h2>
    </div>
    <div class="row">
        <div class="col-sm">Actor</div>
        <div class="col-sm dots">{{ form.actor|dots }}</div>
        <div class="col-sm">Fae</div>
        <div class="col-sm dots">{{ form.fae|dots }}</div>
        <div class="col-sm">Nature</div>
        <div class="col-sm dots">{{ form.nature_realm|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Prop</div>
        <div class="col-sm dots">{{ form.prop|dots }}</div>
        <div class="col-sm">Scene</div>
        <div class="col-sm dots">{{ form.scene|dots }}</div>
        <div class="col-sm">Time</div>
        <div class="col-sm dots">{{ form.time|dots }}</div>
    </div>
{% endblock powers %}
{% block appearance %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">Appearance</h2>
    </div>
    <div class="row">
        <div class="col-sm">Date of Birth</div>
        <div class="col-sm">{{ form.date_of_birth }}</div>
        <div class="col-sm">Fae Mien</div>
        <div class="col-sm">{{ form.fae_mien }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Apparent Age</div>
        <div class="col-sm">{{ form.apparent_age }}</div>
        <div class="col-sm">Age</div>
        <div class="col-sm">{{ form.age }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ form.description }}</div>
    </div>
{% endblock appearance %}
{% block history %}
    <div class="row">
        <h2 class="col-sm {{ form.get_heading }}">History</h2>
    </div>
    <div class="row">
        <div class="col-sm">History</div>
        <div class="col-sm">{{ form.history }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Fae Name</div>
        <div class="col-sm">{{ form.true_name }}</div>
        <div class="col-sm">Date Ennobled</div>
        <div class="col-sm">{{ form.date_ennobled }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Crysalis</div>
        <div class="col-sm">{{ form.crysalis }}</div>
        <div class="col-sm">Date of Crysalis</div>
        <div class="col-sm">{{ form.date_of_crysalis }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Goals</div>
        <div class="col-sm">{{ form.goals }}</div>
        <div class="col-sm">Notes</div>
        <div class="col-sm">{{ form.notes }}</div>
    </div>
{% endblock history %}
