{% extends "core/form.html" %}
{% block contents %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">{{ form.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Cost</div>
        <div class="col-sm">{{ form.cost }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Type</div>
        <div class="col-sm">{{ form.totem_type }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.individual_traits }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.pack_traits }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.ban }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.description }}</div>
    </div>
{% endblock contents %}
